@font-face {
  font-family: "DMSans";
  src: url("../fonts/DM_Sans/DMSans-VariableFont_wght.ttf");
}
@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway/Raleway-VariableFont_wght.ttf");
}
@font-face {
  font-family: "Cutive Mono";
  src: url("../fonts/Cutive_Mono/CutiveMono-Regular.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #000000;
  color: #c4c4c4;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  font-family: "DMSans";
  font-style: normal;
}
body header {
  width: 100%;
  height: 7%;
  background: #295294;
  background: linear-gradient(100deg, #240942 10%, #272766 51%, #295294 100%);
  box-shadow: inset 0 -15px 30px 0 rgba(15, 15, 58, 0.6235294118);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  z-index: 100;
}
body header .header-logo {
  width: 15%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
body header .header-logo .logo {
  width: 50px;
}
body header .header-text {
  width: 60%;
  font-size: 25px;
}
body header span {
  height: 100%;
  width: 15%;
  font-size: 10px;
  font-weight: 600;
  text-shadow: 0 0 1px white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: 300ms;
  right: 0;
}
body .screen-box {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 93%;
  border-radius: 5px;
  background: transparent;
  flex-direction: row;
  position: relative;
}
body .screen-box.hide {
  display: none;
}
body .screen-box .sidebar {
  width: 70px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 1px solid black;
  background: #350165;
  background: linear-gradient(50deg, #135c72 0%, #100022 40%);
  position: relative;
}
body .screen-box .sidebar .user {
  border-radius: 50px;
  background: #1e0c4a;
  height: 50px;
  width: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  margin: 30px 0px;
  cursor: pointer;
  transition: 300ms;
}
body .screen-box .sidebar .user .user-symbol {
  width: 35px;
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
body .screen-box .sidebar .user .user-symbol .user-icon {
  width: 35px;
  border-radius: 15px;
  transition: 300ms;
  filter: invert(1);
}
body .screen-box .sidebar .user:hover {
  background: #043450;
}
body .screen-box .sidebar .user.open {
  height: 230px;
  border-radius: 5px;
}
body .screen-box .sidebar .user .user-menu {
  width: 40px;
  height: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 300ms;
  gap: 10px;
  margin: 20px 0;
}
body .screen-box .sidebar .user .user-menu.hide {
  display: none;
}
body .screen-box .sidebar .user .user-menu.appear {
  animation: 200ms appear;
}
body .screen-box .sidebar .user .user-menu .user-menu-item {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid #001b3a;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 15px;
  cursor: pointer;
  background: #070631;
  color: #d3d3d3;
  transition: 100ms ease-out;
}
body .screen-box .sidebar .user .user-menu .user-menu-item.active {
  background: #267cad;
  border: 1px solid #c7c7c7;
}
body .screen-box .sidebar .user .user-menu .user-menu-item.active > .icon {
  filter: invert(0%);
}
body .screen-box .sidebar .user .user-menu .user-menu-item .icon {
  width: 40px;
  height: 30px;
  filter: invert(100%);
}
body .screen-box .sidebar .user .user-menu .user-menu-item:hover {
  border: 1px solid white;
}
body .screen-box .module {
  height: 100%;
  display: none;
  flex-direction: column;
  width: 100%;
  position: relative;
}
body .screen-box .module.active {
  display: flex;
}
body .screen-box .module#shopModule .main-shop-view {
  width: 100%;
  height: 470px;
  display: flex;
  position: relative;
}
body .screen-box .module#shopModule .main-shop-view .shop-list-box {
  width: 70%;
  height: 100%;
  background: #000a18;
  color: #ffffff;
  overflow-y: scroll;
  position: relative;
}
body .screen-box .module#shopModule .main-shop-view .shop-list-box::-webkit-scrollbar {
  display: none;
}
body .screen-box .module#shopModule .main-shop-view .shop-list-box table {
  width: 100%;
  height: auto;
  border-collapse: collapse;
  position: relative;
}
body .screen-box .module#shopModule .main-shop-view .shop-list-box table thead {
  background: #000000;
  color: #ffffff;
  height: 25px;
  font-size: 15px;
  position: sticky;
  top: 0;
}
body .screen-box .module#shopModule .main-shop-view .shop-list-box table thead tr {
  box-shadow: 0 0 30px 0px rgba(74, 77, 255, 0.4666666667);
  width: 100%;
}
body .screen-box .module#shopModule .main-shop-view .shop-list-box table thead tr th {
  border-left: 2px solid #ffffff;
}
body .screen-box .module#shopModule .main-shop-view .shop-list-box table thead tr .th1 {
  border-left: none;
  width: 40px;
}
body .screen-box .module#shopModule .main-shop-view .shop-list-box table thead tr .th2 {
  width: 660px;
}
body .screen-box .module#shopModule .main-shop-view .shop-list-box table thead tr .th3 {
  width: 100px;
}
body .screen-box .module#shopModule .main-shop-view .shop-list-box table thead tr .th4 {
  width: 100px;
}
body .screen-box .module#shopModule .main-shop-view .shop-list-box table thead tr .th5 {
  width: 100px;
}
body .screen-box .module#shopModule .main-shop-view .shop-list-box table thead tr .th6 {
  width: 100px;
}
body .screen-box .module#shopModule .main-shop-view .shop-list-box table tbody {
  color: white;
  font-size: 14px;
}
body .screen-box .module#shopModule .main-shop-view .shop-list-box table tbody tr {
  height: 35px;
}
body .screen-box .module#shopModule .main-shop-view .shop-list-box table tbody tr:hover {
  background: #040a30;
}
body .screen-box .module#shopModule .main-shop-view .shop-list-box table tbody tr.selected {
  background: #130538;
}
body .screen-box .module#shopModule .main-shop-view .shop-list-box table tbody tr th,
body .screen-box .module#shopModule .main-shop-view .shop-list-box table tbody tr td {
  border-bottom: 1px solid #280096;
}
body .screen-box .module#shopModule .main-shop-view .shop-list-box table tbody tr td {
  border-left: 1px solid #0f2442;
  text-align: center;
}
body .screen-box .module#shopModule .main-shop-view .shop-list-box table tbody tr td:nth-child(2) {
  text-align: start;
  padding: 0 30px;
}
body .screen-box .module#shopModule .main-shop-view .shop-list-box table tbody tr td:nth-child(4) {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 35px;
  gap: 5px;
}
body .screen-box .module#shopModule .main-shop-view .shop-list-box table tbody tr td:nth-child(4) .amount-btn {
  width: 25px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
body .screen-box .module#shopModule .main-shop-view .shop-list-box table tbody tr td:nth-child(4) .amount-numb {
  cursor: default;
}
body .screen-box .module#shopModule .main-shop-view .item-box {
  width: 30%;
  height: 100%;
  border: 1px solid #000000;
  box-shadow: inset 0 0 10px 0 rgba(255, 255, 255, 0.2549019608);
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #232b53;
}
body .screen-box .module#shopModule .main-shop-view .item-box .item-search {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .screen-box .module#shopModule .main-shop-view .item-box .item-search #searchItem {
  width: 95%;
  height: 35px;
  background: white;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #808080;
  transition: 300ms;
}
body .screen-box .module#shopModule .main-shop-view .item-box .item-search #searchItem:hover {
  border: 1px solid #ffffff;
  box-shadow: 0 0 20px 2px rgba(255, 255, 255, 0.3137254902);
}
body .screen-box .module#shopModule .main-shop-view .item-box .item-search #searchItem:focus-within {
  border: 1px solid #808080;
  box-shadow: 0 0 20px 1px #ffffff;
}
body .screen-box .module#shopModule .main-shop-view .item-box .item-search #searchItem #typeSearch {
  width: 290px;
  height: 25px;
  margin: 0 0 0 10px;
  font-size: 20px;
  background: transparent;
  outline: none;
  border: none;
}
body .screen-box .module#shopModule .main-shop-view .item-box .item-search #searchItem .search-icon {
  width: 30px;
  margin: 0 8px 0 0;
}
body .screen-box .module#shopModule .main-shop-view .item-box .div-line {
  width: 90%;
  height: 1px;
  background: white;
  box-shadow: 0 0 5px 1px white;
  margin: 5px 0 30px 0;
}
body .screen-box .module#shopModule .main-shop-view .item-box .item-info {
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}
body .screen-box .module#shopModule .main-shop-view .item-box .item-info #itemTitle {
  width: 300px;
  height: 110px;
  display: flex;
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  color: #ffffff;
  text-shadow: 2px 2px 5px #212121;
  overflow: hidden;
}
body .screen-box .module#shopModule .main-shop-view .item-box .item-info #price {
  width: 300px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  font-weight: 500;
  color: #ffffff;
  text-shadow: 2px 2px 5px #212121;
}
body .screen-box .module#shopModule .main-shop-view .item-box .item-info #price span {
  font-size: 60px;
}
body .screen-box .module#shopModule .main-shop-view .item-box .item-info #itemDetail {
  width: 300px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 500;
  color: #ffffff;
  text-shadow: 2px 2px 5px #212121;
}
body .screen-box .module#shopModule .main-shop-view .item-box .item-info #codebarImg {
  width: 200px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .screen-box .module#shopModule .main-shop-view .item-box .item-info #codebarImg img {
  height: 100%;
}
body .screen-box .module#shopModule .main-shop-view .item-box .item-info #codebarNumb {
  width: 200px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .screen-box .module#shopModule .pago {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  background: #000a18;
  box-shadow: inset -20px -10px 50px 0 #041830;
  font-family: "Raleway";
}
body .screen-box .module#shopModule .pago .list-options {
  background: transparent;
  width: 250px;
  height: 170px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 40px;
  gap: 20px;
}
body .screen-box .module#shopModule .pago .list-options .list-btn {
  width: 250px;
  height: 40px;
  border-radius: 10px;
  font-size: 13px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
}
body .screen-box .module#shopModule .pago .list-options .list-btn#limpiarLista {
  color: #ff0000;
  background: transparent;
  align-items: center;
  border: 1px solid #700000;
  transition: 300ms;
}
body .screen-box .module#shopModule .pago .list-options .list-btn#limpiarLista:hover {
  background: #220000;
  border: 1px solid red;
}
body .screen-box .module#shopModule .pago .list-options .list-btn#guardarLista {
  background: transparent;
  background: linear-gradient(0deg, #727272 0%, transparent 10%);
  color: #dbdbdb;
  border: 1px solid #8a8a8a;
  transition: 300ms;
  filter: brightness(0.8);
}
body .screen-box .module#shopModule .pago .list-options .list-btn#guardarLista:hover {
  filter: brightness(1.1);
  background: linear-gradient(0deg, #727272 0%, transparent 15%);
  color: white;
  text-shadow: 0 0 30px white;
}
body .screen-box .module#shopModule .pago .list-options .list-btn#verListasGuardadas {
  background: #000000;
  border: 1px solid #8a8a8a;
  color: #bfbfbf;
  text-shadow: 1px 1px 3px #5e5e5e;
  transition: 300ms;
}
body .screen-box .module#shopModule .pago .list-options .list-btn#verListasGuardadas:hover {
  border: 1px solid white;
  color: white;
  text-shadow: 0 0 50px #ffffff;
}
body .screen-box .module#shopModule .pago .div-line {
  width: 1px;
  height: 85%;
  background: #757575;
  box-shadow: 0 0 5px 1px #454545;
  position: absolute;
  left: 310px;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .screen-box .module#shopModule .pago .payment-options {
  background: transparent;
  width: 600px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  position: absolute;
  right: 30%;
  gap: 5px;
}
body .screen-box .module#shopModule .pago .payment-options .payment-options-title {
  width: 500px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: start;
  font-size: 12px;
  font-weight: 200;
  color: #dbdbdb;
}
body .screen-box .module#shopModule .pago .payment-options .payment-options-box {
  width: 500px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .screen-box .module#shopModule .pago .payment-options .payment-options-box .payment-label {
  width: 200px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: end;
}
body .screen-box .module#shopModule .pago .payment-options .payment-options-box .payment-label p {
  width: 100%;
  height: 40px;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: end;
  color: rgb(255, 255, 255);
  padding: 0 20px;
}
body .screen-box .module#shopModule .pago .payment-options .payment-options-box .payment-input {
  width: 300px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
body .screen-box .module#shopModule .pago .payment-options .payment-options-box .payment-input input[type=number]::-webkit-inner-spin-button,
body .screen-box .module#shopModule .pago .payment-options .payment-options-box .payment-input input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
body .screen-box .module#shopModule .pago .payment-options .payment-options-box .payment-input input {
  width: 250px;
  height: 40px;
  border: 1px solid #939393;
  outline: none;
  font-size: 24px;
  border-radius: 5px;
  background: #000000;
  color: #d7d7d7;
  padding: 0 10px;
  transition: 300ms;
  font-family: "cutive mono";
}
body .screen-box .module#shopModule .pago .payment-options .payment-options-box .payment-input input:hover {
  border: 1px solid white;
  box-shadow: 0 0 40px rgba(255, 255, 255, 0.0745098039);
}
body .screen-box .module#shopModule .pago .payment-options .payment-options-box .payment-input input:focus {
  border: 1px solid white;
  box-shadow: 0 0 40px rgba(255, 255, 255, 0.1882352941);
}
body .screen-box .module#shopModule .pago .payment-options .payment-options-box .payment-input .input-efe {
  width: 250px;
  height: 40px;
  outline: none;
  font-size: 24px;
  border-radius: 5px;
  background: #000000;
  color: #d7d7d7;
  padding: 0 10px;
  display: flex;
  align-items: center;
  font-family: "cutive mono";
}
body .screen-box .module#shopModule .pago .total-options {
  background: transparent;
  height: 190px;
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 0 30px 10px 0;
}
body .screen-box .module#shopModule .pago .total-options .total-price {
  color: #ffffff;
  text-shadow: 0px 0px 2px #ffffff;
  font-size: 40px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "cutive mono";
}
body .screen-box .module#shopModule .pago .total-options .total-price span {
  font-size: 70px;
}
body .screen-box .module#shopModule .pago .total-options .accept-payment {
  color: #e6e6e6;
  font-size: 15px;
  width: 100%;
  height: 40px;
  background: #302766;
  background: linear-gradient(130deg, #1a1c51 60%, #295294 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  cursor: pointer;
  transition: 500ms;
}
body .screen-box .module#shopModule .pago .total-options .accept-payment:hover {
  border: 1px solid rgb(204, 0, 255);
}
body .screen-box .module#reportModule .main-report-view {
  width: 100%;
  height: 100%;
  background: #000a18;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
body .screen-box .module#reportModule .main-report-view .report-hub-box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  color: white;
  box-shadow: inset 0 0 70px 0px #041830;
  padding: 10px;
  gap: 10px;
}
body .screen-box .module#reportModule .main-report-view .report-hub-box .report-box {
  height: 100%;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body .screen-box .module#reportModule .main-report-view .report-hub-box .report-box.details {
  width: 75%;
  height: 100%;
}
body .screen-box .module#reportModule .main-report-view .report-hub-box .report-box.details .report-box-details-titles {
  width: 90%;
  height: 40px;
  margin: 0 0 10px 0;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  text-shadow: 0 0 30px white;
}
body .screen-box .module#reportModule .main-report-view .report-hub-box .report-box.details .report-box-details-titles .details-titles-title {
  width: 30%;
}
body .screen-box .module#reportModule .main-report-view .report-hub-box .report-box.details .report-box-details-titles .details-titles-btns-box {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
body .screen-box .module#reportModule .main-report-view .report-hub-box .report-box.details .report-box-details-titles .details-titles-btns-box ul {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
}
body .screen-box .module#reportModule .main-report-view .report-hub-box .report-box.details .report-box-details-titles .details-titles-btns-box ul .details-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 40px;
  border: 1px solid #4e4e4e;
  border-radius: 7px;
  cursor: pointer;
  box-shadow: 0 0 50px 0px #212a35;
  transition: 300ms;
  background: #0d0d12;
  color: #cccccc;
}
body .screen-box .module#reportModule .main-report-view .report-hub-box .report-box.details .report-box-details-titles .details-titles-btns-box ul .details-btn:hover {
  border: 1px solid #898989;
}
body .screen-box .module#reportModule .main-report-view .report-hub-box .report-box.details .report-box-details-titles .details-titles-btns-box ul .details-btn.active {
  background: transparent;
  color: white;
  box-shadow: 0 0 100px 0px #2788ff;
  cursor: default;
  text-shadow: 0 0 50px white;
  border: 1px solid #816dff;
}
body .screen-box .module#reportModule .main-report-view .report-hub-box .report-box.details .event-details-box {
  width: 100%;
  height: 90%;
  border-radius: 8px;
  box-shadow: 0 0 50px #002047;
  background: #000a18;
  padding: 0 10px;
  z-index: 100;
}
body .screen-box .module#reportModule .main-report-view .report-hub-box .report-box.details .event-details-box .details-box-module {
  width: 100%;
  height: 100%;
  display: none;
  flex-direction: column;
  align-items: end;
  overflow-y: scroll;
  gap: 20px;
}
body .screen-box .module#reportModule .main-report-view .report-hub-box .report-box.details .event-details-box .details-box-module::-webkit-scrollbar {
  display: none;
}
body .screen-box .module#reportModule .main-report-view .report-hub-box .report-box.details .event-details-box .details-box-module.active {
  display: flex;
}
body .screen-box .module#reportModule .main-report-view .report-hub-box .report-box.details .event-details-box .details-box-module .event-day {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 10px;
  padding: 0 5px;
}
body .screen-box .module#reportModule .main-report-view .report-hub-box .report-box.details .event-details-box .details-box-module .event-day .event-day-header {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  font-size: 10px;
  background: #000a18;
  background: linear-gradient(180deg, #000a18 80%, rgba(0, 10, 24, 0) 100%);
}
body .screen-box .module#reportModule .main-report-view .report-hub-box .report-box.details .event-details-box .details-box-module .event-day .event-day-header .day-date {
  font-size: 22px;
  width: 40%;
  text-shadow: 0 0 40px rgba(255, 255, 255, 0.8078431373);
}
body .screen-box .module#reportModule .main-report-view .report-hub-box .report-box.details .event-details-box .details-box-module .event-day .event-day-header .options-box {
  width: 60%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: end;
}
body .screen-box .module#reportModule .main-report-view .report-hub-box .report-box.details .event-details-box .details-box-module .event-day .event-day-header .options-box .details-summary {
  width: 50%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}
body .screen-box .module#reportModule .main-report-view .report-hub-box .report-box.details .event-details-box .details-box-module .event-day .event-day-header .options-box .details-summary .summary {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: end;
}
body .screen-box .module#reportModule .main-report-view .report-hub-box .report-box.details .event-details-box .details-box-module .event-day .event-day-header .options-box .details-summary .summary .summary-item {
  margin-bottom: 5px;
}
body .screen-box .module#reportModule .main-report-view .report-hub-box .report-box.details .event-details-box .details-box-module .event-day .event-day-header .options-box .details-summary .summary.labels {
  width: 40%;
}
body .screen-box .module#reportModule .main-report-view .report-hub-box .report-box.details .event-details-box .details-box-module .event-day .event-day-header .options-box .details-summary .summary.labels .label {
  height: 15px;
}
body .screen-box .module#reportModule .main-report-view .report-hub-box .report-box.details .event-details-box .details-box-module .event-day .event-day-header .options-box .details-summary .summary.cants {
  width: 30%;
  margin: 0 15% 0 0;
}
body .screen-box .module#reportModule .main-report-view .report-hub-box .report-box.details .event-details-box .details-box-module .event-day .event-day-header .options-box .details-summary .summary.cants .cant {
  height: 15px;
}
body .screen-box .module#reportModule .main-report-view .report-hub-box .report-box.details .event-details-box .details-box-module .event-day .event-day-header .options-box .daily-total-box {
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .screen-box .module#reportModule .main-report-view .report-hub-box .report-box.details .event-details-box .details-box-module .event-day .event-day-header .options-box .daily-total-box .daily-venta {
  height: 40px;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  font-size: 16px;
  text-shadow: 0 0 50px #000a18;
  border-radius: 10px;
  background: #0f5a36;
  border: 1px solid #27504a;
  box-shadow: 0 0 30px 1px #06011d;
  font-weight: 400;
  transition: all 300ms ease;
  cursor: pointer;
}
body .screen-box .module#reportModule .main-report-view .report-hub-box .report-box.details .event-details-box .details-box-module .event-day .event-day-header .options-box .daily-total-box .daily-venta:hover {
  background: #37385e;
  border: 1px solid #7f90ff;
}
body .screen-box .module#reportModule .main-report-view .report-hub-box .report-box.details .event-details-box .details-box-module .event-day .event-day-header .options-box .daily-total-box .daily-venta .daily-venta-numb {
  font-size: 22px;
}
body .screen-box .module#reportModule .main-report-view .report-hub-box .report-box.details .event-details-box .details-box-module .event-day .detailed-venta {
  width: 95%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px 30px 5px 5px;
  margin: 0 10px 15px 0;
  overflow: hidden;
  box-shadow: inset 0 0 50px 0px #1a1f3c;
  border-bottom: 1px solid #5683ff;
}
body .screen-box .module#reportModule .main-report-view .report-hub-box .report-box.details .event-details-box .details-box-module .event-day .detailed-venta:nth-last-child(1) {
  margin-bottom: 20px;
}
body .screen-box .module#reportModule .main-report-view .report-hub-box .report-box.details .event-details-box .details-box-module .event-day .detailed-venta .venta-head {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  box-shadow: inset 0 10px 10px 0 rgba(80, 127, 255, 0.2431372549);
}
body .screen-box .module#reportModule .main-report-view .report-hub-box .report-box.details .event-details-box .details-box-module .event-day .detailed-venta .venta-head .head-item {
  width: 30%;
  height: 40px;
  font-size: 16px;
  display: flex;
  align-items: center;
}
body .screen-box .module#reportModule .main-report-view .report-hub-box .report-box.details .event-details-box .details-box-module .event-day .detailed-venta .venta-head .head-item.venta-id {
  font-family: monospace;
  font-weight: 100;
  justify-content: center;
}
body .screen-box .module#reportModule .main-report-view .report-hub-box .report-box.details .event-details-box .details-box-module .event-day .detailed-venta .venta-head .head-item.date-hour {
  font-size: 14px;
  align-items: start;
  padding: 5px;
}
body .screen-box .module#reportModule .main-report-view .report-hub-box .report-box.details .event-details-box .details-box-module .event-day .detailed-venta .venta-head .head-item.venta-price-box {
  justify-content: end;
}
body .screen-box .module#reportModule .main-report-view .report-hub-box .report-box.details .event-details-box .details-box-module .event-day .detailed-venta .venta-head .head-item.venta-price-box .price-carats {
  height: 30px;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 15px;
  font-size: 16px;
  text-shadow: 0 0 50px #000a18;
  border-radius: 5px 20px 5px 5px;
  background: #1c2e2e;
  border: 1px solid #27504a;
  box-shadow: 0 0 30px 1px #06011d;
  font-weight: 400;
  transition: all 300ms ease;
  cursor: pointer;
}
body .screen-box .module#reportModule .main-report-view .report-hub-box .report-box.details .event-details-box .details-box-module .event-day .detailed-venta .venta-head .head-item.venta-price-box .price-carats:hover {
  background: #293c57;
  border: 1px solid #58a79b;
}
body .screen-box .module#reportModule .main-report-view .report-hub-box .report-box.details .event-details-box .details-box-module .event-day .detailed-venta .venta-head .head-item.venta-price-box .price-carats .price-numb {
  font-size: 20px;
}
body .screen-box .module#reportModule .main-report-view .report-hub-box .report-box.details .event-details-box .details-box-module .event-day .detailed-venta .div-line {
  width: 90%;
  height: 1px;
  background: #000a18;
  background: linear-gradient(90deg, #000a18 10%, #0046a8 40%, #75afff 50%, #0046a8 60%, #000a18 90%);
}
body .screen-box .module#reportModule .main-report-view .report-hub-box .report-box.details .event-details-box .details-box-module .event-day .detailed-venta .venta-details {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: end;
}
body .screen-box .module#reportModule .main-report-view .report-hub-box .report-box.details .event-details-box .details-box-module .event-day .detailed-venta .venta-details .details-summary {
  width: 50%;
  height: auto;
  display: flex;
  justify-content: end;
  font-size: 14px;
}
body .screen-box .module#reportModule .main-report-view .report-hub-box .report-box.details .event-details-box .details-box-module .event-day .detailed-venta .venta-details .details-summary .summary {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: end;
}
body .screen-box .module#reportModule .main-report-view .report-hub-box .report-box.details .event-details-box .details-box-module .event-day .detailed-venta .venta-details .details-summary .summary .summary-item {
  margin-top: 5px;
}
body .screen-box .module#reportModule .main-report-view .report-hub-box .report-box.details .event-details-box .details-box-module .event-day .detailed-venta .venta-details .details-summary .summary .summary-item:nth-last-child(1) {
  margin-bottom: 5px;
}
body .screen-box .module#reportModule .main-report-view .report-hub-box .report-box.details .event-details-box .details-box-module .event-day .detailed-venta .venta-details .details-summary .summary.labels {
  width: 40%;
}
body .screen-box .module#reportModule .main-report-view .report-hub-box .report-box.details .event-details-box .details-box-module .event-day .detailed-venta .venta-details .details-summary .summary.labels .label {
  height: 20px;
}
body .screen-box .module#reportModule .main-report-view .report-hub-box .report-box.details .event-details-box .details-box-module .event-day .detailed-venta .venta-details .details-summary .summary.cants {
  width: 30%;
  margin: 0 15% 0 0;
}
body .screen-box .module#reportModule .main-report-view .report-hub-box .report-box.details .event-details-box .details-box-module .event-day .detailed-venta .venta-details .details-summary .summary.cants .cant {
  height: 20px;
}
body .screen-box .module#reportModule .main-report-view .report-hub-box .report-box.details .event-details-box .details-box-module .event-day .detailed-venta .venta-body {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: 15px;
}
body .screen-box .module#reportModule .main-report-view .report-hub-box .report-box.details .event-details-box .details-box-module .event-day .detailed-venta .venta-body .venta-item {
  width: 100%;
  height: 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #24225c;
  border-radius: 5px;
}
body .screen-box .module#reportModule .main-report-view .report-hub-box .report-box.details .event-details-box .details-box-module .event-day .detailed-venta .venta-body .venta-item:nth-child(odd) {
  background: #0d0c29;
}
body .screen-box .module#reportModule .main-report-view .report-hub-box .report-box.details .event-details-box .details-box-module .event-day .detailed-venta .venta-body .venta-item .bodypart {
  width: 100%;
  height: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
body .screen-box .module#reportModule .main-report-view .report-hub-box .report-box.details .event-details-box .details-box-module .event-day .detailed-venta .venta-body .venta-item .bodypart .item-info {
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .screen-box .module#reportModule .main-report-view .report-hub-box .report-box.details .event-details-box .details-box-module .event-day .detailed-venta .venta-body .venta-item .bodypart .item-info.cant {
  width: 5%;
  justify-content: end;
}
body .screen-box .module#reportModule .main-report-view .report-hub-box .report-box.details .event-details-box .details-box-module .event-day .detailed-venta .venta-body .venta-item .bodypart .item-info.titulo {
  width: 40%;
  justify-content: start;
  padding: 0 30px;
}
body .screen-box .module#reportModule .main-report-view .report-hub-box .report-box.details .event-details-box .details-box-module .event-day .detailed-venta .venta-body .venta-item .bodypart .item-info.codebar {
  width: 15%;
  justify-content: center;
  padding: 0 30px;
}
body .screen-box .module#reportModule .main-report-view .report-hub-box .report-box.details .event-details-box .details-box-module .event-day .detailed-venta .venta-body .venta-item .bodypart .item-info.precio {
  width: 10%;
}
body .screen-box .module#reportModule .main-report-view .report-hub-box .report-box.details .event-details-box .details-box-module .event-day .detailed-venta .venta-body .venta-item .bodypart .item-info.disc {
  width: 10%;
}
body .screen-box .module#reportModule .main-report-view .report-hub-box .report-box.details .event-details-box .details-box-module .event-day .detailed-venta .venta-body .venta-item .bodypart .item-info.subtotal {
  width: 20%;
}
body .screen-box .module#reportModule .main-report-view .report-hub-box .report-box.balance {
  width: 25%;
  height: 98%;
  border-radius: 8px;
  box-shadow: 0 0 50px #002047;
  background: #000a18;
}
body .screen-box .module#dataModule .main-data-view {
  width: 100%;
  height: 100%;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background: #000a18;
  background: linear-gradient(140deg, #000a18 40%, #17455a 100%);
  -webkit-backdrop-filter: blur(100px);
          backdrop-filter: blur(100px);
}
body .screen-box .module#dataModule .main-data-view .data-hub {
  width: 95%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .screen-box .module#dataModule .main-data-view .data-hub .data-hub-section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body .screen-box .module#dataModule .main-data-view .data-hub .data-hub-section.up {
  height: 65%;
}
body .screen-box .module#dataModule .main-data-view .data-hub .data-hub-section.down {
  height: 35%;
  align-items: end;
}
body .screen-box .module#dataModule .main-data-view .data-hub .data-hub-section .section {
  background: #000a18;
  border-radius: 30px;
  border: 1px solid rgba(255, 255, 255, 0.1176470588);
  display: flex;
  flex-direction: column;
  padding: 25px 25px 10px;
}
body .screen-box .module#dataModule .main-data-view .data-hub .data-hub-section .section .section-title {
  font-size: 24px;
  text-shadow: 0 0 30px rgba(255, 255, 255, 0.6509803922);
}
body .screen-box .module#dataModule .main-data-view .data-hub .data-hub-section .section.utilities {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
body .screen-box .module#dataModule .main-data-view .data-hub .data-hub-section .section.utilities div {
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .screen-box .module#dataModule .main-data-view .data-hub .data-hub-section .section.inventario {
  border: none;
  width: 70%;
  height: 100%;
  gap: 20px;
  background: transparent;
  align-items: center;
}
body .screen-box .module#dataModule .main-data-view .data-hub .data-hub-section .section.inventario .section-title {
  height: 10%;
  align-self: flex-start;
}
body .screen-box .module#dataModule .main-data-view .data-hub .data-hub-section .section.inventario .section-body {
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
body .screen-box .module#dataModule .main-data-view .data-hub .data-hub-section .section.inventario .section-body .bodypart {
  height: 100%;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .screen-box .module#dataModule .main-data-view .data-hub .data-hub-section .section.inventario .section-body .bodypart .data-btn {
  width: 220px;
  height: 40px;
  font-size: 14px;
  background: rgba(255, 255, 255, 0.0196078431);
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.1764705882);
  box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.3098039216);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 15px 0;
  transition: 300ms;
}
body .screen-box .module#dataModule .main-data-view .data-hub .data-hub-section .section.inventario .section-body .bodypart .data-btn:hover {
  background: rgba(12, 19, 73, 0.8156862745);
  border: 1px solid rgba(255, 255, 255, 0.5411764706);
}
body .screen-box .module#dataModule .main-data-view .data-hub .data-hub-section .section.perfil {
  width: 100%;
  height: 90%;
  display: flex;
}
body .screen-box .module#dataModule .main-data-view .data-hub .data-hub-section .section.perfil .logout {
  width: 50px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 40px 0;
  border: 1px solid red;
  border-radius: 5px;
  background: rgba(255, 0, 0, 0.128);
  transition: 300ms;
  cursor: pointer;
}
body .screen-box .module#dataModule .main-data-view .data-hub .data-hub-section .section.perfil .logout:hover {
  background: red;
}
body .screen-box .module#dataModule .section-data-view {
  position: absolute;
  top: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  transition: 300ms;
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
}
body .screen-box .module#dataModule .section-data-view.active {
  display: flex;
  animation: appear 300ms;
}
body .screen-box .module#dataModule .section-data-view.disappear {
  animation: disappear 310ms;
}
body .screen-box .module#dataModule .section-data-view .close-win {
  width: 30px;
  height: 30px;
  left: 1%;
  top: 4%;
  position: absolute;
  cursor: pointer;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(180deg);
  z-index: 1000;
}
body .screen-box .module#dataModule .section-data-view .close-win img {
  width: 100%;
  filter: invert(100%);
}
body .screen-box .module#dataModule .section-data-view .article-module {
  width: 100%;
  height: 100%;
  display: none;
  align-items: center;
  justify-content: center;
}
body .screen-box .module#dataModule .section-data-view .article-module.active {
  display: flex;
}
body .screen-box .module#dataModule .section-data-view .article-module .data-box {
  width: 98%;
  height: 97%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  overflow: hidden;
}
body .screen-box .module#dataModule .section-data-view .article-module .data-box .row {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
body .screen-box .module#dataModule .section-data-view .article-module .data-box .row.one {
  height: 10%;
}
body .screen-box .module#dataModule .section-data-view .article-module .data-box .row.one .exit-space {
  height: 100%;
  width: 5%;
}
body .screen-box .module#dataModule .section-data-view .article-module .data-box .row.one .box-name {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .screen-box .module#dataModule .section-data-view .article-module .data-box .row.one .box-name .text-name {
  font-size: 34px;
}
body .screen-box .module#dataModule .section-data-view .article-module .data-box .row.two {
  height: 90%;
}
body .screen-box .module#dataModule .section-data-view .article-module .data-box .row.two .win-menu {
  height: 100%;
  width: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: #ffffff;
  border-radius: 15px;
  overflow: hidden;
}
body .screen-box .module#dataModule .section-data-view .article-module .data-box .row.two .win-menu .index-space {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 10px;
  overflow-y: scroll;
  color: black;
}
body .screen-box .module#dataModule .section-data-view .article-module .data-box .row.two .win-menu .index-space::-webkit-scrollbar {
  display: none;
}
body .screen-box .module#dataModule .section-data-view .article-module .data-box .row.two .win-menu .index-space .main-selectors {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
body .screen-box .module#dataModule .section-data-view .article-module .data-box .row.two .win-menu .index-space .main-selectors .main-index-btn {
  width: 100%;
  height: 35px;
  background: #e0e0e0;
  display: flex;
  align-items: center;
  padding: 0 15px;
  border-radius: 50px;
  border: 1px solid #ffffff;
  cursor: pointer;
  transition: 200ms;
}
body .screen-box .module#dataModule .section-data-view .article-module .data-box .row.two .win-menu .index-space .main-selectors .main-index-btn:hover {
  background: #d2d2d2;
  border: 1px solid #aeaeae;
}
body .screen-box .module#dataModule .section-data-view .article-module .data-box .row.two .win-menu .index-space .main-selectors .main-index-btn.active {
  background: black;
  color: white;
  border: 1px solid white;
}
body .screen-box .module#dataModule .section-data-view .article-module .data-box .row.two .win-menu .options-index {
  width: 100%;
  height: 15%;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .screen-box .module#dataModule .section-data-view .article-module .data-box .row.two .win-menu .options-index .add-item {
  font-size: 20px;
  transition: 200ms;
  cursor: pointer;
}
body .screen-box .module#dataModule .section-data-view .article-module .data-box .row.two .win-menu .options-index .add-item:hover {
  text-shadow: 0 0 1px black;
}
body .screen-box .module#dataModule .section-data-view .article-module .data-box .row.two .win-tables {
  height: 100%;
  width: 84%;
  background: rgba(0, 0, 0, 0.4196078431);
  border-radius: 15px;
  border: 1px solid black;
  overflow: hidden;
}
body .screen-box .module#dataModule .section-data-view .article-module .data-box .row.two .win-tables .heads {
  width: 100%;
  height: 7%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
}
body .screen-box .module#dataModule .section-data-view .article-module .data-box .row.two .win-tables .heads .all-items-head {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
body .screen-box .module#dataModule .section-data-view .article-module .data-box .row.two .win-tables .heads .all-items-head .head-item {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  border-right: 1px solid white;
}
body .screen-box .module#dataModule .section-data-view .article-module .data-box .row.two .win-tables .heads .all-items-head .head-item:nth-last-child(1) {
  border-right: none;
}
body .screen-box .module#dataModule .section-data-view .article-module .data-box .row.two .win-tables .heads .all-items-head .head-item.list-position {
  width: 4%;
}
body .screen-box .module#dataModule .section-data-view .article-module .data-box .row.two .win-tables .heads .all-items-head .head-item.product-name {
  width: 25%;
  justify-content: start;
  padding: 0 30px;
}
body .screen-box .module#dataModule .section-data-view .article-module .data-box .row.two .win-tables .heads .all-items-head .head-item.product-ed {
  width: 6%;
}
body .screen-box .module#dataModule .section-data-view .article-module .data-box .row.two .win-tables .heads .all-items-head .head-item.product-price {
  width: 10%;
}
body .screen-box .module#dataModule .section-data-view .article-module .data-box .row.two .win-tables .heads .all-items-head .head-item.product-barcode {
  width: 15%;
}
body .screen-box .module#dataModule .section-data-view .article-module .data-box .row.two .win-tables .heads .all-items-head .head-item.product-specs {
  width: 10%;
}
body .screen-box .module#dataModule .section-data-view .article-module .data-box .row.two .win-tables .heads .all-items-head .head-item.product-providor {
  width: 5%;
}
body .screen-box .module#dataModule .section-data-view .article-module .data-box .row.two .win-tables .heads .all-items-head .head-item.last-product-inserc {
  width: 12%;
}
body .screen-box .module#dataModule .section-data-view .article-module .data-box .row.two .win-tables .heads .all-items-head .head-item.init-cant {
  width: 4%;
}
body .screen-box .module#dataModule .section-data-view .article-module .data-box .row.two .win-tables .heads .all-items-head .head-item.current-cant {
  width: 9%;
}
body .screen-box .module#dataModule .section-data-view .article-module .data-box .row.two .win-tables .items-tables {
  width: 100%;
  height: 93%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
body .screen-box .module#dataModule .section-data-view .article-module .data-box .row.two .win-tables .items-tables .inv-table {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  overflow: scroll;
}
body .screen-box .module#dataModule .section-data-view .article-module .data-box .row.two .win-tables .items-tables .inv-table::-webkit-scrollbar {
  display: none;
}
body .screen-box .module#dataModule .section-data-view .article-module .data-box .row.two .win-tables .items-tables .inv-table .storage-item {
  width: 100%;
  min-height: 40px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  box-shadow: inset 0 0 30px 0px rgba(52, 4, 226, 0.1647058824);
  border-bottom: 1px solid rgba(121, 121, 121, 0.5960784314);
  cursor: pointer;
}
body .screen-box .module#dataModule .section-data-view .article-module .data-box .row.two .win-tables .items-tables .inv-table .storage-item:nth-child(even) {
  background: rgba(0, 0, 0, 0.6235294118);
}
body .screen-box .module#dataModule .section-data-view .article-module .data-box .row.two .win-tables .items-tables .inv-table .storage-item:hover {
  background: #130c27;
}
body .screen-box .module#dataModule .section-data-view .article-module .data-box .row.two .win-tables .items-tables .inv-table .storage-item:nth-last-child(1) {
  margin-bottom: 50px;
}
body .screen-box .module#dataModule .section-data-view .article-module .data-box .row.two .win-tables .items-tables .inv-table .storage-item .stg-item-prop {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid rgba(131, 131, 131, 0.0745098039);
}
body .screen-box .module#dataModule .section-data-view .article-module .data-box .row.two .win-tables .items-tables .inv-table .storage-item .stg-item-prop:nth-last-child(1) {
  border-right: none;
}
body .screen-box .module#dataModule .section-data-view .article-module .data-box .row.two .win-tables .items-tables .inv-table .storage-item .stg-item-prop.item-list-option {
  width: 4%;
}
body .screen-box .module#dataModule .section-data-view .article-module .data-box .row.two .win-tables .items-tables .inv-table .storage-item .stg-item-prop.item-name {
  width: 25%;
  justify-content: start;
  padding: 0 20px;
}
body .screen-box .module#dataModule .section-data-view .article-module .data-box .row.two .win-tables .items-tables .inv-table .storage-item .stg-item-prop.item-ed {
  width: 6%;
}
body .screen-box .module#dataModule .section-data-view .article-module .data-box .row.two .win-tables .items-tables .inv-table .storage-item .stg-item-prop.item-barcode {
  width: 15%;
}
body .screen-box .module#dataModule .section-data-view .article-module .data-box .row.two .win-tables .items-tables .inv-table .storage-item .stg-item-prop.item-spec {
  width: 10%;
}
body .screen-box .module#dataModule .section-data-view .article-module .data-box .row.two .win-tables .items-tables .inv-table .storage-item .stg-item-prop.item-providor {
  width: 5%;
}
body .screen-box .module#dataModule .section-data-view .article-module .data-box .row.two .win-tables .items-tables .inv-table .storage-item .stg-item-prop.item-price {
  width: 10%;
}
body .screen-box .module#dataModule .section-data-view .article-module .data-box .row.two .win-tables .items-tables .inv-table .storage-item .stg-item-prop.last-item-inserc {
  width: 12%;
}
body .screen-box .module#dataModule .section-data-view .article-module .data-box .row.two .win-tables .items-tables .inv-table .storage-item .stg-item-prop.item-init-cant {
  width: 4%;
}
body .screen-box .module#dataModule .section-data-view .article-module .data-box .row.two .win-tables .items-tables .inv-table .storage-item .stg-item-prop.item-current-cant {
  width: 9%;
}
body .screen-box .module#dataModule .section-data-view .article-module .data-box .row.two .win-tables .items-tables .fade-line {
  background: transparent;
  width: 100%;
  height: 5%;
  position: absolute;
  bottom: 0;
  background: #000000;
  background: linear-gradient(0deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes disappear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}/*# sourceMappingURL=styles.css.map */