<div class="deleteBook-screen" id="deleteBookScreen">
  <div class="deleteBook-box">
    <div class="tag" id="deleteBookTag">Estás a punto de eliminar la siguiente información:</div>
    <div class="info-box">
      <div class="info-label">
        ID del Libro:
        <p class="info-input" id="bookIdLabel"></p>
      </div>
      <div class="info-label">
        Título:
        <p class="info-input" id="bookTitleLabel"></p>
      </div>
      <div class="info-label">
        Autor:
        <p class="info-input" id="bookAuthorLabel"></p>
      </div>
      <div class="info-label">
        Año:
        <p class="info-input" id="bookYearLabel"></p>
      </div>

      <div class="info-label">
        Editorial:
        <p class="info-input" id="bookEditorialLabel"></p>
      </div>
      <div class="info-label">
        Géneros:
        <p class="info-input" id="bookGenresLabel"></p>
      </div>
      <div class="info-label">
        Código de Barras:
        <p class="info-input" id="bookBarcodeLabel"></p>
      </div>
      <div class="info-label">
        Precio:
        <p class="info-input" id="bookPriceLabel"></p>
      </div>
    </div>

    <div class="btns">
      <button class="cancel" id="cancelDeleteBookBtn">Cancelar</button>
      <button class="accept" id="acceptDeleteBookBtn">Continuar</button>
    </div>

  </div>

</div>

<div class="confirmDeleteBook-screen" id="confirmDeleteBookScreen">
  <div class="confirmDeleteBook-box">
    <div class="tag" id="confirmDeleteBookTag">¿Estás segura? La información se borrará del sistema y no hay forma de
      deshacer esta acción</div>


    <div class="btns">
      <button class="cancel" id="cancelConfirmdeleteBookBtn">Cancelar</button>
      <button class="accept" id="acceptConfirmdeleteBookBtn">Continuar con la eliminación</button>
    </div>

  </div>

</div>