<div class="editBook-screen" id="editBookScreen">
  <div class="editBook-formBox">
    <div class="tag" id="editBookTag">Editar libro</div>
    <form class="editBook-form" id="editBookForm">

      <div class="btns">
        <button type="button" class="cancel" id="cancelEditBookBtn">Cancelar</button>
        <button type="submit" class="accept" id="AcceptEditBookBtn">Aceptar</button>
      </div>
    </form>
  </div>

</div>