@font-face {
  font-family: 'DMSans';
  src: url('../../../fonts/DM_Sans/DMSans-VariableFont_wght.ttf');
  //Esta fuente es para las pantallas informativas sobre los productos
}

@font-face {
  font-family: 'Raleway';
  src: url('../../../onts/Raleway/Raleway-VariableFont_wght.ttf');
  //Esta fuente es para las pantallas quwe tengan que ver con información sobre el negocio
}

@font-face {
  font-family: 'Cutive Mono';
  src: url('../../../fonts/Cutive_Mono/CutiveMono-Regular.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100svh;
  width: 100%;
  display: block;
  position: relative;
  color: #c4c4c4;
  font-family: 'DMSans';
  font-style: normal;
  z-index: 0;

  backdrop-filter: blur(100px);
  background: #000a18;
  background: linear-gradient(140deg, #000a18 50%, #17455a 100%);
  backdrop-filter: brightness(1.5);


  .ver-box {
    position: absolute;
    width: 5%;
    height: 25px;
    background: black;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    margin-left: 100px;
    right: 0;
    top: 0;
    z-index: 100;
  }

  .logo-box {
    position: relative;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    z-index: 30;
    animation: appear 300ms ease;

    .logo {
      height: 80%;
    }
  }
}


@keyframes appear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes disappear {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}