<div class="add-screen" id="addScreen">
  <div class="add-formBox">
    <div class="tag">Añadir nuevo producto</div>
    <form class="form" id="addForm">
      <label for="nameInput">Nuevo proveedor:</label>
      <input type="text" name="provName" id="nameInput" required>
      <label for="respInput">Nombre del responsable:</label>
      <input type="text" name="provResp" id="respInput" required>
      <label for="numberInput">Número de contacto:</label>
      <input type="text" name="provNumber" id="numberInput" maxlength="10">

      <div class="btns">
        <button type="button" class="cancel" id="cancelBtn">Cancelar</button>
        <button type="submit" class="accept" id="AddBtn">Aceptar</button>
      </div>
    </form>
  </div>

</div>