<div class="ask-screen" id="askScreen">
  <div class="ask-box">
    <div class="tag">Selecciona un tipo de producto</div>
    <div class="product-types">
      <div class="type-btn book">Libro
        <div class="innerType-line bookline"></div>
      </div>

      <div class="type-btn separ">Separador
        <div class="innerType-line separline"></div>
      </div>

      <div class="type-btn mag">Revista / Cómic
        <div class="innerType-line magline"></div>
      </div>

      <div class="type-btn toy">Juguete
        <div class="innerType-line toyline"></div>
      </div>

      <div class="type-btn paper">Papelería
        <div class="innerType-line paperline"></div>
      </div>

      <div class="type-btn other">Otro
        <div class="innerType-line otherline"></div>
      </div>
    </div>
    <div class="cancel-type" id="cancelType">Cancelar</div>
  </div>

</div>