<main class="article-socket" id="articleSocket">

  <div class="dataconfig-box">
    <div class="head">

      <div class="name-box">
        <p class="name-text">Productos</p>
      </div>
      <div class="navbar">
        <div class="navbar-btn add" id="dataconfigAddBtn">+ Añadir Producto
          <div class="innerDiv-line"></div>
        </div>
      </div>

    </div>
    <div class="body">

      <div class="main-screen">
        <div class="cards-box" id="configProdBox">

        </div>
        <div class="bttm-borderline"></div>
      </div>

    </div>
  </div>
</main>