<header>
  <div class="logo-box">
    <img class="logo" src="/img/logotipo.png" alt="">
    <h1 class="text">Data Configuration</h1>
  </div>
  <div class="ver-box">
    ver. 0.6.9
  </div>
</header>


<div class="go-back" id="goBack">
  <img src="/svg/exit.svg" alt="">
</div>