<main class="configdata-view">
  <div class="config-hub storage-config">
    <div class="option-btn" id="dataconfigViewStorage" data-fetch="products">Productos pend.</div>

    <div class="option-btn" id="dataconfigViewEditorials" data-fetch="editorials">Editoriales</div>

    <div class="option-btn" id="dataconfigViewGenres" data-fetch="genres">Géneros y subgéneros</div>

    <div class="option-btn" id="dataconfigViewProvidors" data-fetch="providors">Proveedores</div>

    <div class="option-btn" id="dataconfigViewEmployees" data-fetch="employees">Employees</div>

    <div class="option-btn" id="dataconfigViewDiscounts" data-fetch="discounts">Descuentos</div>

    <div class="option-btn" id="dataconfigViewParties" data-fetch="parties">Eventos pend.</div>

    <div class="option-btn" id="dataconfigViewClients" data-fetch="customers">Customers</div>

    <div class="option-btn" id="dataconfigViewTickets" data-fetch="tickets">Tickets</div>


  </div>
  <div class="config-hub profile-config">
    <div class="profile-box">
      <div class="btns-box">
        <div class="change-password option-btn" data-fetch="passwords">Edit passwords</div>
      </div>
      <div class="log-box">

        <div class="logout" id="dataconfigLogout">Logout</div>
      </div>
    </div>

  </div>
</main>