<div class="add-screen" id="addScreen">
  <div class="add-formBox">
    <div class="tag">Añadir nueva editorial</div>
    <form class="form" id="addForm">
      <label for="nameInput">Nombre de la editorial:</label>
      <input type="text" name="editName" id="nameInput" required>

      <div class="btns">
        <button type="button" class="cancel" id="cancelBtn">Cancelar</button>
        <button type="submit" class="accept" id="AddBtn">Aceptar</button>
      </div>
    </form>
  </div>

</div>