<div class="deleteEditorial-screen" id="deleteEditorialScreen">
  <div class="delete-box">
    <div class="tag" id="deleteTag">Eliminar la siguiente información:</div>
    <div class="info-box">
      <div class="info-label">
        ID de la editorial:
        <p class="info-input" id="idLabel"></p>
      </div>
      <div class="info-label">
        Nombre:
        <p class="info-input" id="nameLabel"></p>
      </div>
    </div>

    <div class="btns">
      <button class="cancel" id="cancelDeleteEditorialBtn">Cancelar</button>
      <button class="accept" id="acceptDeleteEditorialBtn">Continuar</button>
    </div>
    
  </div>

</div>

<div class="confirmDelete-screen" id="confirmDeleteScreen">
  <div class="confirmDelete-box">
    <div class="tag" id="confirmDeleteTag">¿Estás segura? La información se borrará del sistema y no hay forma de
      deshacer esta acción</div>


    <div class="btns">
      <button class="cancel" id="cancelConfirmDeleteEditorialBtn">Cancelar</button>
      <button class="accept" id="acceptConfirmDeleteEditorialBtn">Continuar con la eliminación</button>
    </div>

  </div>

</div>