@font-face {
  font-family: "DMSans";
  src: url("../../../fonts/DM_Sans/DMSans-VariableFont_wght.ttf");
}
@font-face {
  font-family: "Raleway";
  src: url("../../../fonts/Raleway/Raleway-VariableFont_wght.ttf");
}
@font-face {
  font-family: "Cutive Mono";
  src: url("../../../fonts/Cutive_Mono/CutiveMono-Regular.ttf");
}
body .screen-box #appModule .report-view {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: #000a18;
  color: white;
  box-shadow: inset 0 0 70px 0px #041830;
  padding: 10px;
  gap: 10px;
}
body .screen-box #appModule .report-view .report-box {
  height: 100%;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body .screen-box #appModule .report-view .report-box.details {
  width: 75%;
  height: 100%;
}
body .screen-box #appModule .report-view .report-box.details .report-box-details-titles {
  width: 90%;
  height: 40px;
  margin: 0 0 10px 0;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  text-shadow: 0 0 30px white;
}
body .screen-box #appModule .report-view .report-box.details .report-box-details-titles .details-titles-title {
  width: 30%;
}
body .screen-box #appModule .report-view .report-box.details .report-box-details-titles .details-titles-btns-box {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
body .screen-box #appModule .report-view .report-box.details .report-box-details-titles .details-titles-btns-box ul {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
}
body .screen-box #appModule .report-view .report-box.details .report-box-details-titles .details-titles-btns-box ul .details-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 40px;
  border: 1px solid #4e4e4e;
  border-radius: 7px;
  cursor: pointer;
  box-shadow: 0 0 50px 0px #212a35;
  transition: 300ms;
  background: #0d0d12;
  color: #cccccc;
}
body .screen-box #appModule .report-view .report-box.details .report-box-details-titles .details-titles-btns-box ul .details-btn:hover {
  border: 1px solid #898989;
}
body .screen-box #appModule .report-view .report-box.details .report-box-details-titles .details-titles-btns-box ul .details-btn.active {
  background: transparent;
  color: white;
  box-shadow: 0 0 100px 0px #2788ff;
  cursor: default;
  text-shadow: 0 0 50px white;
  border: 1px solid #816dff;
}
body .screen-box #appModule .report-view .report-box.details .event-details-box {
  width: 100%;
  height: 90%;
  border-radius: 8px;
  box-shadow: 0 0 50px #002047;
  background: #000a18;
  padding: 0 10px;
  z-index: 100;
}
body .screen-box #appModule .report-view .report-box.details .event-details-box .details-box-module {
  width: 100%;
  height: 100%;
  display: none;
  flex-direction: column;
  align-items: flex-end;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scrollbar-width: none;
  gap: 20px;
}
body .screen-box #appModule .report-view .report-box.details .event-details-box .details-box-module.active {
  display: flex;
}
body .screen-box #appModule .report-view .report-box.details .event-details-box .details-box-module .event-day {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
  padding: 0 5px;
  scroll-snap-align: start;
}
body .screen-box #appModule .report-view .report-box.details .event-details-box .details-box-module .event-day .event-day-header {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  font-size: 10px;
  background: #000a18;
  background: linear-gradient(180deg, #000a18 80%, rgba(0, 10, 24, 0) 100%);
}
body .screen-box #appModule .report-view .report-box.details .event-details-box .details-box-module .event-day .event-day-header .day-date {
  font-size: 22px;
  width: 40%;
  text-shadow: 0 0 40px rgba(255, 255, 255, 0.8078431373);
}
body .screen-box #appModule .report-view .report-box.details .event-details-box .details-box-module .event-day .event-day-header .options-box {
  width: 60%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
body .screen-box #appModule .report-view .report-box.details .event-details-box .details-box-module .event-day .event-day-header .options-box .details-summary {
  width: 50%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}
body .screen-box #appModule .report-view .report-box.details .event-details-box .details-box-module .event-day .event-day-header .options-box .details-summary .summary {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
body .screen-box #appModule .report-view .report-box.details .event-details-box .details-box-module .event-day .event-day-header .options-box .details-summary .summary .summary-item {
  margin-bottom: 5px;
}
body .screen-box #appModule .report-view .report-box.details .event-details-box .details-box-module .event-day .event-day-header .options-box .details-summary .summary.labels {
  width: 40%;
}
body .screen-box #appModule .report-view .report-box.details .event-details-box .details-box-module .event-day .event-day-header .options-box .details-summary .summary.labels .label {
  height: 15px;
}
body .screen-box #appModule .report-view .report-box.details .event-details-box .details-box-module .event-day .event-day-header .options-box .details-summary .summary.cants {
  width: 30%;
  margin: 0 15% 0 0;
}
body .screen-box #appModule .report-view .report-box.details .event-details-box .details-box-module .event-day .event-day-header .options-box .details-summary .summary.cants .cant {
  height: 15px;
}
body .screen-box #appModule .report-view .report-box.details .event-details-box .details-box-module .event-day .event-day-header .options-box .daily-total-box {
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .screen-box #appModule .report-view .report-box.details .event-details-box .details-box-module .event-day .event-day-header .options-box .daily-total-box .daily-venta {
  height: 40px;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  font-size: 16px;
  text-shadow: 0 0 50px #000a18;
  border-radius: 10px;
  background: #0f5a36;
  border: 1px solid #27504a;
  box-shadow: 0 0 30px 1px #06011d;
  font-weight: 400;
  transition: all 300ms ease;
  cursor: pointer;
}
body .screen-box #appModule .report-view .report-box.details .event-details-box .details-box-module .event-day .event-day-header .options-box .daily-total-box .daily-venta:hover {
  background: #37385e;
  border: 1px solid #7f90ff;
}
body .screen-box #appModule .report-view .report-box.details .event-details-box .details-box-module .event-day .event-day-header .options-box .daily-total-box .daily-venta .daily-venta-numb {
  font-size: 22px;
}
body .screen-box #appModule .report-view .report-box.details .event-details-box .details-box-module .event-day .detailed-venta {
  width: 95%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px 30px 5px 5px;
  margin: 0 10px 15px 0;
  overflow: hidden;
  box-shadow: inset 0 0 50px 0px #1a1f3c;
  border-bottom: 1px solid #5683ff;
}
body .screen-box #appModule .report-view .report-box.details .event-details-box .details-box-module .event-day .detailed-venta:nth-last-child(1) {
  margin-bottom: 20px;
}
body .screen-box #appModule .report-view .report-box.details .event-details-box .details-box-module .event-day .detailed-venta .venta-head {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  box-shadow: inset 0 10px 10px 0 rgba(80, 127, 255, 0.2431372549);
}
body .screen-box #appModule .report-view .report-box.details .event-details-box .details-box-module .event-day .detailed-venta .venta-head .head-item {
  width: 30%;
  height: 40px;
  font-size: 18px;
  display: flex;
  align-items: center;
}
body .screen-box #appModule .report-view .report-box.details .event-details-box .details-box-module .event-day .detailed-venta .venta-head .head-item.ticket-id {
  font-size: 13px;
  font-weight: 500;
  justify-content: left;
}
body .screen-box #appModule .report-view .report-box.details .event-details-box .details-box-module .event-day .detailed-venta .venta-head .head-item.ticket-hour {
  font-size: 14px;
  align-items: flex-start;
  padding: 5px;
}
body .screen-box #appModule .report-view .report-box.details .event-details-box .details-box-module .event-day .detailed-venta .venta-head .head-item.ticket-price-box {
  justify-content: flex-end;
}
body .screen-box #appModule .report-view .report-box.details .event-details-box .details-box-module .event-day .detailed-venta .venta-head .head-item.ticket-price-box .price-carats {
  height: 30px;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 15px;
  font-size: 16px;
  text-shadow: 0 0 50px #000a18;
  border-radius: 5px 20px 5px 5px;
  background: #1c2e2e;
  border: 1px solid #27504a;
  box-shadow: 0 0 30px 1px #06011d;
  font-weight: 400;
  transition: all 300ms ease;
  cursor: pointer;
}
body .screen-box #appModule .report-view .report-box.details .event-details-box .details-box-module .event-day .detailed-venta .venta-head .head-item.ticket-price-box .price-carats:hover {
  background: #293c57;
  border: 1px solid #58a79b;
}
body .screen-box #appModule .report-view .report-box.details .event-details-box .details-box-module .event-day .detailed-venta .venta-head .head-item.ticket-price-box .price-carats .price-numb {
  font-size: 20px;
}
body .screen-box #appModule .report-view .report-box.details .event-details-box .details-box-module .event-day .detailed-venta .div-line {
  width: 90%;
  height: 1px;
  background: #000a18;
  background: linear-gradient(90deg, #000a18 10%, #0046a8 40%, #75afff 50%, #0046a8 60%, #000a18 90%);
}
body .screen-box #appModule .report-view .report-box.details .event-details-box .details-box-module .event-day .detailed-venta .venta-details {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-end;
}
body .screen-box #appModule .report-view .report-box.details .event-details-box .details-box-module .event-day .detailed-venta .venta-details .details-summary {
  width: 50%;
  height: auto;
  display: flex;
  justify-content: flex-end;
  font-size: 14px;
}
body .screen-box #appModule .report-view .report-box.details .event-details-box .details-box-module .event-day .detailed-venta .venta-details .details-summary .summary {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
body .screen-box #appModule .report-view .report-box.details .event-details-box .details-box-module .event-day .detailed-venta .venta-details .details-summary .summary .summary-item {
  margin-top: 5px;
}
body .screen-box #appModule .report-view .report-box.details .event-details-box .details-box-module .event-day .detailed-venta .venta-details .details-summary .summary .summary-item:nth-last-child(1) {
  margin-bottom: 5px;
}
body .screen-box #appModule .report-view .report-box.details .event-details-box .details-box-module .event-day .detailed-venta .venta-details .details-summary .summary.labels {
  width: 40%;
}
body .screen-box #appModule .report-view .report-box.details .event-details-box .details-box-module .event-day .detailed-venta .venta-details .details-summary .summary.labels .label {
  height: 20px;
}
body .screen-box #appModule .report-view .report-box.details .event-details-box .details-box-module .event-day .detailed-venta .venta-details .details-summary .summary.cants {
  width: 30%;
  margin: 0 15% 0 0;
}
body .screen-box #appModule .report-view .report-box.details .event-details-box .details-box-module .event-day .detailed-venta .venta-details .details-summary .summary.cants .cant {
  height: 20px;
}
body .screen-box #appModule .report-view .report-box.details .event-details-box .details-box-module .event-day .detailed-venta .venta-body {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: 15px;
}
body .screen-box #appModule .report-view .report-box.details .event-details-box .details-box-module .event-day .detailed-venta .venta-body .venta-item {
  width: 100%;
  height: 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #24225c;
  border-radius: 5px;
}
body .screen-box #appModule .report-view .report-box.details .event-details-box .details-box-module .event-day .detailed-venta .venta-body .venta-item:nth-child(odd) {
  background: #0d0c29;
}
body .screen-box #appModule .report-view .report-box.details .event-details-box .details-box-module .event-day .detailed-venta .venta-body .venta-item .bodypart {
  width: 100%;
  height: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
body .screen-box #appModule .report-view .report-box.details .event-details-box .details-box-module .event-day .detailed-venta .venta-body .venta-item .bodypart .item-info {
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .screen-box #appModule .report-view .report-box.details .event-details-box .details-box-module .event-day .detailed-venta .venta-body .venta-item .bodypart .item-info.amount {
  width: 5%;
  justify-content: flex-end;
}
body .screen-box #appModule .report-view .report-box.details .event-details-box .details-box-module .event-day .detailed-venta .venta-body .venta-item .bodypart .item-info.name {
  width: 40%;
  justify-content: flex-start;
  padding: 0 30px;
}
body .screen-box #appModule .report-view .report-box.details .event-details-box .details-box-module .event-day .detailed-venta .venta-body .venta-item .bodypart .item-info.codebar {
  width: 15%;
  justify-content: center;
  padding: 0 30px;
}
body .screen-box #appModule .report-view .report-box.details .event-details-box .details-box-module .event-day .detailed-venta .venta-body .venta-item .bodypart .item-info.price {
  width: 10%;
}
body .screen-box #appModule .report-view .report-box.details .event-details-box .details-box-module .event-day .detailed-venta .venta-body .venta-item .bodypart .item-info.discount {
  width: 10%;
}
body .screen-box #appModule .report-view .report-box.details .event-details-box .details-box-module .event-day .detailed-venta .venta-body .venta-item .bodypart .item-info.subtotal {
  width: 20%;
}
body .screen-box #appModule .report-view .report-box.details .event-details-box .details-box-module .event-day .detailed-venta .venta-body .venta-item .concept {
  font-size: 24px;
}
body .screen-box #appModule .report-view .report-box.details .event-details-box .details-box-module .no-content {
  width: 100%;
  height: 300px;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .screen-box #appModule .report-view .report-box.balance {
  width: 25%;
  height: 98%;
  border-radius: 8px;
  box-shadow: 0 0 50px #002047;
  background: #000a18;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow-y: scroll;
  scrollbar-width: none;
  padding: 10px 10px;
}
body .screen-box #appModule .report-view .report-box.balance .balance-box-module {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .screen-box #appModule .report-view .report-box.balance .balance-box-module .balance-day {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
body .screen-box #appModule .report-view .report-box.balance .balance-box-module .balance-day .balance-day-header {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .screen-box #appModule .report-view .report-box.balance .balance-box-module .balance-day .balance-day-header .day-date {
  width: 100%;
  height: 100%;
  font-size: 24px;
  display: flex;
  align-items: center;
  text-align: center;
}
body .screen-box #appModule .report-view .report-box.balance .balance-box-module .balance-day .balance-day-ventas {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .screen-box #appModule .report-view .report-box.balance .balance-box-module .balance-day .balance-day-ventas .balance-ventas-title {
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  padding-left: 30px;
  font-size: 19px;
  font-weight: 800;
}
body .screen-box #appModule .report-view .report-box.balance .balance-box-module .balance-day .balance-day-ventas .balance-ventas-body {
  width: 95%;
  height: 80%;
  display: flex;
  flex-direction: column;
  font-size: 15px;
}
body .screen-box #appModule .report-view .report-box.balance .balance-box-module .balance-day .balance-day-ventas .balance-ventas-body .balance-ventas-detail {
  width: 70%;
  height: 25%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body .screen-box #appModule .report-view .report-box.balance .balance-box-module .balance-day .balance-day-ventas .balance-ventas-body .balance-ventas-detail.subtotal {
  width: 100%;
  font-size: 19px;
  color: #86ff86;
}
body .screen-box #appModule .report-view .report-box.balance .balance-box-module .balance-day .balance-day-pagos {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .screen-box #appModule .report-view .report-box.balance .balance-box-module .balance-day .balance-day-pagos .balance-pagos-title {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 30px;
  font-size: 19px;
  font-weight: 800;
}
body .screen-box #appModule .report-view .report-box.balance .balance-box-module .balance-day .balance-day-pagos .balance-pagos-body {
  width: 95%;
  height: 100px;
  display: flex;
  flex-direction: column;
  font-size: 15px;
}
body .screen-box #appModule .report-view .report-box.balance .balance-box-module .balance-day .balance-day-pagos .balance-pagos-body .balance-pagos-detail {
  width: 70%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body .screen-box #appModule .report-view .report-box.balance .balance-box-module .balance-day .balance-day-pagos .balance-pagos-body .balance-pagos-detail.subtotal {
  width: 100%;
  font-size: 19px;
  color: #e96161;
}
body .screen-box #appModule .report-view .report-box.balance .balance-box-module .balance-day .balance-day-total {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .screen-box #appModule .report-view .report-box.balance .balance-box-module .balance-day .balance-day-total .balance-day-title {
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  padding-left: 30px;
  font-size: 19px;
  font-weight: 800;
}
body .screen-box #appModule .report-view .report-box.balance .balance-box-module .balance-day .balance-day-total .balance-day-body {
  width: 95%;
  height: 80%;
  display: flex;
  flex-direction: column;
  font-size: 15px;
}
body .screen-box #appModule .report-view .report-box.balance .balance-box-module .balance-day .balance-day-total .balance-day-body .balance-day-detail {
  width: 70%;
  height: 25%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body .screen-box #appModule .report-view .report-box.balance .balance-box-module .balance-day .balance-day-total .balance-day-body .balance-day-detail.total {
  width: 100%;
  font-size: 19px;
  color: #5798ff;
}
body .screen-box #appModule .report-view .report-box.balance .balance-box-module .no-content {
  width: 100%;
  height: 300px;
  font-size: 24px;
  display: flex;
  align-items: center;
  text-align: center;
}/*# sourceMappingURL=styles.css.map */