* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #131935;
  color: #c4c4c4;
  font-family: sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
body header {
  width: 100%;
  height: 80px;
  background: rgb(41, 82, 148);
  background: linear-gradient(126deg, rgb(41, 82, 148) 0%, rgb(39, 39, 102) 51%, rgb(53, 1, 101) 100%);
  box-shadow: inset 0 -15px 30px 0 #1e1e5e;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  z-index: 100;
}
body header h1 {
  font-size: 25px;
}
body header .user {
  border-radius: 10px;
  background: #101045;
  height: 60px;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px;
  gap: 10px;
  cursor: pointer;
  transition: 300ms;
}
body header .user:hover {
  background: #3c3c82;
}
body header .user .user-icon {
  width: 40px;
  border-radius: 5px;
}
body header .user span {
  font-size: 20px;
}
body .screen {
  display: flex;
  justify-content: center;
  width: 99%;
  height: 97%;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  background: transparent;
}
body .screen .module {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
}
body .screen .module.inactive {
  display: none;
}
body .screen .module .current-compra {
  width: 100%;
  height: 400px;
  display: flex;
}
body .screen .module .current-compra .current-compra-list {
  width: 100%;
  height: 100%;
}
body .screen .module .current-compra .current-compra-total {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #009d9b;
  width: 280px;
  height: 100%;
  box-shadow: inset -20px -20px 80px 0 #145a5d;
  border-radius: 0 50% 0 30%;
}
body .screen .module .current-compra .current-compra-total .current-total-element#currentTotalPrecio {
  color: #ffffff;
  font-size: 40px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}
body .screen .module .current-compra .current-compra-total .current-total-element#currentTotalRealizarVenta {
  color: #444444;
  font-size: 13px;
  width: 150px;
  height: 40px;
  background: #c8ff00;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  cursor: pointer;
}
body .screen .module .current-compra .current-compra-total .current-total-element#currentTotalGuardarCarrito {
  color: #bebebe;
  font-size: 10px;
  width: 120px;
  height: 30px;
  background: #4813b3;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  cursor: pointer;
  margin: 20px 0;
}
body .screen .module .current-compra .current-compra-total .current-total-element#currentTotalCarritosPendientes {
  color: #bebebe;
  font-size: 10px;
  width: 100px;
  height: 30px;
  background: #4813b3;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  cursor: pointer;
}
body .screen .module .current-compra .current-compra-total .current-total-element#currentTotalLimpiar {
  color: #c70000;
  font-size: 10px;
  font-weight: 600;
  text-shadow: 0 0 10px rgb(255, 91, 91);
  width: auto;
  height: auto;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 20px 0;
}
body .screen .module .formatBox {
  width: 100%;
  height: 100%;
  margin: 10px;
  border: 1px solid #6b7292;
  box-shadow: inset 0 0 10px 0 rgba(255, 255, 255, 0.2549019608);
}
body .screen .module .formatBox .format {
  display: flex;
  flex-direction: column;
  height: 550px;
  gap: 10px;
}
body .screen .module .formatBox .format label {
  font-size: 25px;
  font-style: italic;
  padding: 0 20px;
}
body .screen .module .formatBox .format input {
  width: 70%;
  background: transparent;
  border: 1px solid white;
  margin: 0 50px 20px 0;
  height: 35px;
  border-radius: 10px;
}
body .screen .module .formatBox .format button {
  align-self: center;
  height: 30px;
  width: 50%;
}
body .screen .module .comprasBox {
  width: 400px;
  background: black;
}/*# sourceMappingURL=styles.css.map */