* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #232b53;
  color: #c4c4c4;
  font-family: sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
body header {
  width: 100%;
  height: 80px;
  background: #295294;
  background: linear-gradient(100deg, #295294 0%, #272766 51%, #350165 100%);
  box-shadow: inset 0 -15px 30px 0 rgba(15, 15, 58, 0.6235294118);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  z-index: 100;
}
body header h1 {
  font-size: 25px;
}
body .screen {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background: transparent;
  flex-direction: row;
}
body .screen .sidebar {
  width: 150px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 1px solid black;
  background: rgb(80, 27, 111);
  background: linear-gradient(180deg, #302f65 0%, #00a6af 4%, #00a6af 45%, #18166d 100%);
}
body .screen .sidebar .pages {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
body .screen .sidebar .pages .page {
  width: 110px;
  border: 1px solid #000000;
  border-radius: 5px;
  box-shadow: -2px 2px 1px #000000;
  color: white;
  padding: 10px;
  height: 70px;
  background: #29176b;
  cursor: pointer;
  font-size: 10px;
  text-align: center;
  transition: 100ms ease-out;
}
body .screen .sidebar .pages .page:hover {
  background: #3f1c92;
}
body .screen .sidebar .user {
  border-radius: 5px;
  background: #001d2d;
  height: 60px;
  width: 110px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 15px 0px;
  padding: 10px;
  gap: 10px;
  cursor: pointer;
  transition: 300ms;
}
body .screen .sidebar .user .user-icon {
  width: 40px;
  border-radius: 5px;
}
body .screen .sidebar .user span {
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
body .screen .sidebar .user:hover {
  background: #043450;
}
body .screen .module {
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 100%;
}
body .screen .module.inactive {
  display: none;
}
body .screen .module .carrito {
  width: 100%;
  height: 100%;
  display: flex;
}
body .screen .module .carrito .carrito-list {
  width: 100%;
  height: 100%;
  background: #dfdaff;
  color: black;
  box-shadow: inset 0 -30px 70px 10px rgba(0, 0, 0, 0.137254902);
}
body .screen .module .carrito .formatBox {
  width: 500px;
  height: 100%;
  border: 1px solid #000000;
  box-shadow: inset 0 0 10px 0 rgba(255, 255, 255, 0.2549019608);
}
body .screen .module .carrito .formatBox .format {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
body .screen .module .carrito .formatBox .format label {
  font-size: 25px;
  font-style: italic;
  padding: 0 20px;
}
body .screen .module .carrito .formatBox .format input {
  width: 70%;
  background: transparent;
  border: 1px solid white;
  margin: 0 50px 20px 0;
  height: 35px;
  border-radius: 10px;
}
body .screen .module .carrito .formatBox .format button {
  align-self: center;
  height: 30px;
  width: 50%;
}
body .screen .module .pago {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #009d9b;
  width: 100%;
  height: 200px;
  box-shadow: inset -20px -20px 80px 0 #145a5d;
}
body .screen .module .pago .list-btn#currentTotalRealizarVenta {
  color: #e6e6e6;
  font-size: 13px;
  width: 150px;
  height: 40px;
  background: #302766;
  background: radial-gradient(circle, #274166 30%, #272966 70%, #295294 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  cursor: pointer;
}
body .screen .module .pago .list-btn#currentTotalGuardarCarrito {
  color: #bebebe;
  font-size: 10px;
  width: 120px;
  height: 30px;
  background: #4813b3;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  cursor: pointer;
  margin: 20px 0;
}
body .screen .module .pago .list-btn#currentTotalCarritosPendientes {
  color: #bebebe;
  font-size: 10px;
  width: 100px;
  height: 30px;
  background: #4813b3;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  cursor: pointer;
}
body .screen .module .pago .list-btn#currentTotalLimpiar {
  color: #c70000;
  font-size: 10px;
  font-weight: 600;
  text-shadow: 0 0 10px rgb(255, 91, 91);
  width: auto;
  height: auto;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 20px 0;
}
body .screen .module .pago #currentTotalPrecio {
  color: #ffffff;
  font-size: 40px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}/*# sourceMappingURL=styles.css.map */