@font-face {
    font-family: 'DMSans';
    src: url('./fonts/DM_Sans/DMSans-VariableFont_wght.ttf');
    //Esta fuente es para las pantallas informativas sobre los productos
}

@font-face {
    font-family: 'Raleway';
    src: url('./fonts/Raleway/Raleway-VariableFont_wght.ttf');
    //Esta fuente es para las pantallas quwe tengan que ver con información sobre el negocio
}

@font-face {
    font-family: 'Cutive Mono';
    src: url('./fonts/Cutive_Mono/CutiveMono-Regular.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #000000;
    color: #c4c4c4;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
    font-family: 'DMSans';
    font-style: normal;

    header {
        width: 100%;
        height: 7%;
        background: #295294;
        background: linear-gradient(100deg, #295294 0%, #272766 51%, #350165 100%);
        box-shadow: inset 0 -15px 30px 0 #0f0f3a9f;
        display: flex;
        align-items: center;
        z-index: 100;

        .header-logo {
            width: 38px;
            margin: 0 35px;
        }

        .header-text {
            margin: 0 100px;
            font-size: 25px;
        }


    }

    .screen-box {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 93%;
        border-radius: 5px;
        background: transparent;
        flex-direction: row;
        position: relative;

        &.hide {
            display: none;
        }

        .sidebar {
            width: 110px;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            border: 1px solid black;
            background: #350165;
            background: linear-gradient(0deg, #2a0061 0%, #101327 40%);
            position: relative;

            .user {
                border-radius: 5px;
                background: #1e0c4a;
                height: 150px;
                width: 70px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: start;
                margin: 30px 0px;
                cursor: pointer;
                transition: 300ms;

                .user-symbol {
                    width: 60px;
                    height: 120px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-around;
                    margin: 10px 0;

                    .user-icon {
                        height: 40px;
                        border-radius: 15px;
                        box-shadow: 0 0 10px #1e0c4a;
                        transition: 300ms;
                    }

                    span {
                        font-size: 10px;
                        font-weight: 600;
                        text-shadow: 0 0 1px white;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        text-align: center;
                        transition: 300ms;
                    }
                }

                &:hover {
                    background: #043450;
                }

                &:hover>.user-symbol .user-icon {
                    box-shadow: 0 0 10px white;
                }

                &:hover>.user-symbol span {
                    text-shadow: 0 0 10px white;
                }

                &.open {
                    height: 420px;
                }

                .user-menu {
                    width: 70px;
                    height: 220px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    transition: 300ms;
                    gap: 10px;

                    &.hide {
                        display: none;
                    }

                    &.appear {
                        animation: 200ms appear;
                    }

                    .user-menu-item {
                        width: 60px;
                        height: 50px;
                        border-radius: 10px;
                        border: 1px solid #001b3a;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        text-align: center;
                        font-size: 15px;
                        cursor: pointer;
                        background: #070631;
                        color: #d3d3d3;
                        transition: 100ms ease-out;

                        &.active {
                            background: #267cad;
                            border: 1px solid #c7c7c7;
                        }

                        &.active>.icon {
                            filter: invert(0%);
                        }

                        .icon {
                            width: 40px;
                            height: 30px;
                            filter: invert(100%);


                        }


                        &:hover {
                            border: 1px solid white;
                        }
                    }
                }

                .logout {
                    width: 50px;
                    height: 30px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    margin: 0 0 20px 0;
                    border: 1px solid red;
                    border-radius: 5px;
                    background: rgba(255, 0, 0, 0.128);
                    transition: 300ms;

                    &:hover {
                        background: red;
                    }

                    &.hide {
                        display: none;
                    }

                    &.appear {
                        animation: 200ms appear;
                    }
                }
            }

            .pages-box {
                width: 80px;
                height: 160px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: end;
                margin: 18px 0;


                .page-btn {
                    width: 80px;
                    height: 50px;
                    border-radius: 10px;
                    border: 1px solid #007674;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    font-size: 15px;
                    cursor: pointer;
                    background: #070631;
                    color: #d3d3d3;
                    transition: 100ms ease-out;




                    &:hover {
                        background: #181c35;
                    }
                }
            }
        }


        .module {
            height: 100%;
            display: none;
            flex-direction: column;
            width: 100%;
            position: relative;

            &.active {
                display: flex;
            }

            &#shopModule {

                .main-shop-view {
                    width: 100%;
                    height: 470px;
                    display: flex;
                    position: relative;

                    .shop-list-box {
                        width: 70%;
                        height: 100%;
                        background: #101327;
                        color: #ffffff;
                        overflow-y: scroll;
                        position: relative;

                        &::-webkit-scrollbar {
                            display: none;
                        }

                        table {
                            width: 100%;
                            height: auto;
                            border-collapse: collapse;
                            position: relative;



                            thead {
                                background: #000000;
                                color: #ffffff;
                                height: 25px;
                                font-size: 15px;
                                position: sticky;
                                top: 0;


                                tr {
                                    box-shadow: 0 0 30px 0px #ffffff3b;
                                    width: 100%;

                                    th {
                                        border-left: 2px solid #ffffff;
                                    }

                                    .th1 {
                                        border-left: none;
                                        width: 40px;
                                    }

                                    .th2 {
                                        width: 660px;
                                    }

                                    .th3 {
                                        width: 100px;
                                    }

                                    .th4 {
                                        width: 100px;
                                    }

                                    .th5 {
                                        width: 100px;
                                    }

                                    .th6 {
                                        width: 100px;
                                    }
                                }
                            }

                            tbody {
                                color: white;
                                font-size: 18px;

                                tr {
                                    height: 45px;

                                    &:hover {
                                        background: #1c2140;
                                    }

                                    &.selected {
                                        background: #232b53;
                                    }

                                    th,
                                    td {
                                        border-bottom: 1px solid #3a2f99;
                                    }

                                    td {
                                        border-left: 1px solid #0f2442;
                                        text-align: center;

                                        &:nth-child(2) {
                                            text-align: start;
                                            padding: 0 30px;
                                        }


                                        &:nth-child(4) {
                                            display: flex;
                                            align-items: center;
                                            justify-content: space-evenly;
                                            height: 48px;
                                            gap: 5px;

                                            .amount-btn {
                                                width: 25px;
                                                height: 100%;
                                                display: flex;
                                                align-items: center;
                                                justify-content: center;
                                                cursor: pointer;
                                            }

                                            .amount-numb {
                                                cursor: default;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .item-box {
                        width: 30%;
                        height: 100%;
                        border: 1px solid #000000;
                        box-shadow: inset 0 0 10px 0 #ffffff41;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        background: #232b53;

                        .item-search {
                            height: 80px;
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            #searchItem {
                                width: 95%;
                                height: 35px;
                                background: white;
                                border-radius: 100px;
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                                border: 1px solid #808080;
                                transition: 300ms;

                                &:hover {
                                    border: 1px solid #ffffff;
                                    box-shadow: 0 0 20px 2px #ffffff50;
                                }

                                &:focus-within {
                                    border: 1px solid #808080;
                                    box-shadow: 0 0 20px 1px #ffffff;
                                }

                                #typeSearch {
                                    width: 290px;
                                    height: 25px;
                                    margin: 0 0 0 10px;
                                    font-size: 20px;
                                    background: transparent;
                                    outline: none;
                                    border: none;
                                }

                                .search-icon {
                                    width: 30px;
                                    margin: 0 8px 0 0;
                                }
                            }


                        }

                        .div-line {
                            width: 90%;
                            height: 1px;
                            background: white;
                            box-shadow: 0 0 5px 1px white;
                            margin: 5px 0 30px 0;
                        }

                        .item-info {
                            height: 400px;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            color: white;

                            #itemTitle {
                                width: 300px;
                                height: 110px;
                                display: flex;
                                text-align: center;
                                font-size: 30px;
                                font-weight: 600;
                                color: #ffffff;
                                text-shadow: 2px 2px 5px #212121;
                                overflow: hidden;

                            }

                            #price {
                                width: 300px;
                                height: 70px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                font-size: 40px;
                                font-weight: 500;
                                color: #ffffff;
                                text-shadow: 2px 2px 5px #212121;

                                span {
                                    font-size: 60px;
                                }
                            }

                            #itemDetail {
                                width: 300px;
                                height: 70px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                font-size: 20px;
                                font-weight: 500;
                                color: #ffffff;
                                text-shadow: 2px 2px 5px #212121;
                            }

                            #codebarImg {
                                width: 200px;
                                height: 80px;
                                display: flex;
                                align-items: center;
                                justify-content: center;

                                img {
                                    height: 100%;
                                }
                            }

                            #codebarNumb {
                                width: 200px;
                                height: 30px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                            }
                        }
                    }
                }

                .pago {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: flex-end;
                    position: relative;
                    background: #000a18;
                    box-shadow: inset -20px -10px 50px 0 #041830;
                    font-family: 'Raleway';

                    .list-options {
                        background: transparent;
                        width: 250px;
                        height: 170px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        position: absolute;
                        left: 40px;
                        gap: 20px;

                        .list-btn {
                            width: 250px;
                            height: 40px;
                            border-radius: 10px;
                            font-size: 13px;
                            cursor: pointer;
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            font-weight: 400;

                            &#limpiarLista {
                                color: #ff0000;
                                background: transparent;
                                align-items: center;
                                border: 1px solid #700000;
                                transition: 300ms;

                                &:hover {
                                    background: #220000;
                                    border: 1px solid red;
                                }
                            }

                            &#guardarLista {
                                background: transparent;
                                background: linear-gradient(0deg, #727272 0%, transparent 10%);
                                color: #dbdbdb;
                                border: 1px solid #8a8a8a;
                                transition: 300ms;
                                filter: brightness(0.8);

                                &:hover {
                                    filter: brightness(1.1);
                                    background: linear-gradient(0deg, #727272 0%, transparent 15%);
                                    color: white;
                                    text-shadow: 0 0 30px white;

                                }
                            }

                            &#verListasGuardadas {
                                background: #000000;
                                border: 1px solid #8a8a8a;
                                color: #bfbfbf;
                                text-shadow: 1px 1px 3px #5e5e5e;
                                transition: 300ms;

                                &:hover {
                                    border: 1px solid white;
                                    color: white;
                                    text-shadow: 0 0 50px #ffffff;
                                }
                            }
                        }
                    }

                    .div-line {
                        width: 1px;
                        height: 85%;
                        background: #757575;
                        box-shadow: 0 0 5px 1px #454545;
                        position: absolute;
                        left: 310px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }

                    .payment-options {
                        background: transparent;
                        width: 600px;
                        height: 200px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: start;
                        position: absolute;
                        right: 30%;
                        gap: 5px;

                        .payment-options-title {
                            width: 500px;
                            height: 20px;
                            display: flex;
                            align-items: center;
                            justify-content: start;
                            font-size: 12px;
                            font-weight: 200;
                            color: #dbdbdb;
                        }

                        .payment-options-box {
                            width: 500px;
                            height: 150px;
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            .payment-label {
                                width: 200px;
                                height: 150px;
                                display: flex;
                                flex-direction: column;
                                justify-content: space-evenly;
                                align-items: end;

                                p {
                                    width: 100%;
                                    height: 40px;
                                    font-size: 18px;
                                    display: flex;
                                    align-items: center;
                                    justify-content: end;
                                    color: rgb(255, 255, 255);
                                    padding: 0 20px;
                                }
                            }


                            .payment-input {
                                width: 300px;
                                height: 150px;
                                display: flex;
                                flex-direction: column;
                                justify-content: space-evenly;
                                align-items: center;


                                input[type=number]::-webkit-inner-spin-button,
                                input[type=number]::-webkit-outer-spin-button {
                                    -webkit-appearance: none;
                                    margin: 0;
                                }

                                input {
                                    width: 250px;
                                    height: 40px;
                                    border: 1px solid #939393;
                                    outline: none;
                                    font-size: 24px;
                                    border-radius: 5px;
                                    background: #000000;
                                    color: #d7d7d7;
                                    padding: 0 10px;
                                    transition: 300ms;

                                    font-family: 'cutive mono';

                                    &:hover {
                                        border: 1px solid white;
                                        box-shadow: 0 0 40px #ffffff13;
                                    }

                                    &:focus {
                                        border: 1px solid white;
                                        box-shadow: 0 0 40px #ffffff30;
                                    }
                                }

                                .input-efe {
                                    width: 250px;
                                    height: 40px;
                                    outline: none;
                                    font-size: 24px;
                                    border-radius: 5px;
                                    background: #000000;
                                    color: #d7d7d7;
                                    padding: 0 10px;
                                    display: flex;
                                    align-items: center;
                                    font-family: 'cutive mono';
                                }
                            }
                        }


                    }

                    .total-options {
                        background: transparent;
                        height: 190px;
                        width: 25%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: space-around;
                        margin: 0 30px 10px 0;

                        .total-price {
                            color: #ffffff;
                            text-shadow: 0px 0px 2px #ffffff;
                            font-size: 40px;
                            height: 80px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-family: 'cutive mono';

                            span {
                                font-size: 70px;
                            }

                        }

                        .accept-payment {
                            color: #e6e6e6;
                            font-size: 15px;
                            width: 100%;
                            height: 40px;
                            background: #302766;
                            background: linear-gradient(130deg, #1a1c51 60%, #295294 100%);
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            border-radius: 5px;
                            cursor: pointer;
                            transition: 500ms;

                            &:hover {
                                border: 1px solid rgb(204, 0, 255);
                            }
                        }
                    }
                }
            }

            &#reportModule {

                .main-report-view {
                    width: 100%;
                    height: 100%;
                    background: #000a18;
                    color: black;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    position: relative;

                    .report-hub-box {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: center;
                        position: relative;
                        color: white;

                        box-shadow: inset 0 0 70px 0px #041830;
                        padding: 10px;
                        gap: 10px;



                        .report-box {
                            height: 100%;
                            border-radius: 7px;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;

                            &.details {
                                width: 75%;
                                height: 100%;

                                .report-box-details-titles {
                                    width: 90%;
                                    height: 40px;
                                    margin: 0 0 10px 0;
                                    color: white;
                                    display: flex;
                                    align-items: center;
                                    justify-content: space-between;
                                    font-size: 18px;
                                    text-shadow: 0 0 30px white;

                                    .details-titles-title {
                                        width: 30%;
                                    }

                                    .details-titles-btns-box {
                                        width: 50%;
                                        height: 100%;
                                        display: flex;
                                        align-items: center;
                                        justify-content: space-evenly;

                                        ul {
                                            width: 100%;
                                            height: 100%;
                                            display: flex;
                                            align-items: center;
                                            justify-content: space-around;
                                            list-style: none;

                                            li {
                                                display: flex;
                                                align-items: center;
                                                justify-content: center;
                                                width: 170px;
                                                height: 40px;
                                                border: 1px solid #4e4e4e;
                                                border-radius: 7px;
                                                cursor: pointer;
                                                box-shadow: 0 0 50px 0px #212a35;
                                                transition: 300ms;
                                                background: #0d0d12;
                                                color: #cccccc;

                                                &:hover {
                                                    border: 1px solid #898989;
                                                }

                                                &.active {
                                                    background: transparent;
                                                    color: white;
                                                    box-shadow: 0 0 100px 0px #2788ff;
                                                    cursor: default;
                                                    text-shadow: 0 0 50px white;
                                                    border: 1px solid #816dff;
                                                }
                                            }
                                        }
                                    }
                                }

                                .event-details-box {
                                    width: 100%;
                                    height: 90%;
                                    border-radius: 8px;
                                    box-shadow: 0 0 50px #002047;
                                    background: #000a18;
                                    padding: 0 10px;
                                    z-index: 100;

                                    .details-box-module {
                                        width: 100%;
                                        height: 100%;
                                        display: none;
                                        flex-direction: column;
                                        align-items: end;
                                        overflow-y: scroll;
                                        gap: 20px;

                                        &::-webkit-scrollbar {
                                            display: none;
                                        }

                                        &.active {
                                            display: flex;
                                        }

                                        .event-day {
                                            width: 100%;
                                            height: auto;
                                            display: flex;
                                            flex-direction: column;
                                            align-items: end;
                                            gap: 10px;
                                            padding: 0 5px;

                                            .event-day-header {
                                                width: 100%;
                                                height: 100px;
                                                display: flex;
                                                align-items: center;
                                                justify-content: space-between;
                                                position: sticky;
                                                top: 0;
                                                font-size: 10px;
                                                background: #000a18;
                                                background: linear-gradient(180deg, #000a18 80%, #000a1800 100%);

                                                .day-date {
                                                    font-size: 22px;
                                                    width: 40%;
                                                    text-shadow: 0 0 40px #ffffffce;
                                                }

                                                .options-box {
                                                    width: 60%;
                                                    height: 60px;
                                                    display: flex;
                                                    align-items: center;
                                                    justify-content: end;

                                                    .details-summary {
                                                        width: 50%;
                                                        height: auto;
                                                        display: flex;
                                                        align-items: center;
                                                        justify-content: center;
                                                        font-size: 12px;

                                                        .summary {

                                                            height: auto;
                                                            display: flex;
                                                            flex-direction: column;
                                                            align-items: end;

                                                            .summary-item {
                                                                margin-bottom: 5px;
                                                            }

                                                            &.labels {
                                                                width: 40%;

                                                                .label {
                                                                    height: 15px;
                                                                }
                                                            }

                                                            &.cants {
                                                                width: 30%;
                                                                margin: 0 15% 0 0;

                                                                .cant {
                                                                    height: 15px;
                                                                }

                                                            }
                                                        }
                                                    }

                                                    .daily-total-box {
                                                        width: 40%;
                                                        height: 100%;
                                                        display: flex;
                                                        align-items: center;
                                                        justify-content: center;

                                                        .daily-venta {
                                                            height: 40px;
                                                            width: auto;
                                                            display: flex;
                                                            align-items: center;
                                                            justify-content: center;
                                                            padding: 10px 20px;
                                                            font-size: 16px;
                                                            text-shadow: 0 0 50px #000a18;
                                                            border-radius: 10px;
                                                            background: #0f5a36;
                                                            border: 1px solid #27504a;
                                                            box-shadow: 0 0 30px 1px #06011d;
                                                            font-weight: 400;
                                                            transition: all 300ms ease;

                                                            cursor: pointer;

                                                            &:hover {
                                                                background: #37385e;

                                                                border: 1px solid #7f90ff;
                                                            }

                                                            .daily-venta-numb {
                                                                font-size: 22px;
                                                            }
                                                        }
                                                    }
                                                }
                                            }

                                            .detailed-venta {
                                                width: 95%;
                                                height: auto;
                                                display: flex;
                                                flex-direction: column;
                                                align-items: center;
                                                border-radius: 5px 30px 5px 5px;
                                                margin: 0 10px 15px 0;
                                                overflow: hidden;
                                                box-shadow: inset 0 0 50px 0px #1a1f3c;
                                                border-bottom: 1px solid #5683ff;

                                                &:nth-last-child(1) {
                                                    margin-bottom: 20px;
                                                }

                                                .venta-head {
                                                    width: 100%;
                                                    height: 50px;
                                                    display: flex;
                                                    align-items: center;
                                                    justify-content: space-between;
                                                    padding: 0 10px;
                                                    box-shadow: inset 0 10px 10px 0 #507fff3e;

                                                    .head-item {
                                                        width: 30%;
                                                        height: 40px;
                                                        font-size: 16px;

                                                        display: flex;
                                                        align-items: center;

                                                        &.venta-id {
                                                            font-family: monospace;
                                                            font-weight: 100;
                                                            justify-content: center;

                                                        }

                                                        &.date-hour {
                                                            font-size: 14px;
                                                            align-items: start;
                                                            padding: 5px;
                                                        }

                                                        &.venta-price-box {
                                                            justify-content: end;



                                                            .price-carats {
                                                                height: 30px;
                                                                width: auto;
                                                                display: flex;
                                                                align-items: center;
                                                                justify-content: center;
                                                                padding: 5px 15px;
                                                                font-size: 16px;
                                                                text-shadow: 0 0 50px #000a18;
                                                                border-radius: 5px 20px 5px 5px;
                                                                background: #1c2e2e;
                                                                border: 1px solid #27504a;
                                                                box-shadow: 0 0 30px 1px #06011d;
                                                                font-weight: 400;
                                                                transition: all 300ms ease;

                                                                cursor: pointer;

                                                                &:hover {
                                                                    background: #293c57;

                                                                    border: 1px solid #58a79b;
                                                                }

                                                                .price-numb {
                                                                    font-size: 20px;
                                                                }
                                                            }
                                                        }
                                                    }
                                                }

                                                .div-line {
                                                    width: 90%;
                                                    height: 1px;
                                                    background: #000a18;
                                                    background: linear-gradient(90deg, #000a18 10%, #0046a8 40%, #75afff 50%, #0046a8 60%, #000a18 90%);

                                                }

                                                .venta-details {
                                                    width: 100%;
                                                    height: auto;
                                                    display: flex;
                                                    justify-content: end;

                                                    .details-summary {
                                                        width: 50%;
                                                        height: auto;
                                                        display: flex;
                                                        justify-content: end;
                                                        font-size: 14px;

                                                        .summary {

                                                            height: auto;
                                                            display: flex;
                                                            flex-direction: column;
                                                            align-items: end;

                                                            .summary-item {
                                                                margin-top: 5px;

                                                                &:nth-last-child(1) {
                                                                    margin-bottom: 5px;
                                                                }
                                                            }

                                                            &.labels {
                                                                width: 40%;

                                                                .label {
                                                                    height: 20px;
                                                                }
                                                            }

                                                            &.cants {
                                                                width: 30%;
                                                                margin: 0 15% 0 0;

                                                                .cant {
                                                                    height: 20px;
                                                                }

                                                            }
                                                        }
                                                    }
                                                }

                                                .venta-body {
                                                    width: 100%;
                                                    height: auto;
                                                    display: flex;
                                                    flex-direction: column;
                                                    align-items: center;
                                                    justify-content: space-around;
                                                    font-size: 13px;

                                                    .venta-item {
                                                        width: 100%;
                                                        height: 45px;
                                                        display: flex;
                                                        flex-direction: column;
                                                        align-items: center;
                                                        justify-content: center;
                                                        border: 1px solid #24225c;
                                                        border-radius: 5px;

                                                        &:nth-child(odd) {
                                                            background: #0d0c29;
                                                        }

                                                        .bodypart {
                                                            width: 100%;
                                                            height: 25px;
                                                            display: flex;
                                                            flex-direction: row;
                                                            align-items: center;
                                                            justify-content: flex-end;

                                                            .item-info {
                                                                height: 25px;
                                                                display: flex;
                                                                align-items: center;
                                                                justify-content: center;

                                                                &.cant {
                                                                    width: 5%;
                                                                    justify-content: end;
                                                                }

                                                                &.titulo {
                                                                    width: 40%;
                                                                    justify-content: start;
                                                                    padding: 0 30px;
                                                                }

                                                                &.codebar {
                                                                    width: 15%;
                                                                    justify-content: center;
                                                                    padding: 0 30px;
                                                                }

                                                                &.precio {
                                                                    width: 10%;
                                                                }

                                                                &.disc {
                                                                    width: 10%;
                                                                }

                                                                &.subtotal {
                                                                    width: 20%;
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }

                            &.balance {
                                width: 25%;
                                height: 98%;
                                border-radius: 8px;
                                box-shadow: 0 0 50px #002047;
                                background: #000a18;
                            }
                        }
                    }
                }
            }

            &#dataModule {

                .main-data-view {
                    width: 100%;
                    height: 100%;
                    color: #ffffff;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                    background: #00145b;
                    background: linear-gradient(36deg, #1f004e 20%, #172f5a 90%);
                    backdrop-filter: blur(200px);

                    .data-hub {
                        width: 90%;
                        height: 85%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;

                        .data-hub-section {
                            width: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;

                            &.up {
                                height: 65%;
                            }

                            &.down {
                                height: 35%;
                                align-items: end;
                            }

                            .section {
                                background: #82ffac2f;
                                border-radius: 50px;
                                overflow: hidden;
                                border: 1px solid #757575;

                                &.inventario {
                                    width: 25%;
                                    height: 100%;
                                    display: flex;
                                    flex-direction: column;
                                    align-items: center;
                                    justify-content: center;
                                    gap: 20px;

                                    div {
                                        width: 50%;
                                        height: 20%;
                                        background: blue;
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
                                    }
                                }

                                &.utilities {
                                    width: 70%;
                                    height: 100%;
                                }

                                &.perfil {
                                    width: 100%;
                                    height: 80%;
                                }

                            }
                        }
                    }
                }
            }
        }
    }
}

@keyframes appear {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}