* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #232b53;
    color: #c4c4c4;
    font-family: sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;

    header {
        width: 100%;
        height: 7%;
        background: #295294;
        background: linear-gradient(100deg, #295294 0%, #272766 51%, #350165 100%);
        box-shadow: inset 0 -15px 30px 0 #0f0f3a9f;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 50px;
        z-index: 100;

        h1 {
            font-size: 25px;
        }


    }

    .screen {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 93%;
        border-radius: 5px;
        background: transparent;
        flex-direction: row;
        position: relative;

        .sidebar {
            width: 110px;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            border: 1px solid black;
            background: rgb(53, 1, 101);
            background: linear-gradient(0deg, #2a0061 0%, #101327 70%);
            position: relative;

            .user {
                border-radius: 5px;
                background: #1e0c4a;
                height: 130px;
                width: 80px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: start;
                margin: 15px 0px;
                cursor: pointer;
                transition: 300ms;

                .user-symbol {
                    width: 70px;
                    height: 120px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-evenly;
                    margin: 10px 0;

                    .user-icon {
                        height: 50px;
                        border-radius: 15px;
                        box-shadow: 0 0 10px #1e0c4a;
                        transition: 300ms;
                    }

                    span {
                        height: 70px;
                        font-size: 15px;
                        font-weight: 600;
                        text-shadow: 0 0 1px white;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        text-align: center;
                        transition: 300ms;
                    }
                }

                &:hover {
                    background: #043450;
                }

                &:hover>.user-symbol .user-icon {
                    box-shadow: 0 0 10px white;
                }

                &:hover>.user-symbol span {
                    text-shadow: 0 0 10px white;
                }

                &.open {
                    height: 380px;
                }

                .user-menu {
                    width: 70px;
                    height: 220px;
                    display: none;
                    flex-direction: column;
                    align-items: center;
                    transition: 500ms;
                    gap: 10px;

                    &.open {
                        display: flex;
                    }

                    .user-menu-item {
                        width: 60px;
                        height: 50px;
                        border-radius: 10px;
                        border: 1px solid #007674;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        text-align: center;
                        font-size: 15px;
                        cursor: pointer;
                        background: #070631;
                        color: #d3d3d3;
                        transition: 100ms ease-out;




                        &:hover {
                            background: #181c35;
                        }
                    }
                }

                .logout {
                    width: 50px;
                    height: 30px;
                    display: none;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    margin: 0 0 20px 0;
                    border: 1px solid red;
                    border-radius: 5px;
                    background: rgba(255, 0, 0, 0.128);
                    transition: 300ms;

                    &:hover {
                        background: red;
                    }

                    &.open {
                        display: flex;
                    }
                }
            }

            .pages-box {
                width: 80px;
                height: 160px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: end;
                margin: 18px 0;


                .page-btn {
                    width: 80px;
                    height: 50px;
                    border-radius: 10px;
                    border: 1px solid #007674;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    font-size: 15px;
                    cursor: pointer;
                    background: #070631;
                    color: #d3d3d3;
                    transition: 100ms ease-out;




                    &:hover {
                        background: #181c35;
                    }
                }
            }
        }


        .module {
            height: 100%;
            display: flex;
            flex-direction: column;
            width: 100%;
            position: relative;

            &.inactive {
                display: none;
            }

            .main-shop-view {
                width: 100%;
                max-height: 480px;
                display: flex;
                position: relative;

                .shop-list-box {
                    width: 70%;
                    height: 100%;
                    background: #101327;
                    color: #ffffff;
                    overflow-y: scroll;
                    position: relative;

                    &::-webkit-scrollbar {
                        display: none;
                    }

                    table {
                        width: 100%;
                        height: auto;
                        border-collapse: collapse;
                        position: relative;



                        thead {
                            background: #000000;
                            color: #ffffff;
                            height: 25px;
                            font-size: 15px;
                            position: sticky;
                            top: 0;


                            tr {
                                box-shadow: 0 0 30px 0px #ffffff3b;
                                width: 100%;

                                th {
                                    border-left: 2px solid #ffffff;
                                }

                                .th1 {
                                    border-left: none;
                                    width: 40px;
                                }

                                .th2 {
                                    width: 660px;
                                }

                                .th3 {
                                    width: 100px;
                                }

                                .th4 {
                                    width: 100px;
                                }

                                .th5 {
                                    width: 100px;
                                }

                                .th6 {
                                    width: 100px;
                                }
                            }
                        }

                        tbody {
                            color: white;
                            font-size: 18px;

                            tr {
                                height: 45px;

                                &:hover {
                                    background: #1c2140;
                                }

                                &.selected {
                                    background: #232b53;
                                }

                                th,
                                td {
                                    border-bottom: 1px solid #3a2f99;
                                }

                                td {
                                    border-left: 1px solid #0f2442;
                                    text-align: center;

                                    &:nth-child(2) {
                                        text-align: start;
                                        padding: 0 30px;
                                    }


                                    &:nth-child(4) {
                                        display: flex;
                                        align-items: center;
                                        justify-content: space-evenly;
                                        height: 45px;
                                        gap: 5px;

                                        .amount-btn {
                                            width: 25px;
                                            height: 100%;
                                            display: flex;
                                            align-items: center;
                                            justify-content: center;
                                            cursor: pointer;
                                        }

                                        .amount-numb {
                                            cursor: default;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                .item-box {
                    width: 30%;
                    height: 100%;
                    border: 1px solid #000000;
                    box-shadow: inset 0 0 10px 0 #ffffff41;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    .item-search {
                        height: 80px;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        #searchItem {
                            width: 95%;
                            height: 35px;
                            background: white;
                            border-radius: 100px;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            border: 1px solid #808080;
                            transition: 300ms;

                            &:hover {
                                border: 1px solid #ffffff;
                                box-shadow: 0 0 20px 2px #ffffff50;
                            }

                            &:focus-within {
                                border: 1px solid #808080;
                                box-shadow: 0 0 20px 1px #ffffff;
                            }

                            #typeSearch {
                                width: 290px;
                                height: 25px;
                                margin: 0 0 0 10px;
                                font-size: 20px;
                                background: transparent;
                                outline: none;
                                border: none;
                            }

                            .search-icon {
                                width: 30px;
                                margin: 0 8px 0 0;
                            }
                        }


                    }

                    .div-line {
                        width: 90%;
                        height: 1px;
                        background: white;
                        box-shadow: 0 0 5px 1px white;
                        margin: 5px 0 30px 0;
                    }

                    .item-info {
                        height: 400px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        color: white;

                        #itemTitle {
                            width: 300px;
                            height: 110px;
                            display: flex;
                            text-align: center;
                            font-size: 30px;
                            font-weight: 600;
                            color: #ffffff;
                            text-shadow: 2px 2px 5px #212121;
                            overflow: hidden;

                        }

                        #price {
                            width: 300px;
                            height: 70px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-size: 40px;
                            font-weight: 500;
                            color: #ffffff;
                            text-shadow: 2px 2px 5px #212121;

                            span {
                                font-size: 60px;
                            }
                        }

                        #itemDetail {
                            width: 300px;
                            height: 70px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-size: 20px;
                            font-weight: 500;
                            color: #ffffff;
                            text-shadow: 2px 2px 5px #212121;
                        }

                        #codebarImg {
                            width: 200px;
                            height: 80px;
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            img {
                                height: 100%;
                            }
                        }

                        #codebarNumb {
                            width: 200px;
                            height: 30px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                    }
                }
            }

            .pago {
                width: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-end;
                background: #000a18;
                height: 100%;
                box-shadow: inset -20px -10px 50px 0 #041830;
                position: relative;

                .list-options {
                    background: transparent;
                    width: 250px;
                    height: 170px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    position: absolute;
                    left: 40px;
                    gap: 20px;

                    .list-btn {
                        width: 250px;
                        height: 40px;
                        border-radius: 10px;
                        font-size: 13px;
                        cursor: pointer;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        font-weight: 400;

                        &#limpiarLista {
                            color: #ff0000;
                            background: transparent;
                            align-items: center;
                            border: 1px solid #700000;
                            transition: 300ms;

                            &:hover {
                                background: #0f0202;
                                border: 1px solid red;
                            }
                        }

                        &#guardarLista {
                            background: #959595;
                            background: linear-gradient(0deg, #727272 0%, #1f1f1f 100%);
                            color: #ffffff;
                            border: 1px solid #ffffff;
                            transition: 300ms;
                            filter: brightness(0.8);

                            &:hover {
                                filter: brightness(1.1);
                            }
                        }

                        &#verListasGuardadas {
                            background: #000000;
                            border: 1px solid rgb(178, 178, 178);
                            color: #bfbfbf;
                            text-shadow: 1px 1px 3px #5e5e5e;
                            transition: 300ms;

                            &:hover {
                                border: 1px solid white;
                                color: white;
                            }
                        }
                    }
                }

                .div-line {
                    width: 1px;
                    height: 85%;
                    background: #757575;
                    box-shadow: 0 0 5px 1px #454545;
                    position: absolute;
                    left: 310px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                .payment-options {
                    background: transparent;
                    width: 600px;
                    height: 200px;
                    display: flex;
                    flex-direction: row;
                    justify-content: end;
                    position: absolute;
                    right: 30%;

                    /*.discount-options {
                        width: 100px;
                        height: 200px;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        .discount-btn {
                            width: 180px;
                            height: 80px;
                            background: #0f0f0f;
                            display: flex;
                            align-items: center;
                            text-align: center;
                            justify-content: center;
                            border-radius: 5px;
                            border: 1px solid #39007e;
                            color: #ac97ff;
                            text-shadow: 2px 2px 1px #3e0064;
                            box-shadow: inset 0 0 20px 1px #47009d;

                        }

                    }*/

                    .payment-label {
                        width: 200px;
                        height: 200px;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-evenly;

                        p {
                            width: 100%;
                            height: 40px;
                            font-size: 18px;
                            display: flex;
                            align-items: center;
                            justify-content: end;
                            color: rgb(255, 255, 255);
                            padding: 0 20px;
                        }
                    }


                    .payment-input {
                        width: 250px;
                        height: 200px;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-evenly;
                        align-items: center;


                        input[type=number]::-webkit-inner-spin-button,
                        input[type=number]::-webkit-outer-spin-button {
                            -webkit-appearance: none;
                            margin: 0;
                        }

                        input {
                            width: 200px;
                            height: 40px;
                            border: 1px solid #939393;
                            outline: none;
                            font-size: 23px;
                            border-radius: 5px;
                            background: #000000;
                            color: #d7d7d7;
                            padding: 0 10px;
                            transition: 300ms;

                            &:hover {
                                border: 1px solid white;
                            }

                            &:focus {
                                border: 1px solid white;
                            }
                        }

                        .input-efe {
                            width: 200px;
                            height: 40px;
                            outline: none;
                            font-size: 23px;
                            border-radius: 5px;
                            background: #000000;
                            color: #d7d7d7;
                            padding: 0 10px;
                            display: flex;
                            align-items: center;
                        }
                    }


                }

                .total-options {
                    background: transparent;
                    height: 190px;
                    width: 25%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-around;
                    margin: 0 30px 10px 0;

                    .total-price {
                        color: #ffffff;
                        text-shadow: 0px 0px 2px #ffffff;
                        font-size: 40px;
                        height: 80px;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        span {
                            font-size: 70px;
                        }

                    }

                    .accept-payment {
                        color: #e6e6e6;
                        font-size: 15px;
                        width: 100%;
                        height: 40px;
                        background: #302766;
                        background: linear-gradient(130deg, #1a1c51 60%, #295294 100%);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 5px;
                        cursor: pointer;
                        transition: 500ms;

                        &:hover {
                            border: 1px solid rgb(204, 0, 255);
                        }
                    }
                }
            }

        }
    }
}