<div class="shop-view" id="mainShopView">
  <div class="list-box">
    <div class="shopList-box" id="shopListBox">
    
        <div class="shopList-header">
            <div class="shopHeaderItem th1">#</div>
            <div class="shopHeaderItem th2">Título</div>
            <div class="shopHeaderItem th3">Precio</div>
            <div class="shopHeaderItem th4">Cantidad</div>
            <div class="shopHeaderItem th5">Subtotal</div>
            <div class="shopHeaderItem th6">%</div>
        </div>

        <div class="shopList-body" id="shopList">
          <div class="shopList-products" id="shopListProducts">
            <div class="ticketRow">
              <div class="shopBodyItem itemAmount">1</div>
              <div class="shopBodyItem itemName">Narraciones Extraordinarias, BOEK</div>
              <div class="shopBodyItem itemPrice">$90</div>
              <div class="shopBodyItem itemAmount">
                <div class="amount-btn less">-</div>
                <div class="amount-btn amount-numb">3</div>
                <div class="amount-btn more">+</div>
              </div>
              <div class=" shopBodyItem itemSubtotal">270</div>
            </div>
          </div>
        </div>
    </div>
    <div class="item-box">

      <div class="item-search">

        <div id="posSearchBar">

          <input id="posSearchTypingInput" type="text" />

          <img src="./svg/search-icon.svg" class="search-icon" />

        </div>

      </div>
      <div class="div-line"></div>
      <div class="item-info">

        <div class="itemBoxAdvertise active" id="itemBoxAdvertise">
          Busca un producto para añadirlo a la lista de compra
        </div>

        <div class="posQueryResults" id="posQueryResults">
          <div class="posResultsBox" id="posResultsBox">
          </div>
        </div>

        <div class="posInfoBox" id="posInfoBox">

          <div class="posItemInfo" id="posItemTitle">20 mil leguas de viaje submarino</div>

          <div class="posItemInfo" id="posItemDetails">Julio Verne, Novela, Ciencia Ficción, 2018
          </div>

          <div class="posItemInfo" id="posItemKind">Línea, BOEK</div>

          <div class="posItemInfo" id="posItemPrice"><span> 110.00</span>MXN</div>

          <div class="posItemInfo" id="posCodebarNumber">34534552434</div>

        </div>
      </div>

    </div>
  </div>
  <div class="pago" id="currentCompraTotal">
    <div class="list-options">
      <div class="list-btn" id="limpiarLista">Limpiar lista actual</div>
      <div class="list-btn" id="guardarLista">
        Guardar lista de compras
      </div>
      <div class="list-btn" id="verListasGuardadas">Listas guardadas</div>
    </div>
    <div class="div-line"></div>
    <div class="payment-options">
      <div class="payment-options-title">Métodos de pago:</div>
      <div class="payment-options-box">
        <div class="payment-label">
          <p>Tarjeta</p>
          <p>Transferencia</p>
          <p>Efectivo</p>
        </div>
        <div class="payment-input">
          <input type="number" />
          <input type="number" />
          <div class="input-efe">3875.00</div>
        </div>
      </div>
    </div>
    <div class="total-options">
      <div class="total-price" id="totalPrice">
        $<span id="totalPriceValue">3875.00</span>
      </div>
      <div class="list-btn accept-payment" id="acceptPayment">
        Aceptar pago
      </div>
    </div>
  </div>
</div>