<div class="shop-view" id="mainShopView">
  <div class="list-box">
    <div class="shopList-box" id="shopListBox">

      <div class="shopList-header">
        <div class="shopHeaderItem th1">#</div>
        <div class="shopHeaderItem th2">Título</div>
        <div class="shopHeaderItem th3">Precio</div>
        <div class="shopHeaderItem th4">Cantidad</div>
        <div class="shopHeaderItem th5">Subtotal</div>
        <div class="shopHeaderItem th6">%</div>
      </div>

      <div class="shopList-body" id="shopList">
        <div class="shopList-products" id="shopListProducts">

        </div>
      </div>
    </div>
    <div class="item-box">

      <div class="item-search">

        <div id="posSearchBar">

          <input id="posSearchTypingInput" type="text" />

          <img src="./svg/search-icon.svg" class="search-icon" />

        </div>

      </div>
      <div class="div-line"></div>
      <div class="item-info">

        <div class="itemBoxAdvertise active" id="itemBoxAdvertise">
          Busca un producto para añadirlo a la lista de compra
        </div>

        <div class="posQueryResults" id="posQueryResults">
          <div class="posResultsBox" id="posResultsBox">
          </div>
        </div>

        <div class="posInfoBox" id="posInfoBox">
        </div>
      </div>

    </div>
  </div>
  <div class="pago" id="currentCompraTotal">
    <div class="list-options">
      <div class="list-btn" id="limpiarLista">Limpiar lista actual</div>
      <div class="list-btn" id="guardarLista">
        Guardar lista de compras
      </div>
      <div class="list-btn" id="verListasGuardadas">Listas guardadas</div>
    </div>
    <div class="giveMoney-options">
      <div class="giveMoneyBtn" id="giveMoneyBtn">Hacer un pago</div>
    </div>
    <div class="div-line"></div>
    <div class="payment-options">
      <div class="payment-options-title">Métodos de pago:</div>
      <div class="payment-options-box">
        <div class="payment-label">
          <p>Tarjeta</p>
          <p>Transferencia</p>
          <p>Efectivo</p>
        </div>
        <form class="payment-input">
          <input class="cardTypingInput" id="cardTypingInput" />
          <input class="transferTypingInput" id="transferTypingInput" />
          <input class="cashTypingInput" id="cashTypingInput" />
        </form>
      </div>
    </div>
    <div class="total-options">
      <div class="total-priceBox" id="totalPriceBox">
        $<div id="totalPriceValue">0.00</div>
      </div>
      <div class="list-btn acceptPaymentBtn" id="acceptPaymentBtn">
        Aceptar pago
      </div>
    </div>
  </div>
  <div class="saleScreens" id="saleScreens">
    <div class="confirmSaleScreen" id="confirmSaleScreen">

      <div class="ticketWin" id="ticketWin">

        <div class="ticketList" id="ticketList">
        </div>

      </div>

      <div class="paymentWin" id="paymentWin">

        <div class="paymentCalculator" id="paymentCalculator">

          <div class="paymentMoneyTotal" id="paymentMoneyTotal">
          </div>

          <div class="paymentMethod" id="paymentMethod">

            <div class="paymentMethodText">Recibe:</div>

            <div class="paymentMoneyCard" id="paymentMoneyCard"></div>

            <div class="paymentMoneyTransfer" id="paymentMoneyTransfer"></div>

            <div class="paymentMoneyCash" id="paymentMoneyCash"></div>

          </div>

          <input type="number" class="paymentMoneyGiven" id="paymentMoneyGiven">

          <div class="paymentMoneyChange" id="paymentMoneyChange">
          </div>

        </div>

        <div class="confirmPayment">
          <div class="confirmPaymentBtn" id="confirmPaymentBtn">Confirmar compra</div>
          <div class="cancelPaymentBtn" id="cancelPaymentBtn">Regresar</div>
        </div>

      </div>

    </div>
  </div>

  <div class="ticketWellDone" id="ticketWellDone">

  </div>
  <div class="ticketWrongDone" id="ticketWrongDone">

  </div>

  <div class="giveMoneyScreens" id="giveMoneyScreens">
    <div class="giveMoneyInfoBox">
      <div class="tag">Ingresa los datos del pago</div>
      <form class="form" id="giveMoneyForm">
        
        <label for="giveMoneyTypeInput">Tipo de pago: <i>(requerido)</i></label>
        <select name="giveMoneyType" id="giveMoneyTypeInput" placeholder="Selecciona una editorial">
          <option value="cash">EFECTIVO</option>
        </select>

        <label for="giveMoneyAmountInput">Cantidad a pagar: <i>(requerido)</i></label>
        <input type="text" name="giveMoneyAmoutn" id="giveMoneyAmountInput" pattern="\d+(\.\d{1,2})?">

        <label for="giveMoneyConceptInput">Concepto: <i>(requerido)</i></label>
        <textarea type="text" name="giveMoneyConcept" id="giveMoneyConceptInput" required></textarea>

        <div class="btns">
          <button type="button" class="cancel" id="cancelNewGiveMoneyBtn">Cancelar</button>
          <button type="submit" class="accept" id="addNewGiveMoneyBtn">Aceptar</button>
        </div>
      </form>
    </div>
  </div>
</div>