body .fullstorage-view {
  position: relative;
  width: 100%;
  height: 100%;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  animation: appear 300ms ease;
}
body .fullstorage-view .fullstorage-options-box {
  position: relative;
  width: 100%;
  height: 91%;
  display: flex;
  flex-direction: row;
}
body .fullstorage-view .fullstorage-options-box .store-options {
  width: 10%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .fullstorage-view .fullstorage-options-box .store-options .fs-button {
  width: 90%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: rgba(0, 0, 0, 0);
  color: #ffffff;
  padding: 10px;
  font-size: 13px;
  font-weight: 500;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.4823529412);
  cursor: pointer;
  transition: 300ms ease;
  box-shadow: inset 0 10px 10px 0 rgba(255, 255, 255, 0.1294117647), 0 -10px 30px 0 rgba(255, 255, 255, 0);
}
body .fullstorage-view .fullstorage-options-box .store-options .fs-button:hover {
  background: rgba(0, 0, 0, 0.3176470588);
  border: 1px solid rgba(255, 255, 255, 0.0431372549);
  box-shadow: inset 0 3px 5px 0 rgba(255, 255, 255, 0.7215686275), 0 -10px 20px 0 rgba(255, 255, 255, 0.1294117647);
}
body .fullstorage-view .fullstorage-options-box .filters-box {
  position: relative;
  width: 90%;
  height: 5%;
  display: flex;
  flex-direction: row;
}
body .fullstorage-view .fullstorage-options-box .filters-box .searchBar-box {
  height: 100%;
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .fullstorage-view .fullstorage-options-box .filters-box .searchBar-box .search-bar {
  width: 90%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(255, 255, 255, 0.3176470588);
  border-radius: 30px;
  background: rgba(48, 116, 150, 0.3725490196);
  overflow: hidden;
  box-shadow: 0 0 150px 0 rgba(195, 201, 255, 0);
  transition: 300ms ease;
}
body .fullstorage-view .fullstorage-options-box .filters-box .searchBar-box .search-bar:focus-within {
  box-shadow: 0 0 100px 0 rgba(214, 191, 255, 0.3764705882);
  border: 1px solid rgba(209, 213, 255, 0.5137254902);
}
body .fullstorage-view .fullstorage-options-box .filters-box .searchBar-box .search-bar input {
  width: 90%;
  height: 95%;
  background: none;
  border: none;
  outline: none;
  color: white;
  font-size: 20px;
}
body .fullstorage-view .fullstorage-options-box .filters-box .searchBar-box .search-bar input::-moz-placeholder {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.4156862745);
}
body .fullstorage-view .fullstorage-options-box .filters-box .searchBar-box .search-bar input::placeholder {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.4156862745);
}
body .fullstorage-view .fullstorage-options-box .filters-box .searchBar-box .search-bar img {
  width: 5%;
  filter: invert(1);
  cursor: pointer;
}
body .fullstorage-view .fullstorage-options-box .filters-box .parameters-box {
  width: 55%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
body .fullstorage-view .fullstorage-options-box .filters-box .parameters-box .parameter-btn {
  width: 17%;
  height: 80%;
  background: rgba(0, 0, 0, 0.3411764706);
  border: 1px solid rgba(255, 255, 255, 0.4823529412);
  border-radius: 5px;
  color: rgba(255, 255, 255, 0.455);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;
}
body .fullstorage-view .fullstorage-list-box {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 90%;
  height: 91%;
  overflow-y: scroll;
  scrollbar-width: none;
}
body .fullstorage-view .fullstorage-list-box .fullstorage-existence {
  position: relative;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 300ms;
}
body .fullstorage-view .fullstorage-list-box .fullstorage-existence .nonselection {
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50%;
  margin-top: 100px;
  display: none;
}
body .fullstorage-view .fullstorage-list-box .fullstorage-existence .nonselection.active {
  display: flex;
}
body .fullstorage-view .fullstorage-list-box .fullstorage-existence .productType-box {
  position: relative;
  width: 98%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  margin: 0 0 60px;
}
body .fullstorage-view .fullstorage-list-box .fullstorage-existence .productType-box.hide {
  display: none;
}
body .fullstorage-view .fullstorage-list-box .fullstorage-existence .productType-box::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  background: #ffffff;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.4549019608) 0%, rgba(0, 0, 0, 0) 100%);
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.2509803922);
}
body .fullstorage-view .fullstorage-list-box .fullstorage-existence .productType-box .title-box {
  position: sticky;
  top: 0;
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: column;
  text-shadow: 0 10px 10px #000000;
  filter: saturate(3);
  overflow: hidden;
  background-color: #14141a;
  background-image: radial-gradient(at 88% 40%, #14141a 0px, transparent 85%), radial-gradient(at 49% 30%, #14141a 0px, transparent 85%), radial-gradient(at 14% 26%, #14141a 0px, transparent 85%), radial-gradient(at 0% 64%, hsl(263, 93%, 56%) 0px, transparent 85%), radial-gradient(at 41% 94%, hsl(284, 100%, 84%) 0px, transparent 85%), radial-gradient(at 100% 99%, rgb(255, 123, 242) 0px, transparent 85%);
  z-index: 100;
}
body .fullstorage-view .fullstorage-list-box .fullstorage-existence .productType-box .title-box.book-titleCard {
  filter: hue-rotate(110deg) brightness(1.5) saturate(0.8);
}
body .fullstorage-view .fullstorage-list-box .fullstorage-existence .productType-box .title-box.book-titleCard::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 800px;
  height: 300px;
  background: #8b4da9;
  border-radius: 50%;
  filter: blur(100px);
}
body .fullstorage-view .fullstorage-list-box .fullstorage-existence .productType-box .title-box.separator-titleCard {
  filter: hue-rotate(65deg) brightness(1.5) saturate(0.8);
}
body .fullstorage-view .fullstorage-list-box .fullstorage-existence .productType-box .title-box.separator-titleCard::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 800px;
  height: 300px;
  background: #8b4da9;
  border-radius: 50%;
  filter: blur(100px);
}
body .fullstorage-view .fullstorage-list-box .fullstorage-existence .productType-box .title-box.separator-titleCard .type-text {
  filter: brightness(5);
  z-index: 100;
}
body .fullstorage-view .fullstorage-list-box .fullstorage-existence .productType-box .title-box.magazine-titleCard {
  filter: hue-rotate(-10deg) brightness(1.5) saturate(0.8);
}
body .fullstorage-view .fullstorage-list-box .fullstorage-existence .productType-box .title-box.magazine-titleCard::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 800px;
  height: 300px;
  background: #8b4da9;
  border-radius: 50%;
  filter: blur(100px);
}
body .fullstorage-view .fullstorage-list-box .fullstorage-existence .productType-box .title-box .type-text {
  width: 100%;
  height: 35%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 50px;
  font-size: 13px;
  font-weight: 200;
  font-style: italic;
  color: rgba(255, 255, 255, 0.8117647059);
}
body .fullstorage-view .fullstorage-list-box .fullstorage-existence .productType-box .title-box .book-thead {
  width: 100%;
  height: 65%;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .fullstorage-view .fullstorage-list-box .fullstorage-existence .productType-box .title-box .book-thead .book-head-item {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}
body .fullstorage-view .fullstorage-list-box .fullstorage-existence .productType-box .title-box .book-thead .book-head-item.amount {
  width: 6%;
}
body .fullstorage-view .fullstorage-list-box .fullstorage-existence .productType-box .title-box .book-thead .book-head-item.title {
  width: 20%;
}
body .fullstorage-view .fullstorage-list-box .fullstorage-existence .productType-box .title-box .book-thead .book-head-item.details {
  width: 25%;
}
body .fullstorage-view .fullstorage-list-box .fullstorage-existence .productType-box .title-box .book-thead .book-head-item.id {
  width: 18%;
}
body .fullstorage-view .fullstorage-list-box .fullstorage-existence .productType-box .title-box .book-thead .book-head-item.barcode {
  width: 15%;
}
body .fullstorage-view .fullstorage-list-box .fullstorage-existence .productType-box .title-box .book-thead .book-head-item.kind {
  width: 7%;
}
body .fullstorage-view .fullstorage-list-box .fullstorage-existence .productType-box .title-box .book-thead .book-head-item.price {
  width: 9%;
}
body .fullstorage-view .fullstorage-list-box .fullstorage-existence .productType-box .title-box .separ-thead {
  width: 100%;
  height: 65%;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .fullstorage-view .fullstorage-list-box .fullstorage-existence .productType-box .title-box .separ-thead .separ-head-item {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}
body .fullstorage-view .fullstorage-list-box .fullstorage-existence .productType-box .title-box .separ-thead .separ-head-item.amount {
  width: 6%;
}
body .fullstorage-view .fullstorage-list-box .fullstorage-existence .productType-box .title-box .separ-thead .separ-head-item.name {
  width: 20%;
}
body .fullstorage-view .fullstorage-list-box .fullstorage-existence .productType-box .title-box .separ-thead .separ-head-item.details {
  width: 30%;
}
body .fullstorage-view .fullstorage-list-box .fullstorage-existence .productType-box .title-box .separ-thead .separ-head-item.id {
  width: 15%;
}
body .fullstorage-view .fullstorage-list-box .fullstorage-existence .productType-box .title-box .separ-thead .separ-head-item.barcode {
  width: 20%;
}
body .fullstorage-view .fullstorage-list-box .fullstorage-existence .productType-box .title-box .separ-thead .separ-head-item.price {
  width: 9%;
}
body .fullstorage-view .fullstorage-list-box .fullstorage-existence .productType-box .title-box .mag-thead {
  width: 100%;
  height: 65%;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .fullstorage-view .fullstorage-list-box .fullstorage-existence .productType-box .title-box .mag-thead .mag-head-item {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}
body .fullstorage-view .fullstorage-list-box .fullstorage-existence .productType-box .title-box .mag-thead .mag-head-item.amount {
  width: 6%;
}
body .fullstorage-view .fullstorage-list-box .fullstorage-existence .productType-box .title-box .mag-thead .mag-head-item.title {
  width: 20%;
}
body .fullstorage-view .fullstorage-list-box .fullstorage-existence .productType-box .title-box .mag-thead .mag-head-item.details {
  width: 30%;
}
body .fullstorage-view .fullstorage-list-box .fullstorage-existence .productType-box .title-box .mag-thead .mag-head-item.id {
  width: 15%;
}
body .fullstorage-view .fullstorage-list-box .fullstorage-existence .productType-box .title-box .mag-thead .mag-head-item.barcode {
  width: 20%;
}
body .fullstorage-view .fullstorage-list-box .fullstorage-existence .productType-box .title-box .mag-thead .mag-head-item.price {
  width: 9%;
}
body .fullstorage-view .fullstorage-list-box .fullstorage-existence .productType-box .content-box {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
  gap: 2px;
}
body .fullstorage-view .fullstorage-list-box .fullstorage-existence .productType-box .content-box .product-card {
  position: relative;
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5843137255);
  border: 1px solid rgba(255, 255, 255, 0.0784313725);
  border-radius: 5px;
  overflow: hidden;
  font-size: 13px;
  cursor: pointer;
}
body .fullstorage-view .fullstorage-list-box .fullstorage-existence .productType-box .content-box .product-card:after {
  content: "";
  height: 100%;
  width: 10px;
  position: absolute;
  left: 0%;
  top: 65%;
  transition: top, opacity;
  transition-duration: 600ms;
  transition-timing-function: ease;
  background: linear-gradient(transparent, rgb(199, 189, 255), transparent);
  box-shadow: 0 0 30px mediumslateblue;
  opacity: 0;
  filter: blur(10px);
  z-index: 19;
}
body .fullstorage-view .fullstorage-list-box .fullstorage-existence .productType-box .content-box .product-card:hover:after {
  top: 35%;
  opacity: 1;
}
body .fullstorage-view .fullstorage-list-box .fullstorage-existence .productType-box .content-box .product-card.book-product .product-cardColumn {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .fullstorage-view .fullstorage-list-box .fullstorage-existence .productType-box .content-box .product-card.book-product .product-cardColumn.cardBookAmount {
  width: 6%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .fullstorage-view .fullstorage-list-box .fullstorage-existence .productType-box .content-box .product-card.book-product .product-cardColumn.cardBookName {
  width: 20%;
  justify-content: flex-start;
  padding: 0 10px 0 20px;
  z-index: 20;
}
body .fullstorage-view .fullstorage-list-box .fullstorage-existence .productType-box .content-box .product-card.book-product .product-cardColumn.cardBookInfo {
  width: 25%;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 10px;
}
body .fullstorage-view .fullstorage-list-box .fullstorage-existence .productType-box .content-box .product-card.book-product .product-cardColumn.cardBookEDQid {
  width: 18%;
  height: 50%;
}
body .fullstorage-view .fullstorage-list-box .fullstorage-existence .productType-box .content-box .product-card.book-product .product-cardColumn.cardBookBarcode {
  width: 15%;
  flex-direction: column;
  align-items: center;
  padding: 0 10px;
}
body .fullstorage-view .fullstorage-list-box .fullstorage-existence .productType-box .content-box .product-card.book-product .product-cardColumn.cardBookKind {
  width: 7%;
  height: 60%;
}
body .fullstorage-view .fullstorage-list-box .fullstorage-existence .productType-box .content-box .product-card.book-product .product-cardColumn.cardBookPrice {
  width: 9%;
  height: 60%;
  text-shadow: 0 0 40px white;
}
body .fullstorage-view .fullstorage-list-box .fullstorage-existence .productType-box .content-box .product-card.separator-product .product-cardColumn {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .fullstorage-view .fullstorage-list-box .fullstorage-existence .productType-box .content-box .product-card.separator-product .product-cardColumn.cardSeparAmount {
  width: 6%;
  height: 100%;
}
body .fullstorage-view .fullstorage-list-box .fullstorage-existence .productType-box .content-box .product-card.separator-product .product-cardColumn.cardSeparName {
  width: 20%;
  justify-content: flex-start;
  padding: 0 10px 0 20px;
  z-index: 20;
}
body .fullstorage-view .fullstorage-list-box .fullstorage-existence .productType-box .content-box .product-card.separator-product .product-cardColumn.cardSeparDetails {
  width: 30%;
  padding: 0 10px;
  flex-direction: column;
  align-items: flex-start;
}
body .fullstorage-view .fullstorage-list-box .fullstorage-existence .productType-box .content-box .product-card.separator-product .product-cardColumn.cardSeparEDQid {
  width: 15%;
  height: 60%;
}
body .fullstorage-view .fullstorage-list-box .fullstorage-existence .productType-box .content-box .product-card.separator-product .product-cardColumn.cardSeparBarcode {
  width: 20%;
}
body .fullstorage-view .fullstorage-list-box .fullstorage-existence .productType-box .content-box .product-card.separator-product .product-cardColumn.cardSeparPrice {
  width: 9%;
  height: 60%;
  text-shadow: 0 0 40px white;
}
body .fullstorage-view .fullstorage-list-box .fullstorage-existence .productType-box .content-box .product-card.magazine-product .product-cardColumn {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .fullstorage-view .fullstorage-list-box .fullstorage-existence .productType-box .content-box .product-card.magazine-product .product-cardColumn.cardMagazineAmount {
  width: 6%;
  height: 100%;
}
body .fullstorage-view .fullstorage-list-box .fullstorage-existence .productType-box .content-box .product-card.magazine-product .product-cardColumn.cardMagazineName {
  width: 20%;
  justify-content: flex-start;
  padding: 0 10px 0 20px;
  z-index: 20;
}
body .fullstorage-view .fullstorage-list-box .fullstorage-existence .productType-box .content-box .product-card.magazine-product .product-cardColumn.cardMagazineInfo {
  width: 30%;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 10px;
}
body .fullstorage-view .fullstorage-list-box .fullstorage-existence .productType-box .content-box .product-card.magazine-product .product-cardColumn.cardMagazineEDQid {
  width: 15%;
  height: 60%;
}
body .fullstorage-view .fullstorage-list-box .fullstorage-existence .productType-box .content-box .product-card.magazine-product .product-cardColumn.cardMagazineBarcode {
  width: 20%;
}
body .fullstorage-view .fullstorage-list-box .fullstorage-existence .productType-box .content-box .product-card.magazine-product .product-cardColumn.cardMagazinePrice {
  width: 9%;
  height: 60%;
  text-shadow: 0 0 40px white;
}
body .fullstorage-view .fullstorage-list-box .fullstorage-existence .productType-box .content-box .product-card .productOptions-ask {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  transition: 300ms ease;
  z-index: 10;
  animation: disappear 300ms ease;
  display: none;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
}
body .fullstorage-view .fullstorage-list-box .fullstorage-existence .productType-box .content-box .product-card .productOptions-ask.active {
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8078431373);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  transition: 300ms ease;
  animation: appear 300ms ease;
  display: flex;
}
body .fullstorage-view .fullstorage-list-box .fullstorage-existence .productType-box .content-box .product-card .productOptions-ask .prodBtns {
  width: 20%;
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  border: 1px solid white;
  border-radius: 10px;
  color: black;
  transition: 300ms ease;
  margin: 0 10%;
}
body .fullstorage-view .fullstorage-list-box .fullstorage-existence .productType-box .content-box .product-card .productOptions-ask .prodBtns .btn-icon {
  transition: 300ms ease;
  margin: 0 10px;
}
body .fullstorage-view .fullstorage-list-box .fullstorage-existence .productType-box .content-box .product-card .productOptions-ask .prodBtns.editBtn:hover {
  background: blue;
  color: white;
}
body .fullstorage-view .fullstorage-list-box .fullstorage-existence .productType-box .content-box .product-card .productOptions-ask .prodBtns.editBtn:hover .btn-icon {
  filter: invert(1);
}
body .fullstorage-view .fullstorage-list-box .fullstorage-existence .productType-box .content-box .product-card .productOptions-ask .prodBtns.addBtn:hover {
  background: #00962d;
  color: white;
}
body .fullstorage-view .fullstorage-list-box .fullstorage-existence .productType-box .content-box .product-card .productOptions-ask .prodBtns.addBtn:hover .btn-icon {
  filter: invert(1);
}
body .fullstorage-view .fullstorage-list-box .fullstorage-existence .productType-box .no-content {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: white;
  z-index: 10;
}
body .fullstorage-view .innerFade-line {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  background: #000a18;
  background: linear-gradient(140deg, #000a18 50%, #17455a 100%);
  -webkit-mask-image: linear-gradient(0deg, #000, transparent);
          mask-image: linear-gradient(0deg, #000, transparent);
}/*# sourceMappingURL=styles.css.map */