<div class="init-login">
  <div class="init-hub">
    <div class="icon-box">
      <img class="login-icon" src="/svg/people-circle.svg" alt="">
    </div>
    <form class="login-form" id="passwordForm">
      <label for="password">¡Bienvenidx!</label>
      <input type="password" id="password" name="password">
      <button type="submit" class="login-btn" id="loginBtn">Entrar</button>
    </form>
  </div>
</div>