<main class="configparty-view active" id="configpartyView">
  <div class="config-hub parties-options">
    <div class="option-btn" id="partyconfigCreatePartyBtn">Crear evento</div>

    <div class="option-btn" id="partyconfigSelectBtn">Seleccionar</div>
  </div>

  <div class="config-hub parties-hub">
    <div class="parties-body" id="partyconfigBox">
    </div>
  </div>
</main>
