<div class="home-box">
  <div class="hub">

    <div class="hubBox parties-box">
      <div class="parties-body" id="partiesBox">

      </div>
    </div>

    <div class="hubBox options-box">

      <div class="main btnsBox">
        <div class="mainBtn newParty" id="createPartyBtn">Crear evento +
          <div class="innerDiv-line"></div>
        </div>
      </div>

      <div class="other btnsBox">
        <div class="mainBtn fullStorage" id="homeFullStorageBtn">Inventario
          <div class="innerDiv-line"></div>
        </div>

        <div class="mainBtn dataConfig" id="homeDataConfigBtn">Base de datos<div class="innerDiv-line"></div>
        </div>
      </div>
      <div class="session btnsBox">
        <div class="div-line"></div>
        <div class="session-btn" id="logout">Salir</div>
      </div>
    </div>
  </div>
</div>