<div class="home-box">
  <div class="hub">

    <div class="hubBox events-box">
      <div class="events-body" id="eventsBox">

      </div>
    </div>

    <div class="hubBox options-box">
      <div class="main btnsBox">
        <div class="mainBtn newEvent">+ Create New Party
          <div class="innerDiv-line"></div>
        </div>
      </div>
      <div class="other btnsBox">
        <div class="mainBtn fullStorage">View Storage
          <div class="innerDiv-line"></div>
        </div>
        <div class="mainBtn dataConfig" id="homeDataConfig">Configuración de datos pend.
          <div class="innerDiv-line"></div>
        </div>
      </div>
      <div class="session btnsBox">
        <div class="div-line"></div>
        <div class="session-btn" id="logout">Logout</div>
      </div>
    </div>
  </div>
</div>