<div class="confirmDelete-screen" id="confirmDeleteScreen">
  <div class="confirmDelete-box">
    <div class="tag" id="confirmDeleteTag">¿Estás segura? La información se borrará del sistema y no hay forma de
      deshacer esta acción</div>


    <div class="btns">
      <button class="cancel" id="cancelConfirmdeleteBtn">Cancelar</button>
      <button class="accept" id="acceptConfirmdeleteBtn">Continuar con la eliminación</button>
    </div>

  </div>

</div>