<div class="delete-screen" id="deleteScreen">
  <div class="delete-box">
    <div class="tag" id="deleteTag">Eliminar la siguiente información:</div>
    <div class="info-box">
      <div class="info-label">
        ID de proveedor:
        <p class="info-input" id="idLabel"></p>
      </div>
      <div class="info-label">
        Nombre:
        <p class="info-input" id="nameLabel"></p>
      </div>
      <div class="info-label">
        Responsable:
        <p class="info-input" id="respLabel"></p>
      </div>
      <div class="info-label">
        Número de contacto:
        <p class="info-input" id="numbLabel"></p>
      </div>
    </div>

    <div class="btns">
      <button class="cancel" id="cancelDeleteBtn">Cancelar</button>
      <button class="accept" id="acceptDeleteBtn">Continuar</button>
    </div>
    
  </div>

</div>