<div class="edit-screen" id="editScreen">
  <div class="edit-formBox">
    <div class="tag" id="editTag">Editar información del proveedor</div>
    <form class="edit-form" id="editForm">
      <label for="editRespInput">Nombre del responsable:</label>
      <input type="text" name="provResp" id="editRespInput" required>
      <label for="editNumberInput">Número de contacto:</label>
      <input type="text" name="provNumber" id="editNumberInput" maxlength="10">

      <div class="btns">
        <button type="button" class="cancel" id="cancelEditBtn">Cancelar</button>
        <button type="submit" class="accept" id="AcceptEditBtn">Aceptar</button>
      </div>
    </form>
  </div>

</div>