<div class="add-screen" id="addGenreScreen">
  <div class="add-formBox">
    <div class="tag">Añadir nuevo género</div>
    <form class="form" id="addFormGenre">
      <label for="genreNameInput">Nombre del género:</label>
      <input type="text" name="genreName" id="genreNameInput" required>
      <label for="genreAbvInput">Abreviatura:</label>
      <input type="text" name="genreName" id="genreAbvInput" required>

      <div class="btns">
        <button type="button" class="cancel" id="cancelBtnGenre">Cancelar</button>
        <button type="submit" class="accept" id="AddBtnGenre">Aceptar</button>
      </div>
    </form>
  </div>

</div>