<div class="add-screen" id="addSubgenreScreen">
  <div class="add-formBox">
    <div class="tag">Añadir nuevo subgénero</div>
    <form class="form" id="addFormSubgenre">
      <label for="subgenreNameInput">Nombre del subgénero:</label>
      <input type="text" name="subgenreName" id="subgenreNameInput" required>
      <label for="subgenreAbvInput">Abreviatura:</label>
      <input type="text" name="subgenreName" id="subgenreAbvInput" required>

      <div class="btns">
        <button type="button" class="cancel" id="cancelBtnSubgenre">Cancelar</button>
        <button type="submit" class="accept" id="AddBtnSubgenre">Aceptar</button>
      </div>
    </form>
  </div>

</div>