<div class="deleteSubgenre-screen" id="deleteSubgenreScreen">
  <div class="delete-box">
    <div class="tag" id="deleteTag">Eliminar la siguiente información:</div>
    <div class="info-box">
      <div class="info-label">
        ID de la editorial:
        <p class="info-input" id="subgenreIdLabel"></p>
      </div>
      <div class="info-label">
        Nombre:
        <p class="info-input" id="subgenreNameLabel"></p>
      </div>

      <div class="info-label">
        Abreviatura:
        <p class="info-input" id="subgenreAbvLabel"></p>
      </div>
    </div>

    <div class="btns">
      <button class="cancel" id="cancelDeleteSubgenreBtn">Cancelar</button>
      <button class="accept" id="acceptDeleteSubgenreBtn">Continuar</button>
    </div>

  </div>

</div>

<div class="confirmDeleteSubgenre-screen" id="confirmDeleteSubgenreScreen">
  <div class="confirmDelete-box">
    <div class="tag" id="confirmDeleteTag">¿Estás segura? La información se borrará del sistema y no hay forma de
      deshacer esta acción</div>


    <div class="btns">
      <button class="cancel" id="cancelConfirmDeleteSubgenreBtn">Cancelar</button>
      <button class="accept" id="acceptConfirmDeleteSubgenreBtn">Continuar con la eliminación</button>
    </div>

  </div>

</div>