<main class="article-socket" id="articleSocket">

  <div class="dataconfig-box">
    <div class="head">

      <div class="name-box">
        <p class="name-text">Falta json base Géneros y Subgéneros</p>
      </div>
      <div class="navbar">

        <div class="genre navbar-part">
          <div class="navbar-btn add" id="dataconfigAddBtn1">+ Añadir Género
            <div class="innerDiv-line"></div>
          </div>
        </div>

        <div class="subgenre navbar-part">
          <div class="navbar-btn add" id="dataconfigAddBtn2">+ Añadir Subgénero
            <div class="innerDiv-line"></div>
          </div>
        </div>
      </div>


    </div>
    <div class="body">

      <div class="main-screen">
        <div class="part-screen">
          <div class="screen-name">Género</div>
          <div class="cards-box" id="configGenreBox"></div>
        </div>

        <div class="part-screen">
          <div class="screen-name">Subgénero</div>
          <div class="cards-box" id="configSubgenreBox"></div>
        </div>
        <div class="bttm-borderline"></div>
      </div>

    </div>
  </div>
</main>