<div class="data-view">
  <div class="data-hub">
    <div class="data-hub-section up">
      <div class="section inventario">
        <p class="section-title">Configuración del inventario</p>
        <div class="section-body">
          <div class="bodypart">
            <div class="option-btn" id="viewStorage">Ver inventario</div>
            <div class="option-btn">Opciones de Inventario</div>
            <div class="option-btn">Configurar descuentos</div>
          </div>
          <div class="bodypart">
            <!--  <div class="option-btn">Añadir Artículo</div> -->
          </div>
          <div class="bodypart">

            <div class="option-btn" id="viewProvidors">Proveedores</div>
            <div class="option-btn" id="viewEditorials">Añadir Editorial</div>
          </div>
        </div>
      </div>
      <div class="section utilities">
        <p class="section-title">Opciones de negocio</p>
        <div>Realizar pago</div>
        <div>Generar reporte completo</div>
        <div>Otra opción de negocio</div>
        <div>Otra opción de negocio</div>
      </div>
    </div>
    <div class="data-hub-section down">
      <div class="section perfil">
        <p class="section-title">Configuración de perfil</p>
        <a href="/" class="logout" id="logout">Salir</a>
      </div>
    </div>
  </div>
</div>