<div class="section-data-view active" id="sectionDataView">
  <div class="close-win" id="closeDataWin">
    <img src="./svg/exit.svg" alt="">
  </div>
  <div class="article-module" id="invView">
    <div class="data-box">
      <div class="row one">
        <div class="exit-space"></div>
        <div class="box-name">
          <p class="text-name">Inventario: 57 artículos</p>
        </div>

      </div>
      <div class="row two">
        <div class="win-tables">
          <div class="heads">
            <div class="all-items-head">
              <div class="head-item list-position">#</div>
              <div class="head-item product-name">Nombre del artículo</div>
              <div class="head-item product-price">Precio</div>
              
              <div class="head-item product-barcode">Barcode</div>
              <div class="head-item product-kind">Tipo</div>
              <div class="head-item product-providor">Prov.</div>
              <div class="head-item product-edqId">EDQ ID</div>
              <div class="head-item last-product-inserc">lst inserc</div>
              <div class="head-item init-cant">init</div>
              <div class="head-item current-cant">curr</div>
            </div>
          </div>
          <div class="items-tables">
            <div class="inv-table" id="stgTable">
              
            </div>
            <div class="fade-line"></div>
          </div>
        </div>
        <div class="win-menu">
          <div class="index-space">

            <div class="main-selectors">
              <div class="main-index-btn active">Todos los artículos</div>
              <div class="main-index-btn">Libros y revistas</div>
              <div class="main-index-btn">Separadores</div>
              <div class="main-index-btn">Juguetes</div>
              <div class="main-index-btn">Bolígrafos</div>
            </div>
          </div>
          <div class="options-index">
            <div class="storage-btn add">+ Añadir artículos</div>
            <div class="storage-btn config">Editar Inventario</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="article-module">
    <div class="data-box">Generar Inventario</div>
  </div>
  <div class="article-module">Añadir descuento</div>
  <div class="article-module">Configurar descuento</div>
  <div class="article-module">Añadir artículo</div>
  <div class="article-module active">
    <div class="data-box">

    </div>
  </div>
  <div class="article-module">Añadir Editorial</div>
</div>