<div class="report-view">
  <div class="report-box details">
    <div class="report-box-details-titles">
      <div class="details-titles-title">
        <p>Detalles del evento</p>
      </div>
      <div class="details-titles-btns-box">
        <ul id="detailsOptions">
          <li class="details-btn active" id="ticketsReportBtn">Ventas</li>
          <li class="details-btn" id="paymentsReportBtn">Pagos</li>
        </ul>
      </div>
    </div>
    <div class="event-details-box">
      <div class="details-box-module ventas active" id="ventasBoxModule">
      </div>
      <div class="details-box-module pagos" id="pagosBoxModule">
      </div>
    </div>
  </div>
  <div class="report-box balance">
    <div class="balance-box-module" id="balanceBoxModule">
    </div>
  </div>
</div>