<div class="deleteMag-screen" id="deleteMagScreen">
  <div class="deleteMag-box">
    <div class="tag" id="deleteMagTag">Estás a punto de eliminar la siguiente información:</div>
    <div class="info-box">
      <div class="info-label">
        ID de la revista:
        <p class="info-input" id="magIdLabel"></p>
      </div>
      <div class="info-label">
        Título:
        <p class="info-input" id="magTitleLabel"></p>
      </div>
      <div class="info-label">
        Autor:
        <p class="info-input" id="magAuthorLabel"></p>
      </div>
      <div class="info-label">
        Año:
        <p class="info-input" id="magYearLabel"></p>
      </div>

      <div class="info-label">
        Editorial:
        <p class="info-input" id="magEditorialLabel"></p>
      </div>
      <div class="info-label">
        Subénero:
        <p class="info-input" id="magSubgenreLabel"></p>
      </div>
      <div class="info-label">
        Código de Barras:
        <p class="info-input" id="magBarcodeLabel"></p>
      </div>
      <div class="info-label">
        Precio:
        <p class="info-input" id="magPriceLabel"></p>
      </div>
    </div>

    <div class="btns">
      <button class="cancel" id="cancelDeleteMagBtn">Cancelar</button>
      <button class="accept" id="acceptDeleteMagBtn">Continuar</button>
    </div>

  </div>

</div>

<div class="confirmDeleteMag-screen" id="confirmDeleteMagScreen">
  <div class="confirmDeleteMag-box">
    <div class="tag" id="confirmDeleteMagTag">¿Estás segura? La información se borrará del sistema y no hay forma de
      deshacer esta acción</div>


    <div class="btns">
      <button class="cancel" id="cancelConfirmDeleteMagBtn">Cancelar</button>
      <button class="accept" id="acceptConfirmDeleteMagBtn">Continuar con la eliminación</button>
    </div>

  </div>

</div>