<div class="editMag-screen" id="editMagScreen">
  <div class="editMag-formBox">
    <div class="tag" id="editMagTag">Editar libro</div>

    
    <div class="btns">
      <button type="button" class="cancel" id="cancelEditMagBtn">Cancelar</button>
      <button type="submit" class="accept" id="AcceptEditMagBtn">Aceptar</button>
    </div>
  </div>

</div>