<div class="shop-view" id="mainShopView">
  <div class="list-box">
    <div class="shop-list-box" id="shopListBox">
      <table id="shop-list">
        <thead>
          <tr>
            <th class="th1">#</th>
            <th class="th2">Título</th>
            <th class="th3">Precio</th>
            <th class="th4">Cantidad</th>
            <th class="th5">Subtotal</th>
            <th class="th6">%</th>
          </tr>
        </thead>
        <tbody id="tbody">
          <tr class="ticketRow">
            <th>1</th>
            <td>Narraciones Extraordinarias, BOEK</td>
            <td>90</td>
            <td>
              <div class="amount-btn less">-</div>
              <div class="amount-btn amount-numb">3</div>
              <div class="amount-btn more">+</div>
            </td>
            <td>270</td>
            <td></td>
          </tr>
          <tr class="ticketRow">
            <th>2</th>
            <td>Drácula, BOEK</td>
            <td>120</td>
            <td>
              <div class="amount-btn less">-</div>
              <div class="amount-btn amount-numb">2</div>
              <div class="amount-btn more">+</div>
            </td>
            <td>240</td>
            <td></td>
          </tr>
          <tr class="ticketRow">
            <th>3</th>
            <td>20 mil leguas de viaje submarino, BOEK</td>
            <td>110</td>
            <td>
              <div class="amount-btn less">-</div>
              <div class="amount-btn amount-numb">1</div>
              <div class="amount-btn more">+</div>
            </td>
            <td>110</td>
            <td></td>
          </tr>
          <tr class="ticketRow">
            <th>4</th>
            <td>Secretos de la Naturaleza, DKO</td>
            <td>390</td>
            <td>
              <div class="amount-btn less">-</div>
              <div class="amount-btn amount-numb">1</div>
              <div class="amount-btn more">+</div>
            </td>
            <td>390</td>
            <td></td>
          </tr>
          <tr class="ticketRow">
            <th>5</th>
            <td>Fauna, DKL</td>
            <td>1150</td>
            <td>
              <div class="amount-btn less">-</div>
              <div class="amount-btn amount-numb">1</div>
              <div class="amount-btn more">+</div>
            </td>
            <td>1035</td>
            <td>10%</td>
          </tr>
          <tr class="ticketRow">
            <th>6</th>
            <td>Un Mundo Feliz, BOEK</td>
            <td>90</td>
            <td>
              <div class="amount-btn less">-</div>
              <div class="amount-btn amount-numb">2</div>
              <div class="amount-btn more">+</div>
            </td>
            <td>180</td>
            <td></td>
          </tr>
          <tr class="ticketRow">
            <th>7</th>
            <td>Drácula, BOEK</td>
            <td>120</td>
            <td>
              <div class="amount-btn less">-</div>
              <div class="amount-btn amount-numb">2</div>
              <div class="amount-btn more">+</div>
            </td>
            <td>240</td>
            <td></td>
          </tr>
          <tr class="ticketRow">
            <th>8</th>
            <td>Frankenstein, BOEK</td>
            <td>75</td>
            <td>
              <div class="amount-btn less">-</div>
              <div class="amount-btn amount-numb">1</div>
              <div class="amount-btn more">+</div>
            </td>
            <td>110</td>
            <td></td>
          </tr>
          <tr class="ticketRow">
            <th>9</th>
            <td>Cuentos para soñar, DKL</td>
            <td>420</td>
            <td>
              <div class="amount-btn less">-</div>
              <div class="amount-btn amount-numb">5</div>
              <div class="amount-btn more">+</div>
            </td>
            <td>1300</td>
            <td></td>
          </tr>
          <tr class="ticketRow">
            <th>1</th>
            <td>Narraciones Extraordinarias, BOEK</td>
            <td>90</td>
            <td>
              <div class="amount-btn less">-</div>
              <div class="amount-btn amount-numb">3</div>
              <div class="amount-btn more">+</div>
            </td>
            <td>270</td>
            <td></td>
          </tr>
          <tr class="ticketRow">
            <th>2</th>
            <td>Drácula, BOEK</td>
            <td>120</td>
            <td>
              <div class="amount-btn less">-</div>
              <div class="amount-btn amount-numb">2</div>
              <div class="amount-btn more">+</div>
            </td>
            <td>240</td>
            <td></td>
          </tr>
          <tr class="ticketRow">
            <th>3</th>
            <td>20 mil leguas de viaje submarino, BOEK</td>
            <td>110</td>
            <td>
              <div class="amount-btn less">-</div>
              <div class="amount-btn amount-numb">1</div>
              <div class="amount-btn more">+</div>
            </td>
            <td>110</td>
            <td></td>
          </tr>
          <tr class="ticketRow">
            <th>4</th>
            <td>Secretos de la Naturaleza, DKO</td>
            <td>390</td>
            <td>
              <div class="amount-btn less">-</div>
              <div class="amount-btn amount-numb">1</div>
              <div class="amount-btn more">+</div>
            </td>
            <td>390</td>
            <td></td>
          </tr>
          <tr class="ticketRow">
            <th>5</th>
            <td>Fauna, DKL</td>
            <td>1150</td>
            <td>
              <div class="amount-btn less">-</div>
              <div class="amount-btn amount-numb">1</div>
              <div class="amount-btn more">+</div>
            </td>
            <td>1035</td>
            <td>10%</td>
          </tr>
          <tr class="ticketRow">
            <th>6</th>
            <td>Un Mundo Feliz, BOEK</td>
            <td>90</td>
            <td>
              <div class="amount-btn less">-</div>
              <div class="amount-btn amount-numb">2</div>
              <div class="amount-btn more">+</div>
            </td>
            <td>180</td>
            <td></td>
          </tr>
          <tr class="ticketRow">
            <th>7</th>
            <td>Drácula, BOEK</td>
            <td>120</td>
            <td>
              <div class="amount-btn less">-</div>
              <div class="amount-btn amount-numb">2</div>
              <div class="amount-btn more">+</div>
            </td>
            <td>240</td>
            <td></td>
          </tr>
          <tr class="ticketRow">
            <th>8</th>
            <td>Frankenstein, BOEK</td>
            <td>75</td>
            <td>
              <div class="amount-btn less">-</div>
              <div class="amount-btn amount-numb">1</div>
              <div class="amount-btn more">+</div>
            </td>
            <td>110</td>
            <td></td>
          </tr>
          <tr class="ticketRow">
            <th>9</th>
            <td>Cuentos para soñar, DKL</td>
            <td>420</td>
            <td>
              <div class="amount-btn less">-</div>
              <div class="amount-btn amount-numb">5</div>
              <div class="amount-btn more">+</div>
            </td>
            <td>1300</td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="item-box">
      <div class="item-search">
        <div id="searchItem">
          <input id="typeSearch" type="text" />
          <img src="./svg/search-icon.svg" class="search-icon" />
        </div>
      </div>
      <div class="div-line"></div>
      <div class="item-info">
        <p id="itemTitle">20 mil leguas de viaje submarino</p>
        <p id="price">$<span> 110.00</span></p>
        <p id="itemDetail">Julio Verne, BOEK, 2018.</p>
        <div id="codebarImg">
          <img src="./codebars/descarga.png" alt="" />
        </div>
        <p id="codebarNumb">34534563452434</p>
      </div>
    </div>
  </div>
  <div class="pago" id="currentCompraTotal">
    <div class="list-options">
      <div class="list-btn" id="limpiarLista">Limpiar lista actual</div>
      <div class="list-btn" id="guardarLista">
        Guardar lista de compras
      </div>
      <div class="list-btn" id="verListasGuardadas">Listas guardadas</div>
    </div>
    <div class="div-line"></div>
    <div class="payment-options">
      <div class="payment-options-title">Métodos de pago:</div>
      <div class="payment-options-box">
        <div class="payment-label">
          <p>Tarjeta</p>
          <p>Transferencia</p>
          <p>Efectivo</p>
        </div>
        <div class="payment-input">
          <input type="number" />
          <input type="number" />
          <div class="input-efe">3875.00</div>
        </div>
      </div>
    </div>
    <div class="total-options">
      <div class="total-price" id="totalPrice">
        $<span id="totalPriceValue">3875.00</span>
      </div>
      <div class="list-btn accept-payment" id="acceptPayment">
        Aceptar pago
      </div>
    </div>
  </div>
</div>