<div class="ask-screen2" id="askScreen2">
  <div class="ask-box">
    <div class="tag">Selecciona un tipo de producto</div>
    <div class="product-types">
      <div class="type-btn book" id="askBtnBook">Libro
        <div class="innerType-line bookline"></div>
      </div>

      <div class="type-btn separ" id="askBtnSepar">Separador
        <div class="innerType-line separline"></div>
      </div>

      <div class="type-btn mag" id="askBtnMag">Revista / Cómic
        <div class="innerType-line magline"></div>
      </div>

      <div class="type-btn toy">Toy
        <div class="innerType-line toyline"></div>
      </div>

      <div class="type-btn paper">Supplies
        <div class="innerType-line paperline"></div>
      </div>

      <div class="type-btn other">Other
        <div class="innerType-line otherline"></div>
      </div>
    </div>
    <div class="cancel-type2" id="cancelType2">Cancelar</div>
  </div>

</div>