<div class="ask-screen1" id="askScreen1">
  <div class="ask-box">
    <div class="tag">Selecciona una opción</div>
    <div class="product-types">
      <div class="type-btn zero" id="askBtnZero">Añadir desde cero
        <div class="innerType-line zeroline"></div>
      </div>

      <div class="type-btn database" id="askBtnDatabase">Añadir desde base de datos
        <div class="innerType-line databaseline"></div>
      </div>

      <div class="type-btn csv" id="askBtnCsv">Subir archivo .csv
        <div class="innerType-line csvline"></div>
      </div>
    </div>
    <div class="cancel-type" id="cancelType">Cancelar</div>
  </div>

</div>