<main class="fullstorage-view">
  <div class="fullstorage-menu-box">
    <div class="">Añadir productos al inventario</div>
    <div class="">Añadir productos a db e inventario</div>
    <div class="">Subir archivo CSV</div>
    <div class="">
      <div class="">Filtros faker</div>
    </div>
  </div>

  <div class="fullstorage-list-box">
    <div class="fullstorage-existence" id="fullstorageExistence">
      <div class="nonselection" id="nonSelection"></div>
      <div class="" id="booksExistenceBox">Libros</div>
      <div class="" id="separsExistenceBox">Separadores</div>
      <div class="" id="magsExistenceBox">Revistas</div>
      
    </div>
  </div>

  <div class="innerFade-line"></div>
</main>