<div class="pathselector-box">

    <form class="pathselector-buttons">
      <label class="pathselector-btn">
        Todos los productos
        <input type="checkbox" id="allProductsSwitch" class="switch-check">
      </label>

      
      <label class="pathselector-btn">
        Libros
        <input type="checkbox" class="product-switch switch-check">
      </label>
      
      <label class="pathselector-btn">
        Separadores
        <input type="checkbox" class="product-switch switch-check">
      </label>
      
      <label class="pathselector-btn">
        Revistas
        <input type="checkbox" class="product-switch switch-check">
      </label>
    </form>

</div>