<div class="ask-productType-screen" id="askProductTypeScreen">
  <div class="ask-box">
    <div class="tag">Selecciona un tipo de producto</div>
    <div class="product-types">
      <div class="type-btn book" id="addBtnBook">Libro
        <div class="innerType-line bookline"></div>
      </div>

      <div class="type-btn separ" id="addBtnSepar">Separador
        <div class="innerType-line separline"></div>
      </div>

      <div class="type-btn mag" id="addBtnMag">Revista / Cómic
        <div class="innerType-line magline"></div>
      </div>

      <!--
      <div class="type-btn toy">Toy
        <div class="innerType-line toyline"></div>
      </div>

      <div class="type-btn paper">Supplies
        <div class="innerType-line paperline"></div>
      </div>

      <div class="type-btn other">Other
        <div class="innerType-line otherline"></div>
      </div>
      -->
    </div>
  </div>

</div>