body .delete-screen {
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  transition: 300ms ease;
  background: #000a18;
  background: linear-gradient(140deg, #000a18 50%, #17455a 100%);
  z-index: 300;
}
body .delete-screen.active {
  animation: appear 200ms ease;
  display: flex;
}
body .delete-screen .delete-box {
  height: auto;
  max-height: 90%;
  background: rgba(0, 0, 0, 0.4823529412);
  box-shadow: 0 0 100px #000000;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.2745098039);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
}
body .delete-screen .delete-box .tag {
  width: -moz-fit-content;
  width: fit-content;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, 0.7019607843);
  font-weight: 100;
  font-size: 16px;
  gap: 10px;
}
body .delete-screen .delete-box .info-box {
  width: 400px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 20px 0 0;
}
body .delete-screen .delete-box .info-box .info-label {
  width: 80%;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
body .delete-screen .delete-box .info-box .info-label .info-input {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .delete-screen .delete-box .btns {
  width: 90%;
  height: 35px;
  align-self: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 30px 0;
}
body .delete-screen .delete-box .btns button {
  width: 40%;
  height: 100%;
  border-radius: 3px;
  outline: none;
  border: none;
  cursor: pointer;
  transition: 300ms ease;
}
body .delete-screen .delete-box .btns button.cancel {
  background: rgba(255, 0, 0, 0.1607843137);
  color: #ff0000;
  border: 1px solid rgba(255, 0, 0, 0.3803921569);
}
body .delete-screen .delete-box .btns button.cancel:hover {
  background: rgba(255, 0, 0, 0.462745098);
  border: 1px solid #ff0000;
  color: #ffffff;
}
body .delete-screen .delete-box .btns button.accept {
  background: rgba(255, 255, 255, 0);
  color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.7921568627);
}
body .delete-screen .delete-box .btns button.accept:hover {
  background: #ffffff;
  color: #000000;
  border: 1px solid #ffffff;
}
body .confirmDelete-screen {
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  transition: 300ms ease;
  z-index: 400;
}
body .confirmDelete-screen.active {
  animation: appear 200ms ease;
  display: flex;
}
body .confirmDelete-screen .confirmDelete-box {
  height: 60%;
  background: #ffffff;
  box-shadow: rgb(255, 255, 255) #000000;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.2745098039);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
}
body .confirmDelete-screen .confirmDelete-box .tag {
  width: 600px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, 0.7019607843);
  font-weight: 800;
  font-size: 24px;
  gap: 10px;
  color: black;
  margin: 20px;
}
body .confirmDelete-screen .confirmDelete-box .btns {
  width: 90%;
  height: 45px;
  align-self: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 30px 0;
}
body .confirmDelete-screen .confirmDelete-box .btns button {
  width: 40%;
  height: 100%;
  border-radius: 3px;
  outline: none;
  border: none;
  cursor: pointer;
  transition: 300ms ease;
  background: black;
  color: white;
  border: 1px solid white;
}
body .confirmDelete-screen .confirmDelete-box .btns button.cancel:hover {
  background: rgba(255, 0, 0, 0.462745098);
  border: 1px solid #ff0000;
  color: #ffffff;
}
body .confirmDelete-screen .confirmDelete-box .btns button.accept:hover {
  background: #ffffff;
  color: #000000;
  border: 1px solid #ffffff;
}/*# sourceMappingURL=styles.css.map */