<main class="addFullstorage-view active" id="addFullstorageView">
  <div class="addFullstorage-options-box">

    <div class="filters-box">


      <div class="searchBar-box">
        <div class="search-bar">
          <input id="searchTypingInput" type="text" placeholder="Busca aquí por título, detalles, id, código de barras, etc.">
          <img src="../svg/search-icon.svg">
        </div>
      </div>

      <div class="adding-options">
        <div class="fromButton" id="addFromZeroBtn">Añadir productos desde cero</div>
        <div class="fromButton" id="addFromCSV">Subir archivo .CSV</div>
      </div>
    </div>

    <div class="products-box">

      <div class="map-box">
        <div class="content-box">
          <div class="partialscreen nonsearch active" id="nonSearch">Busca cualquier producto en la barra de búsqueda</div>
          <div class="partialscreen searchingimg" id="searchImg">
            Buscando ... ...
          </div>
          <div class="queryresults" id="queryResults">
            
          </div>
        </div>
      </div>
    </div>
    <div class="innerFade-line"></div>
</main>