@font-face {
  font-family: 'DMSans';
  src: url('../../../fonts/DM_Sans/DMSans-VariableFont_wght.ttf');
  //Esta fuente es para las pantallas informativas sobre los productos
}

@font-face {
  font-family: 'Raleway';
  src: url('../../../fonts/Raleway/Raleway-VariableFont_wght.ttf');
  //Esta fuente es para las pantallas quwe tengan que ver con información sobre el negocio
}

@font-face {
  font-family: 'Cutive Mono';
  src: url('../../../fonts/Cutive_Mono/CutiveMono-Regular.ttf');
}

body {

  .screen-box {

    #appModule {

      .shop-view {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;

        .list-box {
          position: relative;
          width: 100%;
          height: 70%;
          display: flex;
          flex-direction: row;

          .shopList-box {
            position: relative;
            width: 70%;
            height: 100%;
            background: #000a18;
            color: #ffffff;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;


            .shopList-header {
              position: absolute;
              top: 0;
              background: #000000;
              color: #e3e3e3;
              width: 100%;
              height: 10%;
              font-size: 12px;
              box-shadow: 0 0 30px 0px #4a4dff77;
              display: flex;
              flex-direction: row;
              align-items: center;

                .shopHeaderItem {
                  border-left: 2px solid #ffffff;
                  height: 100%;;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  font-size: 15px;

                  &.th1 {
                    border-left: none;
                    width: 40px;
                  }
  
                  &.th2 {
                    width: 660px;
                  }
  
                  &.th3 {
                    width: 100px;
                  }
  
                  &.th4 {
                    width: 100px;
                  }
  
                  &.th5 {
                    width: 100px;
                  }
  
                  &.th6 {
                    width: 100px;
                  }
                }
            }

            .shopList-body {
              position: relative;
              width: 100%;
              height: 90%;
              display: flex;
              justify-content: center;

              .shopList-products {
                width: 100%;
                height: auto;
                display: flex;
                flex-direction: column;
                align-items: center;
                background:green;
                overflow: scroll;

                

                /*
                .ticketRow {
                  width: 100%;
                  height: 50px;
                  display: flex;
                  flex-direction: row;
                  text-align: center;
                  background: red;

                  &:hover {
                    background: #040a30;
                  }

                  &.selected {
                    background: #130538;
                  }

                  .shopBodyItem {
                    border-bottom: 1px solid #280096;
                    border-left: 1px solid #0f2442;

                    
                    &:nth-child(2) {
                      text-align: start;
                      padding: 0 50px;
                    }


                    &:nth-child(4) {
                      display: flex;
                      align-items: center;
                      justify-content: space-evenly;
                      height: 40px;
                      gap: 5px;

                      .amount-btn {
                        width: 25px;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        cursor: pointer;
                      }

                      .amount-numb {
                        cursor: default;
                      }
                    }
                      
                  }
                    

                }
                  */
              }
            }
          }

          .item-box {
            width: 30%;
            height: 100%;
            border: 1px solid #000000;
            box-shadow: inset 0 0 10px 0 #00000041;
            display: flex;
            flex-direction: column;
            align-items: center;
            background: #000222;

            .item-search {
              width: 100%;
              height: 15%;
              display: flex;
              align-items: center;
              justify-content: center;

              #posSearchBar {
                width: 90%;
                height: 37px;
                background: #ffffffdd;
                border-radius: 100px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                border: 1px solid #808080;
                transition: 300ms;

                box-shadow: 0 0 100px 2px #0011ff50;

                &:hover {
                  border: 1px solid #ffffff;
                  box-shadow: 0 0 50px 0px #0011ff50;
                }

                &:focus-within {
                  background: white;
                  border: 1px solid #808080;
                  box-shadow: 0 0 30px 1px #ffffff79;
                }

                #posSearchTypingInput {
                  width: 90%;
                  height: 25px;
                  margin: 0 0 0 15px;
                  font-size: 20px;
                  background: transparent;
                  outline: none;
                  border: none;
                }

                .search-icon {
                  width: 8%;
                  margin: 0 5px 0 0;
                  cursor: pointer;
                }
              }


            }

            .div-line {
              width: 100%;
              height: 2px;
              background: #ffffff;
              background: radial-gradient(circle, #ffffff 0%, #00000000 90%);
            }

            .item-info {
              position: relative;
              height: 85%;
              width: 100%;
              display: flex;
              flex-direction: column;
              align-items: center;
              color: #ffffff;

              
              overflow: scroll;

              &::-webkit-scrollbar {
                display: none;
              }

              .itemBoxAdvertise {
                position: absolute;
                top: 0;
                height: 30%;
                width: 85%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-align: center;
                font-size: 28px;
                display: none;

                &.active {
                  animation: appear 200ms;
                  display: flex;
                }
              }

              .posQueryResults {
                height: 100%;
                width: 85%;
                flex-direction: column;
                align-items: center;
                display: none;
                overflow: scroll;

                &::-webkit-scrollbar {
                  display: none;
                }

                &.active {
                  animation: appear 200ms;
                  display: flex;
                }

                .posResultsBox {
                  width: 100%;
                  height: auto;
                  display: flex;
                  flex-direction: column;
                  padding-top: 10px;
                  gap: 15px;

                  .posProduct-card {
                    position: relative;
                    width: 100%;
                    height: 130px;
                    border-radius: 10px;
                    border: 1px solid white;
                    display: flex;
                    flex-direction: column;
                    padding: 0 10px;
                    background: #00000000;
                    color: #ffffff;
                    border-radius: 10px;
                    border: 1px solid #ffffff7b;
                    cursor: pointer;
                    transition: 300ms ease;

                    box-shadow: inset 0 10px 10px 0 #ffffff21, 0 -10px 30px 0 rgba(255, 255, 255, 0);

                    &:hover {
                      background: #00000051;
                      border: 1px solid #ffffff0b;
                      box-shadow: inset 0 3px 5px 0 #ffffffb8, 0 -10px 20px 0 #ffffff21;
                    }

                    .posProduct-cardRow {

                      &.cardBookName {
                        height: 25%;
                        width: 100%;
                        font-size:22px;
                        display: flex;
                        justify-content: center;
                      }

                      &.cardBookInfo {
                        height: 20%;
                        width: 100%;
                        font-size: 15px;
                      }

                      &.cardBookKind {
                        height: 20%;
                        width: 100%;
                        font-size: 15px;;
                      }

                      &.cardBookEDQid {
                        height: 15%;
                        width: 100%;
                        font-size: 10px;
                      }

                      &.cardBookBarcode {
                        height: 20%;
                        width: 80%;
                        font-size: 15px;
                      }

                      &.cardSeparName {
                        height: 25%;
                        width: 100%;
                        font-size:22px;
                        display: flex;
                        justify-content: center;
                      }

                      &.cardSeparInfo {
                        height: 40%;
                        width: 100%;
                        font-size: 15px;
                      }

                      &.cardSeparEDQid {
                        height: 15%;
                        width: 100%;
                        font-size: 10px;
                      }

                      &.cardSeparBarcode {
                        height: 20%;
                        width: 80%;
                        font-size: 15px;
                      }

                      &.cardMagName {
                        height: 25%;
                        width: 100%;
                        font-size:22px;
                        display: flex;
                        justify-content: center;
                      }

                      &.cardMagInfo {
                        height: 40%;
                        width: 100%;
                        font-size: 15px;
                      }

                      &.cardMagEDQid {
                        height: 15%;
                        width: 100%;
                        font-size: 10px;
                      }

                      &.cardMagBarcode {
                        height: 20%;
                        width: 80%;
                        font-size: 15px;
                      }

                    }

                    .posProduct-cardDot {
                      position: absolute;
                      right: 10px;

                      &.cardBookAmount {
                        bottom: 20%;
                      }

                      &.cardBookPrice {
                        bottom: 5%;
                      }

                      &.cardSeparAmount {
                        bottom: 20%;
                      }

                      &.cardSeparPrice {
                        bottom: 5%;
                      }
                      
                      &.cardMagAmount {
                        bottom: 20%;
                      }

                      &.cardMagPrice {
                        bottom: 5%;
                      }
                    }
                  }

                  .noresult {
                    position: relative;
                    width: 100%;
                    height: 300px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    padding: 0 10px;
                    color: #ffffff;
                    transition: 300ms ease;
                    font-size: 28px;
                  }
                }
              }

              .posInfoBox {
                height: 100%;
                width: 85%;
                flex-direction: column;
                align-items: center;
                display: none;

                &.active {
                  animation: appear 200ms;
                  display: flex;
                }

                .posItemInfo {
                  width: 90%;
                  display: flex;
                  justify-content: center;
                  align-items: center;

                  &#posItemTitle {
                    height: 35%;
                    text-align: center;
                    font-size: 36px;
                    font-weight: 800;
                    text-shadow: 2px 2px 5px #212121;
                    overflow: hidden;
                  }

                  &#posItemDetails {
                    height: 20%;
                    text-align: end;
                    font-size: 24px;
                    font-weight: 400;
                    text-shadow: 2px 2px 5px #212121;
                    padding-left: 15%;
                  }

                  &#posItemKind {
                    height: 10%;
                    text-align: center;
                    font-size: 15px;
                    font-weight: 400;
                    text-shadow: 2px 2px 5px #212121;
                  }

                  &#posItemPrice {
                    height: 25%;
                    font-size: 35px;
                    font-weight: 500;
                    text-shadow: 2px 2px 5px #212121;
                    gap: 15px;

                    span {
                      font-size: 70px;
                    }
                  }

                  &#posCodebarNumber {
                    height: 10%;
                    font-weight: 500;
                    font-size: 20px;
                  }
                }
              }
            }
          }
        }

        .pago {
          width: 100%;
          height: 30%;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: flex-end;
          position: relative;
          background: #000a18;
          box-shadow: inset -20px -10px 50px 0 #041830;
          font-family: 'Raleway';

          .list-options {
            background: transparent;
            width: 250px;
            height: 170px;
            display: flex;
            flex-direction: column;
            align-items: center;
            position: absolute;
            left: 40px;
            gap: 20px;

            .list-btn {
              width: 250px;
              height: 40px;
              border-radius: 10px;
              font-size: 13px;
              cursor: pointer;
              display: flex;
              align-items: center;
              justify-content: center;

              font-weight: 400;

              &#limpiarLista {
                color: #ff0000;
                background: transparent;
                align-items: center;
                border: 1px solid #700000;
                transition: 300ms;

                &:hover {
                  background: #220000;
                  border: 1px solid red;
                }
              }

              &#guardarLista {
                background: transparent;
                background: linear-gradient(0deg, #727272 0%, transparent 10%);
                color: #dbdbdb;
                border: 1px solid #8a8a8a;
                transition: 300ms;
                filter: brightness(0.8);

                &:hover {
                  filter: brightness(1.1);
                  background: linear-gradient(0deg, #727272 0%, transparent 15%);
                  color: white;
                  text-shadow: 0 0 30px white;

                }
              }

              &#verListasGuardadas {
                background: #000000;
                border: 1px solid #8a8a8a;
                color: #bfbfbf;
                text-shadow: 1px 1px 3px #5e5e5e;
                transition: 300ms;

                &:hover {
                  border: 1px solid white;
                  color: white;
                  text-shadow: 0 0 50px #ffffff;
                }
              }
            }
          }

          .div-line {
            width: 1px;
            height: 85%;
            background: #757575;
            box-shadow: 0 0 5px 1px #454545;
            position: absolute;
            left: 310px;
            display: flex;
            align-items: center;
            justify-content: center;
          }

          .payment-options {
            background: transparent;
            width: 600px;
            height: 200px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            position: absolute;
            right: 30%;
            gap: 5px;

            .payment-options-title {
              width: 500px;
              height: 20px;
              display: flex;
              align-items: center;
              justify-content: flex-start;
              font-size: 12px;
              font-weight: 200;
              color: #dbdbdb;
            }

            .payment-options-box {
              width: 500px;
              height: 150px;
              display: flex;
              align-items: center;
              justify-content: center;

              .payment-label {
                width: 200px;
                height: 150px;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: flex-end;

                p {
                  width: 100%;
                  height: 40px;
                  font-size: 18px;
                  display: flex;
                  align-items: center;
                  justify-content: flex-end;
                  color: rgb(255, 255, 255);
                  padding: 0 20px;
                }
              }


              .payment-input {
                width: 300px;
                height: 150px;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;


                input[type=number]::-webkit-inner-spin-button,
                input[type=number]::-webkit-outer-spin-button {
                  -webkit-appearance: none;
                  margin: 0;
                }

                input {
                  width: 250px;
                  height: 40px;
                  border: 1px solid #939393;
                  outline: none;
                  font-size: 24px;
                  border-radius: 5px;
                  background: #000000;
                  color: #d7d7d7;
                  padding: 0 10px;
                  transition: 300ms;

                  font-family: 'cutive mono';

                  &:hover {
                    border: 1px solid white;
                    box-shadow: 0 0 40px #ffffff13;
                  }

                  &:focus {
                    border: 1px solid white;
                    box-shadow: 0 0 40px #ffffff30;
                  }
                }

                .input-efe {
                  width: 250px;
                  height: 40px;
                  outline: none;
                  font-size: 24px;
                  border-radius: 5px;
                  background: #000000;
                  color: #d7d7d7;
                  padding: 0 10px;
                  display: flex;
                  align-items: center;
                  font-family: 'cutive mono';
                }
              }
            }


          }

          .total-options {
            background: transparent;
            height: 190px;
            width: 25%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            margin: 0 30px 10px 0;

            .total-price {
              color: #ffffff;
              text-shadow: 0px 0px 2px #ffffff;
              font-size: 40px;
              height: 80px;
              display: flex;
              align-items: center;
              justify-content: center;
              font-family: 'cutive mono';

              span {
                font-size: 70px;
              }

            }

            .accept-payment {
              color: #e6e6e6;
              font-size: 15px;
              width: 100%;
              height: 40px;
              background: #302766;
              background: linear-gradient(130deg, #1a1c51 60%, #295294 100%);
              display: flex;
              align-items: center;
              justify-content: center;
              border-radius: 5px;
              cursor: pointer;
              transition: 500ms;

              &:hover {
                border: 1px solid rgb(204, 0, 255);
              }
            }
          }
        }
      }
    }
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes disappear {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}