@font-face {
  font-family: 'DMSans';
  src: url('../../../fonts/DM_Sans/DMSans-VariableFont_wght.ttf');
  //Esta fuente es para las pantallas informativas sobre los productos
}

@font-face {
  font-family: 'Raleway';
  src: url('../../../fonts/Raleway/Raleway-VariableFont_wght.ttf');
  //Esta fuente es para las pantallas quwe tengan que ver con información sobre el negocio
}

@font-face {
  font-family: 'Cutive Mono';
  src: url('../../../fonts/Cutive_Mono/CutiveMono-Regular.ttf');
}

body {

  .screen-box {

    #appModule {

      .shop-view {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;

        .list-box {
          position: relative;
          width: 100%;
          height: 70%;
          display: flex;
          flex-direction: row;

          .shopList-box {
            position: relative;
            width: 70%;
            height: 100%;
            background: rgb(0, 49, 138);
            background: linear-gradient(0deg, #000064 -50%, #000a18 60%);
            color: #ffffff;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            user-select: none;


            .shopList-header {
              position: absolute;
              top: 0;
              background: #000000;
              color: #e3e3e3;
              width: 100%;
              height: 10%;
              font-size: 12px;
              box-shadow: 0 0 30px 0px #4a4dff77;
              display: flex;
              flex-direction: row;
              align-items: center;

              .shopHeaderItem {
                border-left: 1px solid #ffffff;
                height: 100%;
                ;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 15px;

                &.th1 {
                  width: 5%;
                }

                &.th2 {
                  width: 45%;
                }

                &.th3 {
                  width: 10%;
                }

                &.th4 {
                  width: 20%;
                }

                &.th5 {
                  width: 10%;
                }

                &.th6 {
                  width: 10%;

                  border-right: 1px solid #ffffff;
                }
              }
            }

            .shopList-body {
              position: relative;
              width: 100%;
              height: 90%;
              display: flex;
              flex-direction: column;
              align-items: center;
              overflow: scroll;

              &::-webkit-scrollbar {
                display: none;
              }

              .shopList-products {
                width: 100%;
                height: auto;
                display: flex;
                flex-direction: column;
                align-items: center;


                .ticketRow {
                  width: 100%;
                  height: 50px;
                  display: flex;
                  flex-direction: row;
                  cursor: pointer;
                  transition: 300ms;

                  &:hover {
                    background: #040a30;
                  }

                  &.selected {
                    background: #130538;
                  }

                  .shopBodyItem {
                    height: 100%;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    border-bottom: 1px solid #280096;
                    border-left: 1px solid #0f2442;
                    border-right: 1px solid #0f2442;


                    &.itemPosition {
                      width: 5%;
                      font-weight: 200;
                    }

                    &.itemName {
                      width: 45%;
                      justify-content: flex-start;
                      padding: 0 0 0 50px;
                      font-size: 15px;
                      font-weight: 500;
                    }

                    &.itemPrice {
                      width: 10%;
                      font-size: 19px;
                      font-weight: 200;
                    }

                    &.itemAmount {
                      width: 20%;
                      display: flex;
                      align-items: center;
                      justify-content: space-evenly;

                      .amount-btn {
                        height: 50%;
                        width: 20%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border: 1px solid #ffffff91;
                        transition: 300ms;
                        font-size: 13px;
                        border-radius: 8px;

                        &.less {
                          background: #ffffff09;

                          &:hover {
                            background: #ff5900a4;
                          }
                        }

                        &.amount-numb {
                          background: black;
                          font-size: 21px;
                          font-weight: 200;
                          height: 80%;
                          width: 30%;
                        }

                        &.more {
                          background: #ffffff09;

                          &:hover {
                            background: #4800ffad;
                          }
                        }
                      }
                    }

                    &.itemSubtotal {
                      width: 10%;
                      text-shadow: 0 0 20px white;
                      font-size: 17px;
                    }

                    &.itemDiscount {
                      width: 10%;

                      .selectDiscount {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: none;
                        outline: none;
                        background: transparent;
                        color: #ffffff;
                        text-shadow: 0 0 20px white;
                        text-align: center;
                        font-size: 15px;

                        option {
                          background: black;

                        }
                      }
                    }
                  }
                }
              }
            }
          }

          .item-box {
            width: 30%;
            height: 100%;
            border: 1px solid #000000;
            box-shadow: inset 0 0 10px 0 #00000041;
            display: flex;
            flex-direction: column;
            align-items: center;
            background: #000222;

            .item-search {
              width: 100%;
              height: 10%;
              display: flex;
              align-items: center;
              justify-content: center;

              #posSearchBar {
                width: 90%;
                height: 37px;
                background: #ffffffdd;
                border-radius: 100px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                border: 1px solid #808080;
                transition: 300ms;

                box-shadow: 0 0 100px 2px #0011ff50;

                &:hover {
                  border: 1px solid #ffffff;
                  box-shadow: 0 0 50px 0px #0011ff50;
                }

                &:focus-within {
                  background: white;
                  border: 1px solid #808080;
                  box-shadow: 0 0 30px 1px #ffffff79;
                }

                #posSearchTypingInput {
                  width: 90%;
                  height: 25px;
                  margin: 0 0 0 15px;
                  font-size: 20px;
                  background: transparent;
                  outline: none;
                  border: none;
                }

                .search-icon {
                  width: 8%;
                  margin: 0 5px 0 0;
                  cursor: pointer;
                }
              }


            }

            .div-line {
              width: 100%;
              height: 2px;
              background: #ffffff;
              background: radial-gradient(circle, #ffffff 0%, #00000000 90%);
            }

            .item-info {
              position: relative;
              height: 90%;
              width: 100%;
              display: flex;
              flex-direction: column;
              align-items: center;
              color: #ffffff;


              overflow: scroll;

              &::-webkit-scrollbar {
                display: none;
              }

              .itemBoxAdvertise {
                position: absolute;
                top: 0;
                height: 30%;
                width: 85%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-align: center;
                font-size: 28px;
                display: none;

                &.active {
                  animation: appear 200ms;
                  display: flex;
                }
              }

              .posQueryResults {
                height: 100%;
                width: 85%;
                flex-direction: column;
                align-items: center;
                display: none;
                overflow: scroll;

                &::-webkit-scrollbar {
                  display: none;
                }

                &.active {
                  animation: appear 200ms;
                  display: flex;
                }

                .posResultsBox {
                  width: 100%;
                  height: auto;
                  display: flex;
                  flex-direction: column;
                  padding-top: 10px;

                  .posProduct-card {
                    position: relative;
                    width: 100%;
                    height: 150px;
                    display: flex;
                    flex-direction: column;
                    padding: 0 10px;
                    background: #0000004f;
                    color: #ffffff;
                    border: 1px solid #ffffff7b;
                    cursor: pointer;
                    transition: 300ms ease;
                    user-select: none;
                    margin-bottom: 10px;
                    box-shadow: inset 0 10px 10px 0 #ffffff21, 0 -10px 30px 0 rgba(255, 255, 255, 0);

                    &:hover {
                      background: #00000051;
                      border: 1px solid #ffffff0b;
                      box-shadow: inset 0 3px 5px 0 #ffffffb8, 0 -10px 20px 0 #ffffff21;
                    }

                    .posProduct-cardRow {

                      &.cardBookName {
                        height: 25%;
                        width: 100%;
                        font-size: 22px;
                        display: flex;
                        justify-content: center;
                      }

                      &.cardBookInfo {
                        height: 20%;
                        width: 100%;
                        font-size: 15px;
                      }

                      &.cardBookKind {
                        height: 20%;
                        width: 100%;
                        font-size: 15px;
                        display: flex;
                        justify-content: flex-end;
                        align-items: flex-end;
                      }

                      &.cardBookEDQid {
                        height: 15%;
                        width: 100%;
                        font-size: 10px;
                        display: flex;
                        align-items: center;
                      }

                      &.cardBookBarcode {
                        height: 20%;
                        width: 80%;
                        font-size: 15px;
                      }

                      &.cardSeparName {
                        height: 25%;
                        width: 100%;
                        font-size: 22px;
                        display: flex;
                        justify-content: center;
                      }

                      &.cardSeparInfo {
                        height: 40%;
                        width: 100%;
                        font-size: 15px;
                      }

                      &.cardSeparEDQid {
                        height: 15%;
                        width: 100%;
                        font-size: 10px;
                      }

                      &.cardSeparBarcode {
                        height: 20%;
                        width: 80%;
                        font-size: 15px;
                      }

                      &.cardMagName {
                        height: 45%;
                        width: 100%;
                        font-size: 22px;
                        display: flex;
                        justify-content: center;
                      }

                      &.cardMagInfo {
                        height: 20%;
                        width: 100%;
                        font-size: 15px;
                      }

                      &.cardMagEDQid {
                        height: 15%;
                        width: 100%;
                        font-size: 10px;
                      }

                      &.cardMagBarcode {
                        height: 20%;
                        width: 80%;
                        font-size: 15px;
                      }

                    }

                    .posProduct-cardDot {
                      position: absolute;
                      right: 10px;

                      &.cardBookAmount {
                        bottom: 20%;
                      }

                      &.cardBookPrice {
                        bottom: 5%;
                      }

                      &.cardSeparAmount {
                        bottom: 20%;
                      }

                      &.cardSeparPrice {
                        bottom: 5%;
                      }

                      &.cardMagAmount {
                        bottom: 20%;
                      }

                      &.cardMagPrice {
                        bottom: 5%;
                      }
                    }
                  }

                  .noresult {
                    position: relative;
                    width: 100%;
                    height: 300px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    padding: 0 10px;
                    color: #ffffff;
                    transition: 300ms ease;
                    font-size: 28px;
                  }
                }
              }

              .posInfoBox {
                height: 100%;
                width: 85%;
                flex-direction: column;
                align-items: center;
                display: none;

                &.active {
                  animation: appear 200ms;
                  display: flex;
                }

                .posItemInfo {
                  width: 90%;
                  display: flex;
                  justify-content: center;
                  align-items: center;

                  &#posItemTitle {
                    height: 35%;
                    text-align: center;
                    font-size: 36px;
                    font-weight: 800;
                    text-shadow: 2px 2px 5px #212121;
                    overflow: hidden;
                  }

                  &#posItemDetails {
                    height: 20%;
                    text-align: end;
                    font-size: 24px;
                    font-weight: 400;
                    text-shadow: 2px 2px 5px #212121;
                    padding-left: 15%;
                  }

                  &#posItemKind {
                    height: 10%;
                    text-align: center;
                    font-size: 15px;
                    font-weight: 400;
                    text-shadow: 2px 2px 5px #212121;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 5px;
                  }

                  &#posItemPrice {
                    height: 25%;
                    font-size: 35px;
                    font-weight: 500;
                    text-shadow: 2px 2px 5px #212121;
                    gap: 15px;

                    span {
                      font-size: 70px;
                    }
                  }

                  &#posCodebarNumber {
                    height: 10%;
                    font-weight: 500;
                    font-size: 20px;
                  }
                }
              }
            }
          }
        }

        .pago {
          width: 100%;
          height: 30%;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: flex-end;
          position: relative;
          background: #000a18;
          box-shadow: inset -20px -10px 50px 0 #041830;
          font-family: 'Raleway';

          .list-options {
            background: transparent;
            width: 250px;
            height: 170px;
            display: none;
            flex-direction: column;
            align-items: center;
            position: absolute;
            left: 40px;
            gap: 20px;

            .list-btn {
              width: 250px;
              height: 40px;
              border-radius: 10px;
              font-size: 13px;
              cursor: pointer;
              display: flex;
              align-items: center;
              justify-content: center;

              font-weight: 400;

              &#limpiarLista {
                color: #ff0000;
                background: transparent;
                align-items: center;
                border: 1px solid #700000;
                transition: 300ms;

                &:hover {
                  background: #220000;
                  border: 1px solid red;
                }
              }

              &#guardarLista {
                background: transparent;
                background: linear-gradient(0deg, #727272 0%, transparent 10%);
                color: #dbdbdb;
                border: 1px solid #8a8a8a;
                transition: 300ms;
                filter: brightness(0.8);

                &:hover {
                  filter: brightness(1.1);
                  background: linear-gradient(0deg, #727272 0%, transparent 15%);
                  color: white;
                  text-shadow: 0 0 30px white;

                }
              }

              &#verListasGuardadas {
                background: #000000;
                border: 1px solid #8a8a8a;
                color: #bfbfbf;
                text-shadow: 1px 1px 3px #5e5e5e;
                transition: 300ms;

                &:hover {
                  border: 1px solid white;
                  color: white;
                  text-shadow: 0 0 50px #ffffff;
                }
              }
            }
          }

          .giveMoney-options {
            position: absolute;
            left: 0;
            width: 20%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            .giveMoneyBtn {
              cursor: pointer;
              width: 60%;
              height: 40px;
              display: flex;
              align-items: center;
              justify-content: center;
              border: 1px solid white;
              border-radius: 5px;
              font-size: 15px;
              font-weight: 300;
              transition: 300ms ease;

              &:hover {
                background: #ffffffbd;
                color: black;
                font-weight: 800;
                border: 1px solid #313164;
              }
            }
          }

          .div-line {
            width: 1px;
            height: 85%;
            background: #757575;
            box-shadow: 0 0 5px 1px #454545;
            position: absolute;
            left: 20%;
            display: flex;
            align-items: center;
            justify-content: center;
          }

          .payment-options {
            background: transparent;
            width: 50%;
            height: 200px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            position: absolute;
            right: 30%;
            gap: 5px;

            .payment-options-title {
              width: 500px;
              height: 20px;
              display: flex;
              align-items: center;
              justify-content: flex-start;
              font-size: 12px;
              font-weight: 200;
              color: #dbdbdb;
            }

            .payment-options-box {
              width: 500px;
              height: 150px;
              display: flex;
              align-items: center;
              justify-content: center;

              .payment-label {
                width: 200px;
                height: 150px;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: flex-end;

                p {
                  width: 100%;
                  height: 40px;
                  font-size: 18px;
                  display: flex;
                  align-items: center;
                  justify-content: flex-end;
                  color: rgb(255, 255, 255);
                  padding: 0 20px;
                }
              }


              .payment-input {
                width: 250px;
                height: 150px;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;


                input[type=number]::-webkit-inner-spin-button,
                input[type=number]::-webkit-outer-spin-button {
                  -webkit-appearance: none;
                  margin: 0;
                }

                input {
                  width: 200px;
                  height: 40px;
                  border: 1px solid #939393;
                  outline: none;
                  font-size: 32px;
                  font-weight: 500;
                  border-radius: 5px;
                  background: #000000;
                  color: #d7d7d7;
                  padding: 0 10px;
                  transition: 300ms;
                  text-align: right;
                  font-family: 'cutive mono';

                  &:hover {
                    border: 1px solid white;
                    box-shadow: 0 0 40px #ffffff13;
                  }

                  &:focus {
                    border: 1px solid white;
                    box-shadow: 0 0 40px #ffffff30;
                  }
                }

                .input-efe {
                  width: 250px;
                  height: 40px;
                  outline: none;
                  font-size: 24px;
                  border-radius: 5px;
                  background: #000000;
                  color: #d7d7d7;
                  padding: 0 10px;
                  display: flex;
                  align-items: center;
                  font-family: 'cutive mono';
                }
              }
            }


          }

          .total-options {
            background: transparent;
            height: 190px;
            width: 25%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            margin: 0 30px 10px 0;

            .total-priceBox {
              color: #ffffff;
              text-shadow: 0px 0px 2px #ffffff;
              font-size: 40px;
              height: 80px;
              display: flex;
              align-items: center;
              justify-content: center;
              font-family: 'cutive mono';

              div {
                font-size: 70px;
              }

            }

            .acceptPaymentBtn {
              color: #e6e6e6;
              font-size: 15px;
              width: 100%;
              height: 40px;
              background: #302766;
              background: linear-gradient(130deg, #1a1c51 60%, #295294 100%);
              display: flex;
              align-items: center;
              justify-content: center;
              border-radius: 5px;
              cursor: pointer;
              transition: 500ms;

              &:hover {
                border: 1px solid rgb(204, 0, 255);
              }
            }
          }
        }

        .saleScreens {
          position: absolute;
          width: 100%;
          height: 100%;
          background: #00000000;
          align-items: center;
          justify-content: center;
          animation: disappear 300ms;
          display: none;

          &.active {
            animation: appear 300ms;
            display: flex;
          }

          .confirmSaleScreen {
            position: relative;
            width: 98%;
            height: 96%;
            background: #15042c;
            align-items: center;
            justify-content: center;
            animation: disappear 300ms;
            display: none;

            &.active {
              animation: appear 300ms;
              display: flex;
            }

            .ticketWin {
              width: 60%;
              height: 90%;
              display: flex;
              flex-direction: column;
              align-items: center;
              overflow: scroll;

              &::-webkit-scrollbar {
                display: none;
              }

              .ticketList {
                width: 90%;
                height: auto;
                background: #aeaeae;
                border: 1px solid #000000;
                color: black;
                display: flex;
                flex-direction: column;
                align-items: center;

                .ticketItem {
                  width: 99%;
                  height: 70px;
                  border: 1px solid #000000;
                  margin: 5px 0;
                  display: flex;
                  justify-content: flex-end;
                  align-items: center;
                  flex-wrap: wrap;

                  .itemPart {
                    width: 30%;
                    height: 50%;

                    &.ticketPosition {
                      width: 7%;
                      display: flex;
                      align-items: center;
                      justify-content: center;
                      border-right: 1px solid #000000;
                      border-bottom: 1px solid #000000;
                    }

                    &.ticketName {
                      width: 73%;
                      display: flex;
                      align-items: center;
                      padding: 0 20px;
                      border-right: 1px solid #000000;
                      border-bottom: 1px solid #000000;
                    }

                    &.ticketSubtotal {
                      width: 20%;
                      display: flex;
                      align-items: center;
                      justify-content: center;
                      border-bottom: 1px solid #000000;
                    }

                    &.ticketAmount {
                      width: 23%;
                      display: flex;
                      align-items: center;
                      justify-content: center;
                      border-left: 1px solid #000000;
                    }

                    &.ticketPrice {
                      width: 25%;
                      display: flex;
                      align-items: center;
                      justify-content: center;
                      border-left: 1px solid #000000;
                    }

                    &.ticketBeforeSubtotal {
                      width: 25%;
                      display: flex;
                      align-items: center;
                      justify-content: center;
                      border-left: 1px solid #000000;
                    }

                    &.ticketDiscount {
                      width: 20%;
                      display: flex;
                      align-items: center;
                      justify-content: center;
                      border-left: 1px solid #000000;
                    }
                  }
                }
              }
            }

            .paymentWin {
              width: 40%;
              height: 90%;
              padding: 20px;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;

              .paymentCalculator {
                width: 100%;
                height: 75%;
                display: flex;
                flex-direction: column;
                align-items: center;

                .paymentMoneyTotal {
                  width: 100%;
                  height: 20%;
                  color: white;
                  font-size: 64px;
                  display: flex;
                  align-items: flex-start;
                }

                .paymentMethod {
                  width: 100%;
                  height: 40%;
                  color: white;
                  display: flex;
                  flex-direction: column;
                  justify-content: space-evenly;
                  align-items: flex-end;
                  font-size: 22px;

                  .paymentMethodText {
                    width: 100%;
                    height: 25%;
                    font-size: 24px;
                  }

                  .paymentMoneyCard {
                    width: 90%;
                    height: 25%;
                    display: none;

                    &.active {
                      animation: appear 300ms;
                      display: flex;
                    }
                  }

                  .paymentMoneyTransfer {
                    width: 80%;
                    height: 25%;
                    display: none;

                    &.active {
                      animation: appear 300ms;
                      display: flex;
                    }
                  }

                  .paymentMoneyCash {
                    width: 60%;
                    height: 25%;
                    display: none;

                    &.active {
                      animation: appear 300ms;
                      display: flex;
                    }
                  }
                }

                .paymentMoneyGiven {
                  width: 80%;
                  height: 10%;
                  color: white;
                  background: transparent;
                  font-size: 32px;
                  outline: none;
                  border: 1px solid white;
                  border-radius: 5px;
                  margin: 30px 0;
                }

                .paymentMoneyChange {
                  width: 100%;
                  height: 25%;
                  color: white;
                  font-size: 48px;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                }

                input[type="number"]::-webkit-inner-spin-button,
                input[type="number"]::-webkit-outer-spin-button {
                  -webkit-appearance: none;
                  margin: 0;
                }
              }

              .confirmPayment {
                width: 100%;
                height: 25%;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: flex-end;

                .confirmPaymentBtn {
                  font-size: 56px;
                  cursor: pointer;
                  color: #e6a8ff;
                  transition: 300ms ease;

                  &:hover {
                    color: white;
                  }
                }

                .cancelPaymentBtn {
                  font-size: 28px;
                  cursor: pointer;
                  color: #7fb1ca;
                  transition: 300ms ease;

                  &:hover {
                    color: white;
                  }
                }
              }
            }
          }

        }

        .ticketWellDone {
          position: absolute;
          bottom: 35%;
          left: 15%;
          width: 40%;
          height: 70px;
          background: #58a5aac2;
          background: linear-gradient(20deg, #58a5aac2 0%, #40c470c2 20%, #12ff00c2 100%);
          border-radius: 20px;
          font-size: 32px;
          justify-content: center;
          align-items: center;
          animation: disappear 500ms;
          display: none;

          &.active {
            animation: appear 300ms;
            display: flex;
          }
        }

        .ticketWrongDone {

          position: absolute;
          bottom: 35%;
          left: 3%;
          width: 63%;
          height: 80px;
          background: #9a3847c2;
          background: linear-gradient(20deg, #8c184ec2 0%, #4d0c39c2 15%, #b90000c2 100%);
          border-radius: 20px;
          font-size: 20px;
          justify-content: center;
          align-items: center;
          text-align: center;
          padding: 0 30px;
          animation: disappear 500ms;
          display: none;

          &.active {
            animation: appear 300ms;
            display: flex;
          }
        }

        .giveMoneyScreens {
          position: absolute;
          width: 100%;
          height: 100%;
          align-items: center;
          justify-content: center;
          animation: disappear 300ms;
          display: none;

          &.active {
            animation: appear 300ms;
            display: flex;
          }

          .giveMoneyInfoBox {
            position: relative;
            width: 97%;
            height: 98%;
            background: black;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 30px;

            .tag {
              font-size: 22px;
            }

            .form {
              width: 30%;
              height: 85%;
              display: flex;
              flex-direction: column;
              align-items: center;

              label {
                width: 100%;
                height: 10%;
                display: flex;
                align-items: center;
                justify-content: space-between;

                i {
                  color: #a26eeb;
                }
              }

              select {
                width: 80%;
                height: 7%;
                background: black;
                color: white;
                margin-bottom: 30px;
                border-radius: 10px;
              }

              input {
                width: 80%;
                height: 7%;
                background: black;
                color: white;
                margin-bottom: 30px;
                outline: none;
                border: 1px solid #ffffff65;
                font-size: 17px;
                border-radius: 10px;
              }

              textarea {
                width: 80%;
                height: 20%;
                background: black;
                color: white;
                margin-bottom: 30px;
                outline: none;
                border: 1px solid #ffffff65;
                font-size: 17px;
                border-radius: 10px;
              }

              .btns {
                width: 100%;
                height: 15%;
                display: flex;
                align-items: center;
                justify-content: space-between;

                button {
                  width: 40%;
                  height: 40%;
                  background: transparent;
                  color: white;
                  outline: none;
                  border: 1px solid white;
                  border-radius: 3px;
                  cursor: pointer;
                  transition: 300ms ease;
                  font-size: 18px;

                  &.cancel {

                    &:hover {
                      background: #492460;
                      border: 1px solid #200034;
                      font-size: 20px;
                    }
                  }
                  
                  &.accept {

                    &:hover {
                      background: #ffffff;
                      color: black;
                      font-size: 20px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}


@keyframes appear {
  0% {
    display: none;
    opacity: 0;

  }

  100% {
    display: flex;
    opacity: 1;
  }
}

@keyframes disappear {
  0% {
    display: flex;
    opacity: 1;
  }

  100% {
    opacity: 0;
    display: none;
  }
}