<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/img/logotipo.png" type="image/x-icon">
  <title>
    <%= title%>
  </title>
  <link rel="stylesheet" href="/css/fullstorage/addFromFile/interface/styles.css">
  
  <link rel="stylesheet" href="/css/fullstorage/main/styles.css">

  <link rel="stylesheet" href="/css/fullstorage/addFromFile/askScreens/styles.css">
</head>

<body>
  
  <%- include('partials/interface/version') %>

  <%- include('partials/fullstorage/interface/components/exitarrow') %>

  <%- include('partials/fullstorage/addFromFile/asklistkind') %>
  
  <script type="module" src="/scripts/fullstorage/addFromZero/script.js"></script>

</body>

</html>