<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/img/logotipo.png" type="image/x-icon">
  <title>
    <%= title%>
  </title>
  <link rel="stylesheet" href="/css/dataconfig/interface/styles.css">
  
  <link rel="stylesheet" href="/css/dataconfig/hub/styles.css">
</head>

<body>
  <%- include('partials/dataconfig/interface/header') %>  
  <%- include('partials/interface/version') %>

  <%- include('partials/dataconfig/interface/main') %>
  

  <script type="module" src="/scripts/dataconfig/hub/script.js"></script>
  
</body>

</html>