<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/img/logotipo.png" type="image/x-icon">
  <title>
    <%= title%>
  </title>
  <link rel="stylesheet" href="/css/home/basics/styles.css">
  <link rel="stylesheet" href="/css/home/hub/styles.css">
</head>

<body>
  <%- include('partials/home/interface/basics') %>

    <div class="home-box">
      <div class="hub">
        <div class="hubBox eventsConfig-box"></div>
        <div class="hubBox events-box"></div>
        <div class="hubBox adminConfig-box"></div>
      </div>
    </div>
</body>

</html>