<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/img/logotipo.png" type="image/x-icon">
  <title>
    <%= title%>
  </title>
  <link rel="stylesheet" href="/css/login/interface/styles.css">
  <link rel="stylesheet" href="/css/login/screen/main/styles.css">
</head>

<body onload="document.getElementById('password').focus();">

  <%- include('partials/login/interface/basics') %>
  <%- include('partials/interface/version') %>
  <%- include('partials/login/screen/main') %>


    <script type="module" src="/scripts/login/script.js"></script>
</body>

</html>