<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/img/logotipo.png" type="image/x-icon">
  <title>
    <%= title%>
  </title>
  <link rel="stylesheet" href="/css/home/interface/styles.css">
  <link rel="stylesheet" href="/css/home/hub/styles.css">
</head>

<body onload="document.getElementById('password').focus();">
  <div class="ver-box">
    ver. 0.5.10
  </div>

  <div class="init-login">
    <div class="logo-box">
      <img class="logo" src="/img/logo.png" alt="">
    </div>
    <div class="init-hub">
      <div class="icon-box">
        <img class="login-icon" src="/svg/people-circle.svg" alt="">
      </div>
      <div class="login-box">
        <label for="password">Bienvenidx</label>
        <input type="password" id="password">
        <a class="login-btn" href="/shop">Entrar</a>
      </div>
    </div>
  </div>
</body>

</html>