<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/img/logotipo.png" type="image/x-icon">
  <title>
    <%= title%>
  </title>
  <link rel="stylesheet" href="/css/dataconfig/artinterface1/styles.css">

  <link rel="stylesheet" href="/css/dataconfig/articles/parties/main/styles.css">

  <link rel="stylesheet" href="/css/dataconfig/articles/parties/add/styles.css">
</head>

<body>
  <%- include('partials/dataconfig/interface/exitarrow') %>
    PUBLIC

    <%- include('partials/dataconfig/articles/parties/main') %>

      <%- include('partials/dataconfig/articles/parties/add') %>

        <script type="module" src="/scripts/dataconfig/articles/parties/script.js"></script>

</body>

</html>