<header>
  <div class="logo-box">
    <img class="logo" src="/img/logotipo.png" alt="">
    <h1 class="text">Editora y Distribuidora Quiroz</h1>
  </div>
  <div class="ver-box">
    ver. 0.5.6
  </div>
</header>