@font-face {
  font-family: "DMSans";
  src: url("../../../fonts/DM_Sans/DMSans-VariableFont_wght.ttf");
}
@font-face {
  font-family: "Raleway";
  src: url("../../../fonts/Raleway/Raleway-VariableFont_wght.ttf");
}
@font-face {
  font-family: "Cutive Mono";
  src: url("../../../fonts/Cutive_Mono/CutiveMono-Regular.ttf");
}
body .screen-box #appModule .data-view {
  width: 100%;
  height: 100%;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background: #000a18;
  background: linear-gradient(140deg, #000a18 40%, #17455a 100%);
  -webkit-backdrop-filter: blur(100px);
          backdrop-filter: blur(100px);
}
body .screen-box #appModule .data-view .data-hub {
  width: 95%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .screen-box #appModule .data-view .data-hub .data-hub-section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body .screen-box #appModule .data-view .data-hub .data-hub-section.up {
  height: 65%;
}
body .screen-box #appModule .data-view .data-hub .data-hub-section.down {
  height: 35%;
  align-items: flex-end;
}
body .screen-box #appModule .data-view .data-hub .data-hub-section .section {
  position: relative;
  background: #000a18;
  border-radius: 30px;
  border: 1px solid rgba(255, 255, 255, 0.1176470588);
  display: flex;
  flex-direction: column;
}
body .screen-box #appModule .data-view .data-hub .data-hub-section .section .section-title {
  font-size: 24px;
  text-shadow: 0 0 30px rgba(255, 255, 255, 0.6509803922);
}
body .screen-box #appModule .data-view .data-hub .data-hub-section .section.partyStorage {
  border: none;
  width: 70%;
  height: 100%;
  gap: 20px;
  background: transparent;
  align-items: center;
}
body .screen-box #appModule .data-view .data-hub .data-hub-section .section.partyStorage .section-title {
  width: 100%;
  height: 30%;
  display: flex;
  align-items: center;
  padding-left: 20px;
}
body .screen-box #appModule .data-view .data-hub .data-hub-section .section.partyStorage .section-body {
  width: 70%;
  height: 90%;
  display: flex;
  flex-direction: column;
}
body .screen-box #appModule .data-view .data-hub .data-hub-section .section.partyStorage .section-body .dataOptionBtn {
  width: 50%;
  height: 40px;
  font-size: 12px;
  background: rgba(255, 255, 255, 0.0196078431);
  border-radius: 3px;
  border: 1px solid rgba(255, 255, 255, 0.3333333333);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 15px 0;
  transition: 300ms;
}
body .screen-box #appModule .data-view .data-hub .data-hub-section .section.partyStorage .section-body .dataOptionBtn:hover {
  background: rgba(9, 0, 33, 0.3607843137);
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.1490196078);
}
body .screen-box #appModule .data-view .data-hub .data-hub-section .section.partyConfig {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .screen-box #appModule .data-view .data-hub .data-hub-section .section.partyConfig .section-title {
  width: 100%;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .screen-box #appModule .data-view .data-hub .data-hub-section .section.partyConfig .partyOptions {
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
body .screen-box #appModule .data-view .data-hub .data-hub-section .section.partyConfig .partyOptions .partyOpt {
  width: 100%;
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .screen-box #appModule .data-view .data-hub .data-hub-section .section.partyInfo {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
body .screen-box #appModule .data-view .data-hub .data-hub-section .section.partyInfo .section-title {
  position: absolute;
  top: 0;
  width: 100%;
  height: 20%;
  padding-left: 20px;
  display: flex;
  align-items: flex-end;
}
body .screen-box #appModule .data-view .data-hub .data-hub-section .section.partyInfo .infoBox {
  position: relative;
  width: 75%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
body .screen-box #appModule .data-view .data-hub .data-hub-section .section.partyInfo .infoBox .partyName {
  width: 95%;
  height: 25%;
  display: flex;
  align-items: flex-end;
  padding: 0 50px;
  font-size: 20px;
}
body .screen-box #appModule .data-view .data-hub .data-hub-section .section.partyInfo .infoBox .aSection {
  width: 95%;
  height: 75%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
body .screen-box #appModule .data-view .data-hub .data-hub-section .section.partyInfo .infoBox .aSection .partyId {
  width: 60%;
  height: 40%;
  display: flex;
  align-items: flex-start;
  padding: 15px 80px;
  font-size: 13px;
}
body .screen-box #appModule .data-view .data-hub .data-hub-section .section.partyInfo .infoBox .aSection .partyPlace {
  width: 60%;
  height: 50%;
  display: flex;
  align-items: center;
  font-size: 20px;
  padding: 0 50px;
}
body .screen-box #appModule .data-view .data-hub .data-hub-section .section.partyInfo .infoBox .aSection .partyDates {
  width: 40%;
  height: 40%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 15px 0px;
  font-size: 18px;
}
body .screen-box #appModule .data-view .data-hub .data-hub-section .section.partyInfo .infoBox .aSection .partyStatus {
  width: 40%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 20px;
}
body .screen-box #appModule .data-view .data-hub .data-hub-section .section.partyInfo .logBox {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
body .screen-box #appModule .data-view .data-hub .data-hub-section .section.partyInfo .logBox .logout {
  width: 50%;
  height: 17%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 1px solid #ffffff;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.1294117647);
  transition: 300ms;
  cursor: pointer;
  text-decoration: none;
  color: #ffffff;
  font-size: 13px;
}
body .screen-box #appModule .data-view .data-hub .data-hub-section .section.partyInfo .logBox .logout:hover {
  background: rgba(255, 0, 0, 0.2862745098);
  border: 1px solid #ff0000;
}
body .screen-box #appModule .section-data-view {
  position: absolute;
  top: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  transition: 300ms;
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
}
body .screen-box #appModule .section-data-view.active {
  display: flex;
  animation: appear 300ms;
}
body .screen-box #appModule .section-data-view.disappear {
  animation: disappear 310ms;
}
body .screen-box #appModule .section-data-view .close-win {
  width: 30px;
  height: 30px;
  left: 1%;
  top: 4%;
  position: absolute;
  cursor: pointer;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(180deg);
  z-index: 1000;
  display: flex;
}
body .screen-box #appModule .section-data-view .close-win.hide {
  animation: disappear 200ms;
  display: none;
}
body .screen-box #appModule .section-data-view .close-win img {
  width: 100%;
  filter: invert(100%);
}
body .screen-box #appModule .section-data-view .article-socket {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .screen-box #appModule .section-data-view .article-socket .articleBox {
  width: 98%;
  height: 97%;
  border-radius: 10px;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
}
body .screen-box #appModule .section-data-view .article-socket .articleBox.active {
  display: flex;
}
body .screen-box #appModule .section-data-view .article-socket .articleBox .row {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
body .screen-box #appModule .section-data-view .article-socket .articleBox .row.one {
  height: 10%;
  justify-content: flex-end;
}
body .screen-box #appModule .section-data-view .article-socket .articleBox .row.one .box-name {
  width: -moz-fit-content;
  width: fit-content;
  height: 100%;
  display: flex;
  align-items: center;
  margin: 0 20%;
}
body .screen-box #appModule .section-data-view .article-socket .articleBox .row.one .box-name .text-name {
  font-size: 32px;
}
body .screen-box #appModule .section-data-view .article-socket .articleBox .row.two {
  height: 90%;
}
body .screen-box #appModule .section-data-view .article-socket .articleBox .row.two.storage-screen .win-tables {
  height: 100%;
  width: 84%;
  background: rgba(0, 0, 0, 0.4196078431);
  border-radius: 15px;
  border: 1px solid black;
  overflow: hidden;
}
body .screen-box #appModule .section-data-view .article-socket .articleBox .row.two.storage-screen .win-tables .heads {
  width: 100%;
  height: 7%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
}
body .screen-box #appModule .section-data-view .article-socket .articleBox .row.two.storage-screen .win-tables .heads .all-items-head {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
body .screen-box #appModule .section-data-view .article-socket .articleBox .row.two.storage-screen .win-tables .heads .all-items-head .head-item {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  border-right: 1px solid white;
}
body .screen-box #appModule .section-data-view .article-socket .articleBox .row.two.storage-screen .win-tables .heads .all-items-head .head-item:nth-last-child(1) {
  border-right: none;
}
body .screen-box #appModule .section-data-view .article-socket .articleBox .row.two.storage-screen .win-tables .heads .all-items-head .head-item.list-position {
  width: 4%;
}
body .screen-box #appModule .section-data-view .article-socket .articleBox .row.two.storage-screen .win-tables .heads .all-items-head .head-item.product-name {
  width: 22%;
  justify-content: flex-start;
  padding: 0 20px;
}
body .screen-box #appModule .section-data-view .article-socket .articleBox .row.two.storage-screen .win-tables .heads .all-items-head .head-item.product-price {
  width: 8%;
}
body .screen-box #appModule .section-data-view .article-socket .articleBox .row.two.storage-screen .win-tables .heads .all-items-head .head-item.product-barcode {
  width: 14%;
}
body .screen-box #appModule .section-data-view .article-socket .articleBox .row.two.storage-screen .win-tables .heads .all-items-head .head-item.product-kind {
  width: 5%;
}
body .screen-box #appModule .section-data-view .article-socket .articleBox .row.two.storage-screen .win-tables .heads .all-items-head .head-item.product-providor {
  width: 7%;
}
body .screen-box #appModule .section-data-view .article-socket .articleBox .row.two.storage-screen .win-tables .heads .all-items-head .head-item.product-edqId {
  width: 19%;
}
body .screen-box #appModule .section-data-view .article-socket .articleBox .row.two.storage-screen .win-tables .heads .all-items-head .head-item.last-product-inserc {
  width: 12%;
}
body .screen-box #appModule .section-data-view .article-socket .articleBox .row.two.storage-screen .win-tables .heads .all-items-head .head-item.init-cant {
  width: 4%;
}
body .screen-box #appModule .section-data-view .article-socket .articleBox .row.two.storage-screen .win-tables .heads .all-items-head .head-item.current-cant {
  width: 9%;
}
body .screen-box #appModule .section-data-view .article-socket .articleBox .row.two.storage-screen .win-tables .items-tables {
  width: 100%;
  height: 93%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  font-size: 12px;
}
body .screen-box #appModule .section-data-view .article-socket .articleBox .row.two.storage-screen .win-tables .items-tables .inv-table {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}
body .screen-box #appModule .section-data-view .article-socket .articleBox .row.two.storage-screen .win-tables .items-tables .inv-table::-webkit-scrollbar {
  display: none;
}
body .screen-box #appModule .section-data-view .article-socket .articleBox .row.two.storage-screen .win-tables .items-tables .inv-table .storage-item {
  width: 100%;
  min-height: 30px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  box-shadow: inset 0 0 30px 0px rgba(52, 4, 226, 0.1647058824);
  border-bottom: 1px solid rgba(121, 121, 121, 0.5960784314);
  cursor: pointer;
}
body .screen-box #appModule .section-data-view .article-socket .articleBox .row.two.storage-screen .win-tables .items-tables .inv-table .storage-item:nth-child(even) {
  background: rgba(0, 0, 0, 0.6235294118);
}
body .screen-box #appModule .section-data-view .article-socket .articleBox .row.two.storage-screen .win-tables .items-tables .inv-table .storage-item:hover {
  background: #130c27;
}
body .screen-box #appModule .section-data-view .article-socket .articleBox .row.two.storage-screen .win-tables .items-tables .inv-table .storage-item:nth-last-child(1) {
  margin-bottom: 30px;
}
body .screen-box #appModule .section-data-view .article-socket .articleBox .row.two.storage-screen .win-tables .items-tables .inv-table .storage-item .stg-item-prop {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid rgba(131, 131, 131, 0.0745098039);
}
body .screen-box #appModule .section-data-view .article-socket .articleBox .row.two.storage-screen .win-tables .items-tables .inv-table .storage-item .stg-item-prop:nth-last-child(1) {
  border-right: none;
}
body .screen-box #appModule .section-data-view .article-socket .articleBox .row.two.storage-screen .win-tables .items-tables .inv-table .storage-item .stg-item-prop.item-list-option {
  width: 4%;
}
body .screen-box #appModule .section-data-view .article-socket .articleBox .row.two.storage-screen .win-tables .items-tables .inv-table .storage-item .stg-item-prop.item-name {
  width: 22%;
  justify-content: flex-start;
  padding: 0 20px;
}
body .screen-box #appModule .section-data-view .article-socket .articleBox .row.two.storage-screen .win-tables .items-tables .inv-table .storage-item .stg-item-prop.item-price {
  width: 8%;
}
body .screen-box #appModule .section-data-view .article-socket .articleBox .row.two.storage-screen .win-tables .items-tables .inv-table .storage-item .stg-item-prop.item-barcode {
  width: 14%;
}
body .screen-box #appModule .section-data-view .article-socket .articleBox .row.two.storage-screen .win-tables .items-tables .inv-table .storage-item .stg-item-prop.item-kind {
  width: 5%;
}
body .screen-box #appModule .section-data-view .article-socket .articleBox .row.two.storage-screen .win-tables .items-tables .inv-table .storage-item .stg-item-prop.item-providor {
  width: 7%;
}
body .screen-box #appModule .section-data-view .article-socket .articleBox .row.two.storage-screen .win-tables .items-tables .inv-table .storage-item .stg-item-prop.item-edqId {
  width: 19%;
}
body .screen-box #appModule .section-data-view .article-socket .articleBox .row.two.storage-screen .win-tables .items-tables .inv-table .storage-item .stg-item-prop.last-item-inserc {
  width: 12%;
}
body .screen-box #appModule .section-data-view .article-socket .articleBox .row.two.storage-screen .win-tables .items-tables .inv-table .storage-item .stg-item-prop.item-init-cant {
  width: 4%;
}
body .screen-box #appModule .section-data-view .article-socket .articleBox .row.two.storage-screen .win-tables .items-tables .inv-table .storage-item .stg-item-prop.item-current-cant {
  width: 9%;
}
body .screen-box #appModule .section-data-view .article-socket .articleBox .row.two.storage-screen .win-tables .items-tables .fade-line {
  background: transparent;
  width: 100%;
  height: 7%;
  position: absolute;
  bottom: 0;
  background: #000000;
  background: linear-gradient(0deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
}
body .screen-box #appModule .section-data-view .article-socket .articleBox .row.two.storage-screen .win-menu {
  height: 100%;
  width: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: #ffffff;
  border-radius: 15px;
  overflow: hidden;
}
body .screen-box #appModule .section-data-view .article-socket .articleBox .row.two.storage-screen .win-menu .index-space {
  width: 100%;
  height: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 10px;
  overflow-y: scroll;
  color: black;
  scrollbar-width: none;
}
body .screen-box #appModule .section-data-view .article-socket .articleBox .row.two.storage-screen .win-menu .index-space .main-selectors {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
body .screen-box #appModule .section-data-view .article-socket .articleBox .row.two.storage-screen .win-menu .index-space .main-selectors .main-index-btn {
  width: 100%;
  height: 35px;
  background: #e0e0e0;
  display: flex;
  align-items: center;
  padding: 0 15px;
  border-radius: 50px;
  border: 1px solid #ffffff;
  cursor: pointer;
  transition: 200ms;
}
body .screen-box #appModule .section-data-view .article-socket .articleBox .row.two.storage-screen .win-menu .index-space .main-selectors .main-index-btn:hover {
  background: #d2d2d2;
  border: 1px solid #aeaeae;
}
body .screen-box #appModule .section-data-view .article-socket .articleBox .row.two.storage-screen .win-menu .index-space .main-selectors .main-index-btn.active {
  background: black;
  color: white;
  border: 1px solid white;
}
body .screen-box #appModule .section-data-view .article-socket .articleBox .row.two.storage-screen .win-menu .options-index {
  width: 100%;
  height: 30%;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 20px 0;
  gap: 10px;
}
body .screen-box #appModule .section-data-view .article-socket .articleBox .row.two.storage-screen .win-menu .options-index .storage-btn {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
body .screen-box #appModule .section-data-view .article-socket .articleBox .row.two.storage-screen .win-menu .options-index .storage-btn:hover {
  text-shadow: 0 0 1px black;
}
body .screen-box #appModule .section-data-view .article-socket .articleBox .row.two.storage-screen .win-menu .options-index .storage-btn.add {
  font-size: 20px;
  transition: 200ms;
}

@keyframes appear {
  0% {
    opacity: 0;
    display: none;
  }
  50% {
    opacity: 0;
    display: none;
  }
  100% {
    opacity: 1;
    display: flex;
  }
}
@keyframes disappear {
  0% {
    opacity: 1;
    display: flex;
  }
  100% {
    opacity: 0;
    display: none;
  }
}/*# sourceMappingURL=styles.css.map */