<main class="article-socket" id="articleSocket">

  <div class="dataconfig-box">
    <div class="head">

      <div class="name-box">
        <p class="name-text">Clientes</p>
      </div>

    </div>
    <div class="body" style="font-size: 50px;">
      ¡Vaya! parece que esta sección aún no está lista.<br>
      Pronto recibirás noticias sobre esta funcionalidad
      <a href="/dataconfig">continuar configurando punto de venta</a>
    </div>
  </div>
</main>