<div class="add-screen" id="addScreen">
  <div class="add-formBox">
    <div class="tag">Añadir nuevo empleado</div>
    <form class="form" id="addEmployeeForm">
      <label for="nameAddInput">Nombre:</label>
      <input type="text" name="employName" id="nameAddInput" required>
      <label for="lastnameAddInput">Apellido:</label>
      <input type="text" name="employLastname" id="lastnameAddInput" required>
      <label for="numberAddInput">Número de contacto:</label>
      <input type="text" name="employNumber" id="numberAddInput" maxlength="10">
      <label for="aliasAddInput">Alias:</label>
      <input type="text" name="employAlias" id="aliasAddInput">

      <div class="btns">
        <button type="button" class="cancel" id="cancelAddEmployeeBtn">Cancelar</button>
        <button type="submit" class="accept" id="AddEmployeeBtn">Aceptar</button>
      </div>
    </form>
  </div>

</div>