<div class="edit-screen" id="editScreen">
  <div class="edit-formBox">
    <div class="tag" id="editEmployeeTag"></div>
    <form class="edit-form" id="editForm">
      <label for="editNameInput">Nombre:</label>
      <input type="text" name="employName" id="editNameInput" required>
      
      <label for="editLastnameInput">Apellido:</label>
      <input type="text" name="employLastname" id="editLastnameInput" required>
      <label for="editNumbInput">Número de contacto:</label>
      <input type="text" name="employNumber" id="editNumbInput" maxlength="10">

      
      <label for="editAliasInput">Alias:</label>
      <input type="text" name="employAlias" id="editAliasInput">

      <div class="btns">
        <button type="button" class="cancel" id="cancelEditBtn">Cancelar</button>
        <button type="submit" class="accept" id="AcceptEditBtn">Aceptar</button>
      </div>
    </form>
  </div>

</div>