<div class="view-screen" id="viewScreen">
  <div class="go-back" id="goBackToEmployees">
    <img src="/svg/exit.svg">
  </div>
  <div class="view-box">
    <div class="tag employeeAliasBit" id="viewEmployeeTag"></div>

    <div class="container">

      <div class="info" id="infoBox">
        <div class="infoItem">
          <div class="label">ID</div>
          <div class="bit" id="employeeIdBit"></div>
        </div>
        <div class="infoItem">
          <div class="label">NOMBRE</div>
          <div class="bit" id="employeeNameBit"></div>
        </div>
        <div class="infoItem">
          <div class="label">APELLIDOS</div>
          <div class="bit" id="employeeLastnameBit"></div>
        </div>
        <div class="infoItem">
          <div class="label">NÚMERO DE CONTACTO</div>
          <div class="bit" id="employeeNumberBit"></div>
        </div>
        <div class="infoItem">
          <div class="label">STATUS</div>
          <div class="bit" id="employeeStatusBit"></div>
        </div>


        <div class="edit-employee-box">
          <div class="edit-employee-btn" id="editEmployeeBtn">Editar Información</div>
        </div>
      </div>

      <div class="employee-details">

        <div class="employee-options">
          <div class="asignEmployee-toParty-btn" id="asignEmployeeToPartyBtn">Asignar nuevo evento
            <div class="innerDiv-line"></div>
          </div>
        </div>

        <div class="parties-history-box">
          <div class="list-box">
           <div class="parties-list">
              <div class="party-example">Feria 10</div>
              <div class="party-example">Feria 9</div>
              <div class="party-example">Feria 8</div>
              <div class="party-example">Feria 7</div>
              <div class="party-example">Feria 6</div>
              <div class="party-example">Feria 5</div>
              <div class="party-example">Feria 4</div>
              <div class="party-example">Feria 3</div>
              <div class="party-example">Feria 2</div>
              <div class="party-example">Feria 1</div>
            </div>
          </div>
        </div>


      </div>

    </div>
  </div>

</div>