<header>
  <div class="logo-box">
    <img class="logo" src="/img/logotipo.png" alt="">
    <h1 class="text">Point Of Sale</h1>
  </div>
  <span>Politécnico 2023</span>
  <div class="ver-box">
    ver. 0.5.18
  </div>
</header>