<div class="data-view">
  <div class="data-hub">
    <div class="data-hub-section up">
      <div class="section partyStorage">
        <p class="section-title">Configuración de datos</p>
        <div class="section-body">
            <div class="dataOptionBtn" id="viewStorage">Inventario</div>
            <div class="dataOptionBtn" id="viewDiscounts">Descuentos</div>
        </div>
      </div>
      <div class="section partyConfig">

        <p class="section-title">Configuración del evento</p>

        <div class="partyOptions">

          <div class="partyOpt" id="editPartyDataBtn">Editar datos</div>
          
          <div class="partyOpt">Generar reporte del evento</div>
          <!--
            <div class="partyOpt">Cambiar estado del evento</div>
            <div class="partyOpt">Responsable(s) del evento</div>
          -->
        </div>
      </div>
    </div>
    <div class="data-hub-section down">
      <div class="section partyInfo">
        <p class="section-title">Información del evento</p>

        <div class="infoBox">

          <div class="partyName" id="partyNameSpan">Nombre</div>

          <div class="aSection">
            <div class="partyId" id="partyIdSpan">este es el id</div>
            <div class="partyPlace" id="partyPlaceSpan">Lugar</div>
            <div class="partyDates" id="partyDatesSpan">Fechas</div>
            <div class="partyStatus" id="partyStatusSpan">Estado</div>
          </div>

        </div>

        <div class="logBox">

          <a href=" /" class="logout">Salir del evento</a>
          <a href="/login" class="logout">Cerrar Sesión</a>
        </div>
      </div>
    </div>
  </div>

  <div class="editPartyData-screen" id="editPartyDataScreen">
    <div class="edit-formBox editParty" id="editFormBox">
      <div class="tag" id="editPartyTag"></div>
      <form class="form" id="editPartyForm">
  
        <div class="inputs">
  
          <label for="editPartyNameInput">Nombre del evento: <i>(requerido)</i></label>
          <input type="text" name="partyName" id="editPartyNameInput" required>
  
          <label for="editPartyStartDateInput">Fecha de Inicio: <i>(requerido)</i></label>
          <input type="date" name="partyStartDate" id="editPartyStartDateInput" required>
  
          <label for="editPartyEndDateInput">Fecha de Término: <i>(requerido)</i></label>
          <input type="date" name="partyEndDate" id="editPartyEndDateInput" required>
  
          <label for="editPartyPlaceInput">Nombre del recinto: <i>(requerido)</i></label>
          <input type="text" name="partyPlace" id="editPartyPlaceInput" required>
  
  
          <label for="editPartyStreetInput">Calle: <i>(requerido)</i></label>
          <input type="text" name="partyStreet" id="editPartyStreetInput" required>
  
          <label for="editPartyNumberInput">Número: <i>(requerido)</i></label>
          <input type="text" name="partyNumber" id="editPartyNumberInput">
  
          <label for="editPartyCityInput">Ciudad: <i>(requerido)</i></label>
          <input type="text" name="partyCity" id="editPartyCityInput" required>
  
          <label for="editPartyPostalcodeInput">Código postal: <i>(requerido)</i></label>
          <input type="text" name="partyNumber" id="editPartyPostalcodeInput" pattern=".{3,10}" required>
        </div>
  
        <div class="btns">
          <button type="button" class="cancel" id="cancelEditPartyBtn">Cancelar</button>
          <button type="submit" class="accept" id="AcceptEditPartyBtn">Continuar</button>
        </div>
      </form>
    </div>

    <div class="askConfirmEdit-screen" id="confirmEditScreen">
      <div class="askTitle">
        Revisa que la información sea correcta antes de continuar
      </div>
      <div class="askBtns">
        <div class="confirmBtn cancel" id="cancelConfirmPartyEditBtn">Volver</div>
        <div class="confirmBtn accept" id="acceptConfirmPartyEditBtn">Continuar</div>
      </div>
    </div>
  </div>

  <div class="successPartyEdit" id="SuccesPartyEdit">
    ¡Evento actualizado correctamente!
  </div>
</div>