<div class="data-view">
  <div class="data-hub">
    <div class="data-hub-section up">
      <div class="section partyStorage">
        <p class="section-title">Configuraci贸n de datos</p>
        <div class="section-body">
            <div class="dataOptionBtn" id="viewStorage">Inventario</div>
            <div class="dataOptionBtn" id="viewDiscounts">Descuentos</div>
        </div>
      </div>
      <div class="section partyConfig">

        <p class="section-title">Configuraci贸n del evento</p>

        <div class="partyOptions">
          <div class="partyOpt">Editar datos</div>
          <!--
            <div class="partyOpt">Cambiar estado del evento</div>
            <div class="partyOpt">Generar reporte completo</div>
            <div class="partyOpt">Responsable(s) del evento</div>
          -->
        </div>
      </div>
    </div>
    <div class="data-hub-section down">
      <div class="section partyInfo">
        <p class="section-title">Informaci贸n del evento</p>

        <div class="infoBox">

          <div class="partyName" id="partyNameSpan">Nombre</div>

          <div class="aSection">
            <div class="partyId" id="partyIdSpan">este es el id</div>
            <div class="partyPlace" id="partyPlaceSpan">Lugar</div>
            <div class="partyDates" id="partyDatesSpan">Fechas</div>
            <div class="partyStatus" id="partyStatusSpan">Estado</div>
          </div>

        </div>

        <div class="logBox">

          <a href=" /" class="logout">Salir del evento</a>
          <a href="/login" class="logout">Cerrar Sesi贸n</a>
        </div>
      </div>
    </div>
  </div>
</div>