<div class="section-data-view" id="sectionDataView">
  <div class="close-win" id="closeDataWin">
    <img src="./svg/exit.svg" alt="">
  </div>
  <div class="article-socket">
    <div class="articleBox storage-box">

      <div class="row one">
        <div class="box-name">
          <p class="text-name">Inventario: 57 artículos</p>
        </div>

      </div>
      <div class="row two storage-screen">
        <div class="win-tables">
          <div class="heads">
            <div class="all-items-head">
              <div class="head-item list-position">#</div>
              <div class="head-item product-name">Nombre del artículo</div>
              <div class="head-item product-price">Precio</div>

              <div class="head-item product-barcode">Barcode</div>
              <div class="head-item product-kind">Tipo</div>
              <div class="head-item product-providor">Prov.</div>
              <div class="head-item product-edqId">EDQ ID</div>
              <div class="head-item last-product-inserc">lst inserc</div>
              <div class="head-item init-cant">init</div>
              <div class="head-item current-cant">curr</div>
            </div>
          </div>
          <div class="items-tables">
            <div class="inv-table" id="stgTable">

            </div>
            <div class="fade-line"></div>
          </div>
        </div>
        <div class="win-menu">
          <div class="index-space">

            <div class="main-selectors">
              <div class="main-index-btn active">Todos los artículos</div>
              <div class="main-index-btn">Libros y revistas</div>
              <div class="main-index-btn">Separadores</div>
              <div class="main-index-btn">Juguetes</div>
              <div class="main-index-btn">Bolígrafos</div>
            </div>
          </div>
          <div class="options-index">
            <div class="storage-btn add">+ Añadir artículos</div>
            <div class="storage-btn config">Editar Inventario</div>
          </div>
        </div>
      </div>
    </div>

    <div class="articleBox discounts-box">
      <div class="row one">
        <div class="box-name">
          <p class="text-name">Configuración de Descuentos</p>
        </div>

      </div>
      <div class="row two">
      </div>
    </div>

    <!--  <div class="data-box add-item-wtf">
        <div class="row one">
        <div class="box-name">
          <p class="text-name">Añadir artículo(?)</p>
        </div>

      </div>
      <div class="row two">
      </div>
    </div> -->
  </div>
</div>