body {

  .article-socket {

    .dataconfig-box {

      .body {

        .main-screen {

          .cards-box {
            position: relative;
            height: auto;
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            transition: 300ms;


            .no-prov {
              width: 100%;
              height: 400px;
              display: flex;
              align-items: center;
              justify-content: center;
              font-size: 20px;
            }

            .providor-card {
              width: 20%;
              height: 180px;
              display: flex;
              flex-direction: column;
              position: relative;
              background: #000000;
              border-radius: 5px;
              border: 1px solid #0f0f0f;
              overflow: hidden;
              cursor: pointer;
              --provgradient: linear-gradient(to bottom, #00308a, #272766, #240942);
              margin: 20px 20px;
              transition: 300ms ease;

              &:after {
                position: absolute;
                content: "";
                width: 0.25rem;
                inset: 0.65rem auto 0.65rem 0.5rem;
                border-radius: 0.125rem;
                background: var(--provgradient);
                transition: transform 300ms ease;
              }

              &:hover {
                border: 1px solid #3122228b;

                &:after {
                  transform: translateX(0.15rem);
                }

                & .providor-name {
                  transform: translateX(12px);
                }

                & .id {
                  transform: translateX(15px);
                }

                & .resp {
                  transform: translateX(5px);
                }

                & .numb {
                  transform: translateX(5px);
                }

                & .glow {
                  opacity: 0.1;
                }

                & .borderglow {
                  opacity: 0.1;
                }
              }

              .glow,
              .borderglow {
                position: absolute;
                width: 20rem;
                height: 20rem;
                transform: translate(-50%, -50%);
                background: radial-gradient(circle closest-side at center, #6a00a8, transparent);
                opacity: 0;
                transition: opacity 300ms ease;
              }

              .providor-name {
                width: fit-content;
                height: 35%;
                display: flex;
                align-items: center;
                margin: 10px 20px 0;
                color: white;
                font-weight: 500;
                font-size: 24px;
                transition: transform 300ms ease;
              }

              .prov-bit {
                width: fit-content;
                height: 15%;
                display: flex;
                align-items: center;
                margin: 0 20px;
                transition: transform 300ms ease;
                font-size: 18px;

                &.id {
                  color: #595959;
                  font-family: monospace;
                }

                &.resp {
                  color: #c1c1c1;
                  margin: 0 0 0 20px;
                  height: 20%;
                  font-size: 14px;
                }

                &.numb {
                  color: #c1c1c1;
                  margin: 0 0 0 20px;
                  height: 15%;
                }
              }

              .opt-dots {
                position: absolute;
                right: 3%;
                bottom: 2%;
                width: 10%;
                height: 35%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 5px;
                z-index: 250;

                &:hover {

                  & .dot {
                    background: #ffffff;
                  }
                }

                .dot {
                  width: 5px;
                  height: 5px;
                  border-radius: 50%;
                  background: #808080;
                  transition: 300ms ease;
                }
              }

              .options-ask {
                position: absolute;
                right: 50%;
                bottom: 50%;
                width: 0%;
                height: 0%;
                background: transparent;
                transition: 300ms ease;
                z-index: 200;
                animation: disappear 300ms ease;
                display: none;
                align-items: center;
                justify-content: space-evenly;
                flex-direction: column;

                &.active {
                  right: 0;
                  bottom: 0;
                  width: 100%;
                  height: 100%;
                  background: #ffffff00;
                  backdrop-filter: blur(10px);
                  transition: 300ms ease;
                  animation: appear 300ms ease;
                  display: flex;
                }

                .provBtns {
                  width: 60%;
                  height: 25%;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  background: white;
                  border: 1px solid white;
                  border-radius: 10px;
                  color: black;
                  transition: 300ms ease;

                  .btn-icon {
                    transition: 300ms ease;
                  }

                  &.editBtn {
                    &:hover {
                      background: blue;
                      color: white;

                      & .btn-icon {
                        filter: invert(1);
                      }
                    }
                  }

                  &.deleteBtn {
                    &:hover {
                      background: red;
                      color: white;

                      & .btn-icon {
                        filter: invert(1);
                      }
                    }
                  }
                }
              }
            }
          }
        }

      }
    }
  }
}

@keyframes appear {
  0% {
    opacity: 0;
    display: none;
  }

  100% {
    opacity: 1;
    display: flex;
  }
}

@keyframes disappear {
  0% {
    opacity: 1;
    display: flex;
  }

  100% {
    opacity: 0;
    display: none;
  }
}