body .article-socket .dataconfig-box .body .main-screen .cards-box {
  position: relative;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  transition: 300ms;
}
body .article-socket .dataconfig-box .body .main-screen .cards-box .no-prov {
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}
body .article-socket .dataconfig-box .body .main-screen .cards-box .providor-card {
  width: 30%;
  height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  background: #000000;
  border-radius: 5px;
  border: 1px solid #0f0f0f;
  overflow: hidden;
  cursor: pointer;
  --provgradient: linear-gradient(to bottom, #00308a, #272766, #240942);
  margin: 20px 20px;
  transition: 300ms ease;
}
body .article-socket .dataconfig-box .body .main-screen .cards-box .providor-card:after {
  position: absolute;
  content: "";
  width: 0.25rem;
  inset: 0.65rem auto 0.65rem 0.5rem;
  border-radius: 0.125rem;
  background: var(--provgradient);
  transition: transform 300ms ease;
}
body .article-socket .dataconfig-box .body .main-screen .cards-box .providor-card:hover {
  border: 1px solid rgba(49, 34, 34, 0.5450980392);
}
body .article-socket .dataconfig-box .body .main-screen .cards-box .providor-card:hover:after {
  transform: translateX(0.15rem);
}
body .article-socket .dataconfig-box .body .main-screen .cards-box .providor-card:hover .providor-name {
  transform: translateX(12px);
}
body .article-socket .dataconfig-box .body .main-screen .cards-box .providor-card:hover .id {
  transform: translateX(15px);
}
body .article-socket .dataconfig-box .body .main-screen .cards-box .providor-card:hover .resp {
  transform: translateX(5px);
}
body .article-socket .dataconfig-box .body .main-screen .cards-box .providor-card:hover .numb {
  transform: translateX(5px);
}
body .article-socket .dataconfig-box .body .main-screen .cards-box .providor-card:hover .glow {
  opacity: 0.1;
}
body .article-socket .dataconfig-box .body .main-screen .cards-box .providor-card:hover .borderglow {
  opacity: 0.1;
}
body .article-socket .dataconfig-box .body .main-screen .cards-box .providor-card .glow,
body .article-socket .dataconfig-box .body .main-screen .cards-box .providor-card .borderglow {
  position: absolute;
  width: 20rem;
  height: 20rem;
  transform: translate(-50%, -50%);
  background: radial-gradient(circle closest-side at center, #6a00a8, transparent);
  opacity: 0;
  transition: opacity 300ms ease;
}
body .article-socket .dataconfig-box .body .main-screen .cards-box .providor-card .providor-name {
  width: -moz-fit-content;
  width: fit-content;
  height: 40%;
  display: flex;
  align-items: flex-start;
  margin: 10px 20px 0;
  color: white;
  font-weight: 500;
  font-size: 24px;
  transition: transform 300ms ease;
}
body .article-socket .dataconfig-box .body .main-screen .cards-box .providor-card .prov-bit {
  width: -moz-fit-content;
  width: fit-content;
  height: 10%;
  display: flex;
  align-items: center;
  margin: 0 20px;
  transition: transform 300ms ease;
  font-size: 18px;
}
body .article-socket .dataconfig-box .body .main-screen .cards-box .providor-card .prov-bit.id {
  color: #595959;
  font-family: monospace;
}
body .article-socket .dataconfig-box .body .main-screen .cards-box .providor-card .prov-bit.resp {
  color: #c1c1c1;
  margin: 0 0 0 20px;
  height: 20%;
  font-size: 14px;
}
body .article-socket .dataconfig-box .body .main-screen .cards-box .providor-card .prov-bit.numb {
  color: #c1c1c1;
  margin: 0 0 0 20px;
  height: 15%;
}
body .article-socket .dataconfig-box .body .main-screen .cards-box .providor-card .opt-dots {
  position: absolute;
  right: 1%;
  bottom: 1%;
  width: 6%;
  height: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  z-index: 250;
}
body .article-socket .dataconfig-box .body .main-screen .cards-box .providor-card .opt-dots:hover .dot {
  background: #ffffff;
}
body .article-socket .dataconfig-box .body .main-screen .cards-box .providor-card .opt-dots .dot {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #808080;
  transition: 300ms ease;
}
body .article-socket .dataconfig-box .body .main-screen .cards-box .providor-card .options-ask {
  position: absolute;
  right: 50%;
  bottom: 50%;
  width: 0%;
  height: 0%;
  background: transparent;
  transition: 300ms ease;
  z-index: 200;
  animation: disappear 300ms ease;
  display: none;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}
body .article-socket .dataconfig-box .body .main-screen .cards-box .providor-card .options-ask.active {
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  transition: 300ms ease;
  animation: appear 300ms ease;
  display: flex;
}
body .article-socket .dataconfig-box .body .main-screen .cards-box .providor-card .options-ask .provBtns {
  width: 60%;
  height: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  border: 1px solid white;
  border-radius: 10px;
  color: black;
  transition: 300ms ease;
}
body .article-socket .dataconfig-box .body .main-screen .cards-box .providor-card .options-ask .provBtns .btn-icon {
  transition: 300ms ease;
}
body .article-socket .dataconfig-box .body .main-screen .cards-box .providor-card .options-ask .provBtns.editBtn:hover {
  background: blue;
  color: white;
}
body .article-socket .dataconfig-box .body .main-screen .cards-box .providor-card .options-ask .provBtns.editBtn:hover .btn-icon {
  filter: invert(1);
}
body .article-socket .dataconfig-box .body .main-screen .cards-box .providor-card .options-ask .provBtns.deleteBtn:hover {
  background: red;
  color: white;
}
body .article-socket .dataconfig-box .body .main-screen .cards-box .providor-card .options-ask .provBtns.deleteBtn:hover .btn-icon {
  filter: invert(1);
}

@keyframes appear {
  0% {
    opacity: 0;
    display: none;
  }
  100% {
    opacity: 1;
    display: flex;
  }
}
@keyframes disappear {
  0% {
    opacity: 1;
    display: flex;
  }
  100% {
    opacity: 0;
    display: none;
  }
}/*# sourceMappingURL=styles.css.map */