<div class="addSepar-screen" id="addSeparScreen">
  <div class="add-formBox addSepar">
    <div class="tag">Añadir nuevo separador</div>
    <form class="form" id="addSeparForm">

      <div class="inputs">


        <label for="separBarcodeInput">Código de Barras: <i>(requerido)</i></label>
        <input type="number" name="prodBarcode" id="separBarcodeInput" required>

        <label for="separNameInput">Nombre: <i>(requerido)</i></label>
        <input type="text" name="prodName" id="separNameInput" required>

        <label for="separMaterialInput">Material: <i>(requerido)</i></label>
        <input type="text" name="prodMaterial" id="separMaterialInput" required>

        <label for="separPrintInput">Impresión: <i>(requerido)</i></label>
        <input type="text" name="prodPrint" id="separPrintInput" required>

        <label for="separDescriptionInput">Descripción: <i>(requerido)</i></label>
        <input type="textarea" name="prodDescription" id="separDescriptionInput" required>

        <label for="separPriceInput">Precio:</label>
        <input type="text" name="prodPrice" id="separPriceInput" pattern="\d+(\.\d{1,2})?">
      </div>

      <div class="btns">
        <button type="button" class="cancel" id="cancelAddSeparBtn">Cancelar</button>
        <button type="submit" class="accept" id="AcceptAddSeparBtn">Continuar</button>
      </div>
    </form>
  </div>

</div>

<div class="addSeparToStorage-screen" id="addSeparToStorageScreen">
  <div class="addToStorage-formBox addSeparToStorage">
    <div class="tag" id="separNameTag"></div>
    <form class="form" id="addSeparToStorageForm">

      <div class="inputs">

        <label for="separToStorageAmountInput">Cantidad: <i>(requerido)</i></label>
        <input type="number" name="prodAmount" id="separToStorageAmountInput" required>

        <label for="separNewpriceInput">Nuevo precio: <i>(requerido)</i></label>
        <input type="text" name="prodPrice" id="separNewpriceInput" pattern="\d+(\.\d{1,2})?" required>
      </div>

      <div class="btns">
        <button type="button" class="cancel" id="cancelAddSeparToStorageBtn">No agregar a inventario</button>
        
        <button type="submit" class="accept" id="AcceptAddSeparToStorageBtn">Continuar</button>
      </div>
    </form>
  </div>

</div>


<div class="askSeparToStorage-screen" id="askSeparToStorageScreen">
  <div class="askToStorage-formBox askSeparToStorage">
    <div class="tag" id="separAfterTag"></div>  
    <div class="btns">
      <div  class="btn zero" id="addAnotherSeparBtn">Añadir un nuevo Separador
        <div class="inner-line zeroline"></div>
      </div>
      <div  class="btn zero" id="addAnotherProductFSeparBtn">Añadir un nuevo producto
        <div class="inner-line zeroline"></div>
      </div>
      <div class="btn getout" id="getOutFSepar">Salir al inventario
        <div class="inner-line getoutline"></div>
      </div>
    </div>
  </div>

</div>