<div class="addSepar-screen" id="addSeparScreen">
  <div class="addSepar-formBox">
    <div class="tag">Añadir nuevo separador</div>
    <form class="form" id="addForm">
      <label for="nameInput">Nuevo Separador lol:</label>
      <input type="text" name="provName" id="nameInput" required>
      <label for="respInput">Nombre del responsable:</label>
      <input type="text" name="provResp" id="respInput" required>
      <label for="numberInput">Número de contacto:</label>
      <input type="text" name="provNumber" id="numberInput" maxlength="10">

      <div class="btns">
        <button type="button" class="cancel" id="cancelAddSeparBtn">Cancelar</button>
        <button type="submit" class="accept" id="AcceptBtnSeparBook">Aceptar</button>
      </div>
    </form>
  </div>

</div>