<div class="deleteSepar-screen" id="deleteSeparScreen">
  <div class="deleteSepar-box">
    <div class="tag" id="deleteSeparTag">Estás a punto de eliminar la siguiente información:</div>
    <div class="info-box">
      <div class="info-label">
        ID del Separador:
        <p class="info-input" id="separIdLabel"></p>
      </div>
      <div class="info-label">
        Nombre:
        <p class="info-input" id="separNameLabel"></p>
      </div>
      <div class="info-label">
        Material:
        <p class="info-input" id="separMaterialLabel"></p>
      </div>
      <div class="info-label">
        Impresión:
        <p class="info-input" id="separPrintLabel"></p>
      </div>

      <div class="info-label">
        Descripción:
        <p class="info-input" id="separDescriptionLabel"></p>
      </div>
      <div class="info-label">
        Código de Barras:
        <p class="info-input" id="separBarcodeLabel"></p>
      </div>
      <div class="info-label">
        Precio:
        <p class="info-input" id="separPriceLabel"></p>
      </div>
    </div>

    <div class="btns">
      <button class="cancel" id="cancelDeleteSeparBtn">Cancelar</button>
      <button class="accept" id="acceptDeleteSeparBtn">Continuar</button>
    </div>

  </div>

</div>

<div class="confirmDeleteSepar-screen" id="confirmDeleteSeparScreen">
  <div class="confirmDeleteSepar-box">
    <div class="tag" id="confirmDeleteSeparTag">¿Estás segura? La información se borrará del sistema y no hay forma de
      deshacer esta acción</div>


    <div class="btns">
      <button class="cancel" id="cancelConfirmDeleteSeparBtn">Cancelar</button>
      <button class="accept" id="acceptConfirmDeleteSeparBtn">Continuar con la eliminación</button>
    </div>

  </div>

</div>