<div class="editSepar-screen" id="editSeparScreen">
  <div class="editSepar-formBox">
    <div class="tag" id="editSeparTag">Editar libro</div>
    <form class="editSepar-form" id="editSeparForm">

      <div class="btns">
        <button type="button" class="cancel" id="cancelEditSeparBtn">Cancelar</button>
        <button type="submit" class="accept" id="AcceptEditSeparBtn">Aceptar</button>
      </div>
    </form>
  </div>

</div>