<main class="article-socket" id="articleSocket">

  <div class="dataconfig-box">
    <div class="head">

      <div class="name-box">
        <p class="name-text">Descuentos</p>
      </div>

    </div>
    <div class="body" style="font-size: 30px;">
      ¡Esta sección estará lista muy pronto!
    </div>
  </div>
</main>