<div class="report-view">
  <div class="report-hub-box">
    <div class="report-box details">
      <div class="report-box-details-titles">
        <div class="details-titles-title">
          <p>Detalles del evento</p>
        </div>
        <div class="details-titles-btns-box">
          <ul id="detailsOptions">
            <li class="details-btn active">Ventas</li>
            <li class="details-btn">Pagos</li>
          </ul>
        </div>
      </div>
      <div class="event-details-box">
        <div class="details-box-module ventas active">
          <div class="event-day">
            <div class="event-day-header">
              <div class="day-date">Miércoles, 21 de Febrero 2024</div>
              <div class="options-box">
                <div class="details-summary">
                  <div class="summary labels">
                    <div class="summary-item label cash">EFECTIVO</div>
                    <div class="summary-item label card">TARJETA</div>
                    <div class="summary-item label trans">TRANSFERENCIA</div>
                  </div>
                  <div class="summary cants">
                    <div class="summary-item cant cash">1500.00</div>
                    <div class="summary-item cant card">500.00</div>
                    <div class="summary-item cant trans">185.00</div>
                  </div>
                </div>
                <div class="daily-total-box">

                  <div class="daily-venta">
                    $
                    <div class="daily-venta-numb">21,885.00</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="detailed-venta">
              <div class="venta-head">
                <div class="head-item date-hour">3:40pm</div>
                <div class="head-item venta-id">00102</div>
                <div class="head-item venta-price-box">
                  <div class="price-carats">$
                    <div class="price-numb">2185.00</div>
                  </div>
                </div>
              </div>
              <div class="div-line"></div>
              <div class="venta-details">
                <div class="details-summary">
                  <div class="summary labels">
                    <div class="summary-item label cash">EFECTIVO</div>
                    <div class="summary-item label card">TARJETA</div>
                    <div class="summary-item label trans">TRANSFERENCIA</div>
                  </div>
                  <div class="summary cants">
                    <div class="summary-item cant cash">1500.00</div>
                    <div class="summary-item cant card">500.00</div>
                    <div class="summary-item cant trans">185.00</div>
                  </div>
                </div>
              </div>
              <div class="div-line"></div>
              <div class="venta-body">
                <div class="venta-item">
                  <div class="bodypart">
                    <div class="item-info cant">x 2</div>
                    <div class="item-info titulo">Dinosaurios y Vida Prehistórica, DKL</div>
                    <div class="item-info codebar">704358977480</div>
                    <div class="item-info precio">$1150.00</div>
                    <div class="item-info disc">5%115</div>
                    <div class="item-info subtotal">$2185.00</div>
                  </div>
                </div>

              </div>
            </div>
            <div class="detailed-venta">
              <div class="venta-head">
                <div class="head-item date-hour">3:40pm</div>
                <div class="head-item venta-id">00102</div>
                <div class="head-item venta-price-box">
                  <div class="price-carats">$
                    <div class="price-numb">2185.00</div>
                  </div>
                </div>
              </div>
              <div class="div-line"></div>
              <div class="venta-details">
                <div class="details-summary">
                  <div class="summary labels">
                    <div class="summary-item label cash">EFECTIVO</div>
                    <div class="summary-item label card">TARJETA</div>
                    <div class="summary-item label trans">TRANSFERENCIA</div>
                  </div>
                  <div class="summary cants">
                    <div class="summary-item cant cash">1500.00</div>
                    <div class="summary-item cant card">500.00</div>
                    <div class="summary-item cant trans">185.00</div>
                  </div>
                </div>
              </div>
              <div class="div-line"></div>
              <div class="venta-body">
                <div class="venta-item">
                  <div class="bodypart">
                    <div class="item-info cant">x 2</div>
                    <div class="item-info titulo">Dinosaurios y Vida Prehistórica, DKL</div>
                    <div class="item-info codebar">704358977480</div>
                    <div class="item-info precio">$1150.00</div>
                    <div class="item-info disc">5%115</div>
                    <div class="item-info subtotal">$2185.00</div>
                  </div>
                </div>

              </div>
            </div>
            <div class="detailed-venta">
              <div class="venta-head">
                <div class="head-item date-hour">3:40pm</div>
                <div class="head-item venta-id">00102</div>
                <div class="head-item venta-price-box">
                  <div class="price-carats">$
                    <div class="price-numb">2185.00</div>
                  </div>
                </div>
              </div>
              <div class="div-line"></div>
              <div class="venta-details">
                <div class="details-summary">
                  <div class="summary labels">
                    <div class="summary-item label cash">EFECTIVO</div>
                    <div class="summary-item label card">TARJETA</div>
                    <div class="summary-item label trans">TRANSFERENCIA</div>
                  </div>
                  <div class="summary cants">
                    <div class="summary-item cant cash">1500.00</div>
                    <div class="summary-item cant card">500.00</div>
                    <div class="summary-item cant trans">185.00</div>
                  </div>
                </div>
              </div>
              <div class="div-line"></div>
              <div class="venta-body">
                <div class="venta-item">
                  <div class="bodypart">
                    <div class="item-info cant">x 2</div>
                    <div class="item-info titulo">Dinosaurios y Vida Prehistórica, DKL</div>
                    <div class="item-info codebar">704358977480</div>
                    <div class="item-info precio">$1150.00</div>
                    <div class="item-info disc">5%115</div>
                    <div class="item-info subtotal">$2185.00</div>
                  </div>
                </div>

              </div>
            </div>
            <div class="detailed-venta">
              <div class="venta-head">
                <div class="head-item date-hour">3:40pm</div>
                <div class="head-item venta-id">00102</div>
                <div class="head-item venta-price-box">
                  <div class="price-carats">$
                    <div class="price-numb">2185.00</div>
                  </div>
                </div>
              </div>
              <div class="div-line"></div>
              <div class="venta-details">
                <div class="details-summary">
                  <div class="summary labels">
                    <div class="summary-item label cash">EFECTIVO</div>
                    <div class="summary-item label card">TARJETA</div>
                    <div class="summary-item label trans">TRANSFERENCIA</div>
                  </div>
                  <div class="summary cants">
                    <div class="summary-item cant cash">1500.00</div>
                    <div class="summary-item cant card">500.00</div>
                    <div class="summary-item cant trans">185.00</div>
                  </div>
                </div>
              </div>
              <div class="div-line"></div>
              <div class="venta-body">
                <div class="venta-item">
                  <div class="bodypart">
                    <div class="item-info cant">x 2</div>
                    <div class="item-info titulo">Dinosaurios y Vida Prehistórica, DKL</div>
                    <div class="item-info codebar">704358977480</div>
                    <div class="item-info precio">$1150.00</div>
                    <div class="item-info disc">5%115</div>
                    <div class="item-info subtotal">$2185.00</div>
                  </div>
                </div>

              </div>
            </div>
            <div class="detailed-venta">
              <div class="venta-head">
                <div class="head-item date-hour">3:40pm</div>
                <div class="head-item venta-id">00102</div>
                <div class="head-item venta-price-box">
                  <div class="price-carats">$
                    <div class="price-numb">2185.00</div>
                  </div>
                </div>
              </div>
              <div class="div-line"></div>
              <div class="venta-details">
                <div class="details-summary">
                  <div class="summary labels">
                    <div class="summary-item label cash">EFECTIVO</div>
                    <div class="summary-item label card">TARJETA</div>
                    <div class="summary-item label trans">TRANSFERENCIA</div>
                  </div>
                  <div class="summary cants">
                    <div class="summary-item cant cash">1500.00</div>
                    <div class="summary-item cant card">500.00</div>
                    <div class="summary-item cant trans">185.00</div>
                  </div>
                </div>
              </div>
              <div class="div-line"></div>
              <div class="venta-body">
                <div class="venta-item">
                  <div class="bodypart">
                    <div class="item-info cant">x 2</div>
                    <div class="item-info titulo">Dinosaurios y Vida Prehistórica, DKL</div>
                    <div class="item-info codebar">704358977480</div>
                    <div class="item-info precio">$1150.00</div>
                    <div class="item-info disc">5%115</div>
                    <div class="item-info subtotal">$2185.00</div>
                  </div>
                </div>

              </div>
            </div>
            <div class="detailed-venta">
              <div class="venta-head">
                <div class="head-item date-hour">3:40pm</div>
                <div class="head-item venta-id">00102</div>
                <div class="head-item venta-price-box">
                  <div class="price-carats">$
                    <div class="price-numb">2185.00</div>
                  </div>
                </div>
              </div>
              <div class="div-line"></div>
              <div class="venta-details">
                <div class="details-summary">
                  <div class="summary labels">
                    <div class="summary-item label cash">EFECTIVO</div>
                    <div class="summary-item label card">TARJETA</div>
                    <div class="summary-item label trans">TRANSFERENCIA</div>
                  </div>
                  <div class="summary cants">
                    <div class="summary-item cant cash">1500.00</div>
                    <div class="summary-item cant card">500.00</div>
                    <div class="summary-item cant trans">185.00</div>
                  </div>
                </div>
              </div>
              <div class="div-line"></div>
              <div class="venta-body">
                <div class="venta-item">
                  <div class="bodypart">
                    <div class="item-info cant">x 2</div>
                    <div class="item-info titulo">Dinosaurios y Vida Prehistórica, DKL</div>
                    <div class="item-info codebar">704358977480</div>
                    <div class="item-info precio">$1150.00</div>
                    <div class="item-info disc">5%115</div>
                    <div class="item-info subtotal">$2185.00</div>
                  </div>
                </div>

              </div>
            </div>
            <div class="detailed-venta">
              <div class="venta-head">
                <div class="head-item date-hour">3:40pm</div>
                <div class="head-item venta-id">00102</div>
                <div class="head-item venta-price-box">
                  <div class="price-carats">$
                    <div class="price-numb">2185.00</div>
                  </div>
                </div>
              </div>
              <div class="div-line"></div>
              <div class="venta-details">
                <div class="details-summary">
                  <div class="summary labels">
                    <div class="summary-item label cash">EFECTIVO</div>
                    <div class="summary-item label card">TARJETA</div>
                    <div class="summary-item label trans">TRANSFERENCIA</div>
                  </div>
                  <div class="summary cants">
                    <div class="summary-item cant cash">1500.00</div>
                    <div class="summary-item cant card">500.00</div>
                    <div class="summary-item cant trans">185.00</div>
                  </div>
                </div>
              </div>
              <div class="div-line"></div>
              <div class="venta-body">
                <div class="venta-item">
                  <div class="bodypart">
                    <div class="item-info cant">x 2</div>
                    <div class="item-info titulo">Dinosaurios y Vida Prehistórica, DKL</div>
                    <div class="item-info codebar">704358977480</div>
                    <div class="item-info precio">$1150.00</div>
                    <div class="item-info disc">5%115</div>
                    <div class="item-info subtotal">$2185.00</div>
                  </div>
                </div>

              </div>
            </div>
            <div class="detailed-venta">
              <div class="venta-head">
                <div class="head-item date-hour">3:40pm</div>
                <div class="head-item venta-id">00102</div>
                <div class="head-item venta-price-box">
                  <div class="price-carats">$
                    <div class="price-numb">2185.00</div>
                  </div>
                </div>
              </div>
              <div class="div-line"></div>
              <div class="venta-details">
                <div class="details-summary">
                  <div class="summary labels">
                    <div class="summary-item label cash">EFECTIVO</div>
                    <div class="summary-item label card">TARJETA</div>
                    <div class="summary-item label trans">TRANSFERENCIA</div>
                  </div>
                  <div class="summary cants">
                    <div class="summary-item cant cash">1500.00</div>
                    <div class="summary-item cant card">500.00</div>
                    <div class="summary-item cant trans">185.00</div>
                  </div>
                </div>
              </div>
              <div class="div-line"></div>
              <div class="venta-body">
                <div class="venta-item">
                  <div class="bodypart">
                    <div class="item-info cant">x 2</div>
                    <div class="item-info titulo">Dinosaurios y Vida Prehistórica, DKL</div>
                    <div class="item-info codebar">704358977480</div>
                    <div class="item-info precio">$1150.00</div>
                    <div class="item-info disc">5%115</div>
                    <div class="item-info subtotal">$2185.00</div>
                  </div>
                </div>

              </div>
            </div>
          </div>
          <div class="event-day">
            <div class="event-day-header">
              <div class="day-date">Jueves, 22 de Febrero 2024</div>
              <div class="options-box">
                <div class="details-summary">
                  <div class="summary labels">
                    <div class="summary-item label cash">EFECTIVO</div>
                    <div class="summary-item label card">TARJETA</div>
                    <div class="summary-item label trans">TRANSFERENCIA</div>
                  </div>
                  <div class="summary cants">
                    <div class="summary-item cant cash">1500.00</div>
                    <div class="summary-item cant card">500.00</div>
                    <div class="summary-item cant trans">185.00</div>
                  </div>
                </div>
                <div class="daily-total-box">

                  <div class="daily-venta">
                    $
                    <div class="daily-venta-numb">21,885.00</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="detailed-venta">
              <div class="venta-head">
                <div class="head-item date-hour">3:40pm</div>
                <div class="head-item venta-id">00102</div>
                <div class="head-item venta-price-box">
                  <div class="price-carats">$
                    <div class="price-numb">2185.00</div>
                  </div>
                </div>
              </div>
              <div class="div-line"></div>
              <div class="venta-details">
                <div class="details-summary">
                  <div class="summary labels">
                    <div class="summary-item label cash">EFECTIVO</div>
                    <div class="summary-item label card">TARJETA</div>
                    <div class="summary-item label trans">TRANSFERENCIA</div>
                  </div>
                  <div class="summary cants">
                    <div class="summary-item cant cash">1500.00</div>
                    <div class="summary-item cant card">500.00</div>
                    <div class="summary-item cant trans">185.00</div>
                  </div>
                </div>
              </div>
              <div class="div-line"></div>
              <div class="venta-body">
                <div class="venta-item">
                  <div class="bodypart">
                    <div class="item-info cant">x 2</div>
                    <div class="item-info titulo">Dinosaurios y Vida Prehistórica, DKL</div>
                    <div class="item-info codebar">704358977480</div>
                    <div class="item-info precio">$1150.00</div>
                    <div class="item-info disc">5%115</div>
                    <div class="item-info subtotal">$2185.00</div>
                  </div>
                </div>

              </div>
            </div>
            <div class="detailed-venta">
              <div class="venta-head">
                <div class="head-item date-hour">3:40pm</div>
                <div class="head-item venta-id">00102</div>
                <div class="head-item venta-price-box">
                  <div class="price-carats">$
                    <div class="price-numb">2185.00</div>
                  </div>
                </div>
              </div>
              <div class="div-line"></div>
              <div class="venta-details">
                <div class="details-summary">
                  <div class="summary labels">
                    <div class="summary-item label cash">EFECTIVO</div>
                    <div class="summary-item label card">TARJETA</div>
                    <div class="summary-item label trans">TRANSFERENCIA</div>
                  </div>
                  <div class="summary cants">
                    <div class="summary-item cant cash">1500.00</div>
                    <div class="summary-item cant card">500.00</div>
                    <div class="summary-item cant trans">185.00</div>
                  </div>
                </div>
              </div>
              <div class="div-line"></div>
              <div class="venta-body">
                <div class="venta-item">
                  <div class="bodypart">
                    <div class="item-info cant">x 2</div>
                    <div class="item-info titulo">Dinosaurios y Vida Prehistórica, DKL</div>
                    <div class="item-info codebar">704358977480</div>
                    <div class="item-info precio">$1150.00</div>
                    <div class="item-info disc">5%115</div>
                    <div class="item-info subtotal">$2185.00</div>
                  </div>
                </div>

              </div>
            </div>
            <div class="detailed-venta">
              <div class="venta-head">
                <div class="head-item date-hour">3:40pm</div>
                <div class="head-item venta-id">00102</div>
                <div class="head-item venta-price-box">
                  <div class="price-carats">$
                    <div class="price-numb">2185.00</div>
                  </div>
                </div>
              </div>
              <div class="div-line"></div>
              <div class="venta-details">
                <div class="details-summary">
                  <div class="summary labels">
                    <div class="summary-item label cash">EFECTIVO</div>
                    <div class="summary-item label card">TARJETA</div>
                    <div class="summary-item label trans">TRANSFERENCIA</div>
                  </div>
                  <div class="summary cants">
                    <div class="summary-item cant cash">1500.00</div>
                    <div class="summary-item cant card">500.00</div>
                    <div class="summary-item cant trans">185.00</div>
                  </div>
                </div>
              </div>
              <div class="div-line"></div>
              <div class="venta-body">
                <div class="venta-item">
                  <div class="bodypart">
                    <div class="item-info cant">x 2</div>
                    <div class="item-info titulo">Dinosaurios y Vida Prehistórica, DKL</div>
                    <div class="item-info codebar">704358977480</div>
                    <div class="item-info precio">$1150.00</div>
                    <div class="item-info disc">5%115</div>
                    <div class="item-info subtotal">$2185.00</div>
                  </div>
                </div>

              </div>
            </div>
            <div class="detailed-venta">
              <div class="venta-head">
                <div class="head-item date-hour">3:40pm</div>
                <div class="head-item venta-id">00102</div>
                <div class="head-item venta-price-box">
                  <div class="price-carats">$
                    <div class="price-numb">2185.00</div>
                  </div>
                </div>
              </div>
              <div class="div-line"></div>
              <div class="venta-details">
                <div class="details-summary">
                  <div class="summary labels">
                    <div class="summary-item label cash">EFECTIVO</div>
                    <div class="summary-item label card">TARJETA</div>
                    <div class="summary-item label trans">TRANSFERENCIA</div>
                  </div>
                  <div class="summary cants">
                    <div class="summary-item cant cash">1500.00</div>
                    <div class="summary-item cant card">500.00</div>
                    <div class="summary-item cant trans">185.00</div>
                  </div>
                </div>
              </div>
              <div class="div-line"></div>
              <div class="venta-body">
                <div class="venta-item">
                  <div class="bodypart">
                    <div class="item-info cant">x 2</div>
                    <div class="item-info titulo">Dinosaurios y Vida Prehistórica, DKL</div>
                    <div class="item-info codebar">704358977480</div>
                    <div class="item-info precio">$1150.00</div>
                    <div class="item-info disc">5%115</div>
                    <div class="item-info subtotal">$2185.00</div>
                  </div>
                </div>

              </div>
            </div>
            <div class="detailed-venta">
              <div class="venta-head">
                <div class="head-item date-hour">3:40pm</div>
                <div class="head-item venta-id">00102</div>
                <div class="head-item venta-price-box">
                  <div class="price-carats">$
                    <div class="price-numb">2185.00</div>
                  </div>
                </div>
              </div>
              <div class="div-line"></div>
              <div class="venta-details">
                <div class="details-summary">
                  <div class="summary labels">
                    <div class="summary-item label cash">EFECTIVO</div>
                    <div class="summary-item label card">TARJETA</div>
                    <div class="summary-item label trans">TRANSFERENCIA</div>
                  </div>
                  <div class="summary cants">
                    <div class="summary-item cant cash">1500.00</div>
                    <div class="summary-item cant card">500.00</div>
                    <div class="summary-item cant trans">185.00</div>
                  </div>
                </div>
              </div>
              <div class="div-line"></div>
              <div class="venta-body">
                <div class="venta-item">
                  <div class="bodypart">
                    <div class="item-info cant">x 2</div>
                    <div class="item-info titulo">Dinosaurios y Vida Prehistórica, DKL</div>
                    <div class="item-info codebar">704358977480</div>
                    <div class="item-info precio">$1150.00</div>
                    <div class="item-info disc">5%115</div>
                    <div class="item-info subtotal">$2185.00</div>
                  </div>
                </div>

              </div>
            </div>
            <div class="detailed-venta">
              <div class="venta-head">
                <div class="head-item date-hour">3:40pm</div>
                <div class="head-item venta-id">00102</div>
                <div class="head-item venta-price-box">
                  <div class="price-carats">$
                    <div class="price-numb">2185.00</div>
                  </div>
                </div>
              </div>
              <div class="div-line"></div>
              <div class="venta-details">
                <div class="details-summary">
                  <div class="summary labels">
                    <div class="summary-item label cash">EFECTIVO</div>
                    <div class="summary-item label card">TARJETA</div>
                    <div class="summary-item label trans">TRANSFERENCIA</div>
                  </div>
                  <div class="summary cants">
                    <div class="summary-item cant cash">1500.00</div>
                    <div class="summary-item cant card">500.00</div>
                    <div class="summary-item cant trans">185.00</div>
                  </div>
                </div>
              </div>
              <div class="div-line"></div>
              <div class="venta-body">
                <div class="venta-item">
                  <div class="bodypart">
                    <div class="item-info cant">x 2</div>
                    <div class="item-info titulo">Dinosaurios y Vida Prehistórica, DKL</div>
                    <div class="item-info codebar">704358977480</div>
                    <div class="item-info precio">$1150.00</div>
                    <div class="item-info disc">5%115</div>
                    <div class="item-info subtotal">$2185.00</div>
                  </div>
                </div>

              </div>
            </div>
            <div class="detailed-venta">
              <div class="venta-head">
                <div class="head-item date-hour">3:40pm</div>
                <div class="head-item venta-id">00102</div>
                <div class="head-item venta-price-box">
                  <div class="price-carats">$
                    <div class="price-numb">2185.00</div>
                  </div>
                </div>
              </div>
              <div class="div-line"></div>
              <div class="venta-details">
                <div class="details-summary">
                  <div class="summary labels">
                    <div class="summary-item label cash">EFECTIVO</div>
                    <div class="summary-item label card">TARJETA</div>
                    <div class="summary-item label trans">TRANSFERENCIA</div>
                  </div>
                  <div class="summary cants">
                    <div class="summary-item cant cash">1500.00</div>
                    <div class="summary-item cant card">500.00</div>
                    <div class="summary-item cant trans">185.00</div>
                  </div>
                </div>
              </div>
              <div class="div-line"></div>
              <div class="venta-body">
                <div class="venta-item">
                  <div class="bodypart">
                    <div class="item-info cant">x 2</div>
                    <div class="item-info titulo">Dinosaurios y Vida Prehistórica, DKL</div>
                    <div class="item-info codebar">704358977480</div>
                    <div class="item-info precio">$1150.00</div>
                    <div class="item-info disc">5%115</div>
                    <div class="item-info subtotal">$2185.00</div>
                  </div>
                </div>

              </div>
            </div>
            <div class="detailed-venta">
              <div class="venta-head">
                <div class="head-item date-hour">3:40pm</div>
                <div class="head-item venta-id">00102</div>
                <div class="head-item venta-price-box">
                  <div class="price-carats">$
                    <div class="price-numb">2185.00</div>
                  </div>
                </div>
              </div>
              <div class="div-line"></div>
              <div class="venta-details">
                <div class="details-summary">
                  <div class="summary labels">
                    <div class="summary-item label cash">EFECTIVO</div>
                    <div class="summary-item label card">TARJETA</div>
                    <div class="summary-item label trans">TRANSFERENCIA</div>
                  </div>
                  <div class="summary cants">
                    <div class="summary-item cant cash">1500.00</div>
                    <div class="summary-item cant card">500.00</div>
                    <div class="summary-item cant trans">185.00</div>
                  </div>
                </div>
              </div>
              <div class="div-line"></div>
              <div class="venta-body">
                <div class="venta-item">
                  <div class="bodypart">
                    <div class="item-info cant">x 2</div>
                    <div class="item-info titulo">Dinosaurios y Vida Prehistórica, DKL</div>
                    <div class="item-info codebar">704358977480</div>
                    <div class="item-info precio">$1150.00</div>
                    <div class="item-info disc">5%115</div>
                    <div class="item-info subtotal">$2185.00</div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
        <div class="details-box-module pagos"></div>
      </div>
    </div>
    <div class="report-box balance"></div>
  </div>
</div>