body {

  .article-socket {

    .dataconfig-box {

      .body {

        .main-screen {

          .cards-box {
            position: relative;
            height: auto;
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            transition: 300ms;

            .no-edit {
              width: 100%;
              height: 400px;
              display: flex;
              align-items: center;
              justify-content: center;
              font-size: 20px;
            }

            .editorial-card {
              width: 22%;
              height: 120px;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: space-between;
              position: relative;
              background: #000000;
              border-radius: 3px;
              border: 1px solid #0f0f0f;
              overflow: hidden;
              cursor: pointer;
              --editgradient: linear-gradient(to right, #16ffaa, #5f5fff, #8b3fe1);
              transition: 300ms ease;
              margin: 10px;

              &:after {
                position: absolute;
                content: "";
                width: 75%;
                height: 1px;
                inset: 60% auto;
                border-radius: 0.125rem;
                background: var(--editgradient);
                z-index: 4;
              }

              &:hover {
                border: 1px solid #3122228b;

                & .editorial-name {
                  transform: translateY(-15px) scale(1.2);
                }

                & .glow {
                  opacity: 0.1;
                }

                & .borderglow {
                  opacity: 0.1;
                }
              }

              .glow,
              .borderglow {
                position: absolute;
                width: 20rem;
                height: 20rem;
                transform: translate(-50%, -50%);
                background: radial-gradient(circle closest-side at center, #ffffff, transparent);
                opacity: 0;
                transition: opacity 300ms ease;
              }

              .glow {
                z-index: 3;
              }

              .borderglow {
                z-index: 1;
              }

              .editorial-name {
                width: fit-content;
                height: 45%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-end;
                color: white;
                font-weight: 500;
                font-size: 17px;
                transition: transform 300ms ease;
                z-index: 5;
              }

              .edit-bit {
                width: fit-content;
                height: 40%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                transition: transform 300ms ease;
                z-index: 5;
                font-size: 14px;

                &.id {
                  color: #595959;
                  font-family: monospace;
                }
              }
            }
          }
        }

      }
    }
  }
}