body .logo-box {
  height: 10%;
}
body .home-box {
  position: relative;
  width: 100%;
  height: 90%;
  z-index: 100;
  display: flex;
  justify-content: space-evenly;
}
body .home-box .hub {
  width: 95%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
body .home-box .hub .hubBox {
  position: relative;
  height: 95%;
  margin-top: 1%;
  border: 1px solid rgba(255, 255, 255, 0.2352941176);
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.1333333333), inset 0 0 30px #000000;
  background: rgba(0, 0, 0, 0);
  transition: 300ms ease;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  -webkit-backdrop-filter: blur(100px);
          backdrop-filter: blur(100px);
}
body .home-box .hub .hubBox:hover {
  border: 1px solid rgba(255, 255, 255, 0.6156862745);
}
body .home-box .hub .hubBox.events-box {
  width: 78%;
  font-size: 20px;
}
body .home-box .hub .hubBox.events-box .events-body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scrollbar-width: none;
  gap: 20px;
}
body .home-box .hub .hubBox.events-box .events-body .events-year {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
  padding: 0 5px;
  scroll-snap-align: start;
}
body .home-box .hub .hubBox.events-box .events-body .events-year .year-header {
  width: 100%;
  height: 80px;
  display: flex;
  position: sticky;
  top: 0;
  font-size: 24px;
}
body .home-box .hub .hubBox.events-box .events-body .events-year .year-header .eventYear {
  width: -moz-fit-content;
  width: fit-content;
  height: 100%;
  display: flex;
  align-items: center;
  margin: 0 2%;
  font-size: 50px;
}
body .home-box .hub .hubBox.events-box .events-body .events-year .year-body {
  position: relative;
  width: 86%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}
body .home-box .hub .hubBox.events-box .events-body .events-year .year-body .event-card {
  position: relative;
  height: 330px;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 3% 3% 0;
  background: #000000;
  border-radius: 10px;
  cursor: pointer;
}
body .home-box .hub .hubBox.events-box .events-body .events-year .year-body .event-card::before {
  width: 200px;
  height: 100px;
  content: "";
  position: absolute;
  background: rgba(255, 252, 157, 0.2);
  border-radius: 50%;
  right: 0;
  bottom: 5%;
  transition: 400ms;
}
body .home-box .hub .hubBox.events-box .events-body .events-year .year-body .event-card:hover::before {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  bottom: 0;
  right: 0;
  background: #ffffff;
}
body .home-box .hub .hubBox.events-box .events-body .events-year .year-body .event-card:hover .card {
  box-shadow: 0 0 50px rgba(255, 255, 255, 0.1921568627);
  border: 1px solid #000000;
  color: #000000;
}
body .home-box .hub .hubBox.events-box .events-body .events-year .year-body .event-card:hover .card .eventName {
  padding: 10px 10px;
}
body .home-box .hub .hubBox.events-box .events-body .events-year .year-body .event-card:hover .card .eventLocation {
  color: #222222;
}
body .home-box .hub .hubBox.events-box .events-body .events-year .year-body .event-card:hover .card .eventDate span {
  transform: scale(1.1);
}
body .home-box .hub .hubBox.events-box .events-body .events-year .year-body .event-card:hover .arrow-box {
  opacity: 1;
}
body .home-box .hub .hubBox.events-box .events-body .events-year .year-body .event-card .card {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  -webkit-backdrop-filter: blur(40px);
          backdrop-filter: blur(40px);
  background: rgba(0, 0, 0, 0);
  border: 1px solid rgba(255, 255, 255, 0.737254902);
  transition: 400ms;
  color: #ffffff;
}
body .home-box .hub .hubBox.events-box .events-body .events-year .year-body .event-card .card .eventName {
  width: 100%;
  height: 42%;
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 1.2px;
  padding: 15px 30px;
  transition: 400ms ease;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
body .home-box .hub .hubBox.events-box .events-body .events-year .year-body .event-card .card .eventLocation {
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 13px;
  letter-spacing: 1.2px;
  color: #dddddd;
  margin: 0 25px;
  transition: 400ms ease;
}
body .home-box .hub .hubBox.events-box .events-body .events-year .year-body .event-card .card .eventDate {
  width: 80%;
  height: 35%;
  font-size: 24px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
}
body .home-box .hub .hubBox.events-box .events-body .events-year .year-body .event-card .card .eventDate span {
  width: 100%;
  height: 30%;
  display: flex;
  align-items: center;
  transition: 400ms ease;
}
body .home-box .hub .hubBox.events-box .events-body .events-year .year-body .event-card .card .eventId {
  position: absolute;
  bottom: 0;
  width: 90%;
  height: 8%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #888888;
  font-size: 14px;
  font-weight: 500;
}
body .home-box .hub .hubBox.events-box .events-body .events-year .year-body .event-card .arrow-box {
  position: absolute;
  width: 30px;
  height: 30px;
  bottom: 2%;
  right: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: 800ms ease;
}
body .home-box .hub .hubBox.events-box .events-body .events-year .year-body .event-card .arrow-box .entry-arrow {
  width: 100%;
  transform: rotate(180deg);
}
body .home-box .hub .hubBox.options-box {
  width: 20%;
  font-size: 15px;
}
body .home-box .hub .hubBox.options-box .btnsBox {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body .home-box .hub .hubBox.options-box .btnsBox .div-line {
  width: 80%;
  height: 1px;
  background: #ffffff;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.8980392157) 0%, rgba(0, 0, 0, 0) 100%);
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.6274509804);
  position: absolute;
}
body .home-box .hub .hubBox.options-box .btnsBox.main {
  height: 18%;
}
body .home-box .hub .hubBox.options-box .btnsBox.other {
  height: 40%;
  justify-content: space-evenly;
}
body .home-box .hub .hubBox.options-box .btnsBox.session {
  position: absolute;
  bottom: 0;
  height: 18%;
  justify-content: center;
}
body .home-box .hub .hubBox.options-box .btnsBox.session .div-line {
  top: 0;
}
body .home-box .hub .hubBox.options-box .btnsBox .mainBtn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(255, 255, 255, 0.6156862745);
  border-radius: 5px;
  transition: 300ms ease;
  cursor: pointer;
  font-weight: 500;
  background: black;
  color: white;
  z-index: 200;
}
body .home-box .hub .hubBox.options-box .btnsBox .mainBtn .innerDiv-line {
  width: 100%;
  background: #ffffff;
  background: radial-gradient(circle, #ffffff 0%, rgba(0, 115, 139, 0) 100%);
  box-shadow: 0 0 20px white;
  position: absolute;
  bottom: -0.5px;
  height: 2px;
}
body .home-box .hub .hubBox.options-box .btnsBox .mainBtn:hover {
  background: white;
  color: black;
  box-shadow: 0 0 40px 10px rgba(0, 0, 0, 0.7647058824);
  font-weight: 800;
}
body .home-box .hub .hubBox.options-box .btnsBox .mainBtn.newEvent {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 80%;
  height: 60px;
}
body .home-box .hub .hubBox.options-box .btnsBox .mainBtn.fullStorage {
  font-size: 14px;
  width: 65%;
  height: 45px;
}
body .home-box .hub .hubBox.options-box .btnsBox .mainBtn.dataConfig {
  font-size: 14px;
  width: 65%;
  height: 45px;
}
body .home-box .hub .hubBox.options-box .btnsBox .session-btn {
  width: 40%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 0, 0, 0.2352941176);
  border-radius: 5px;
  border: 1px solid #ff0000;
  color: #ff0000;
  transition: 300ms ease;
  cursor: pointer;
  font-size: 12px;
}
body .home-box .hub .hubBox.options-box .btnsBox .session-btn:hover {
  background: #ff0000;
  color: white;
}/*# sourceMappingURL=styles.css.map */